.font-fix {
    font-size: 12px;
}
.toggle.filters legend {
    cursor: pointer;
}

#playlist-id {
    font-size:12px;
    width:50px
}

.toolbar h2 {
    width:700px;
}

.select2-chosen {
    font-size: 12px;
}

.content .actions {
    margin: 0 auto;
    width: 500px;
}

.plugin-toolbar {
    height: 50px;
}

#playlist-name-label, #playlist-id-label {
    float: left;
    padding: 0 0 0 12px;
    line-height: 18px;
}

.plugin-context-block {
    height: 565px;
    width: calc(50% - 10px);
    margin: 0;
    background: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    padding: 0;
    }
    .context-content > .plugin-context-block {
        margin: 0 20px 0 0;
        width: calc(50% - 10px);
        padding: 10px;
    }
    .context-content > .plugin-context-block:nth-child(3) {
        margin: 0;
    }
    .plugin-context-block .row {
        margin: 10px -5px;
    }
#drag-here-to-add-to-list {
    border: 2px #CCCCCC dashed;
    margin: 0px 10px 10px 10px;
    padding: 20px;
    color: #CCCCCC;
    font-size: 20px;
}
.context-item-subject {
    color: #343434;
    padding-top: 5px;
}
.menu-options {
    float: right;
    display: inline;
    margin-right: 44px;
}
.context-item-summary {
    color: #007fb3;
}
.context-search {
    overflow-y: scroll;
}
.context-search .context-item {
    border-bottom: none;
}
ul#context_list {
    display:block;
    height: 509px;
    width: 100%;
    overflow-y:auto;
    overflow-x:hidden;
    padding: 10px 0px 0px 0px;
}
.fade-featured {
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}
.first-menu {
    margin: 0 0 10px 0;
    padding: 0;
}
.system_pref h3 {
    border: none;
}
.loading-container {
    position: relative;
}
.loading-container .loading:before, .loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    min-width: 50px;
}
.loading-container .loading:before {
    background-color: white;
    opacity: 0.5;
}
.context-item-header {
    margin-bottom: 5px;
}
#playlistId {
    width: 70px;
}
.context-list .context-item {
    width: auto;
    max-width: 100%;
    display: block;
    float: none;
    clear: both;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0 8px 10px 10px;
    border: 1px solid #E2E2E2;
}
.context-preview {
    margin-top: 22px;
    margin-left: 11px;
}
.list-group-item {
    padding: 3px 0 3px 15px;
    border: none;
    background: transparent;
}
.system_pref input {
    float: left !important;
    padding: 4px 10px;
    height: auto;
}
.input-filter-date {
    width: 200px;
    float: left !important;
}
.container {
    margin: 0;
    padding: 0 10px;
    overflow-x: hidden;
}

.heading button {
    line-height: 1em;
    box-shadow: none !important;
    padding: 8px 8px 10px;
    margin: 0;
    width: 100%;
    text-align: left;
    outline:none !important;

}
.btn-sf-invisible {
    background: #e6e6e6;
    border: 0;
    padding: 0;
}

.filters {
    background: #e6e6e6;
    margin: 20px 0px;
    padding-right: 14px;
}
.filters .container {
    background: transparent;
    padding:0;
    overflow-x: visible; 
}
.filters .row {
    margin-right: -15px;
    margin-left: -15px;
}
.filters-left {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
}
.filters-right {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
}
.filters input {
    width: 100%;
    background: #FFF;
    border: 1px solid #aaa;
}
.filters .glyphicon {
    font-size: 12px;
}
.add-text {
    text-transform: uppercase;
}
.ng-table-pager {
    margin: 0 auto;
    margin-top: -20px;
}
.ui-datepicker-trigger {
    margin-top: 5px;
    position: absolute;
    top: 4px;
    right: 6px;
}
.limit-input {
    float: right !important;
    }
    .limit-input label {
        padding: 5px 6px 0 6px !important;
    }
.modal-body {
    font-size: 14px;
}

.context-content {
    border: none;
    background: transparent;
    box-shadow: none;
    height: auto;
    clear: both;
}
.context-list-results {
    height: auto;
    border: none;
    background: transparent;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-top: 1px solid #DDD;
    border-right: 1px solid transparent;
}
.smartlist .table {
    background: white;
    border-style: none;
    }
    .smartlist .table tr td,
    .smartlist .table tr th {
        border-width: 1px !important;
        border-color: #E2E2E2;
    }
    .smartlist .table>thead:first-child>tr:first-child>th {
        border-top: 1px solid #E2E2E2 !important;
    }
.select2-container {
    width: 100%;
}
.select2-container .select2-choice {
    border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    height: auto !important;
    padding: 0px 8px 1px 8px !important;
}
.select2-container .select2-choice > .select2-chosen {
    max-width: 200px;
}
.save-button-bar {
    margin-left: 0 !important;
}
.list-inline>li {
    padding: 0 2px;    
}
.list-inline>li:first-child,
.list-inline>li:nth-child(6) {
    border-right: 1px solid #ccc;
    padding-right: 20px;
    margin-right: 14px;
}
.error-custom {
    line-height: 26px;
    padding-left: 10px;
    color: #a94442;
}


/* Media query */
@media only screen and (max-width: 1091px) {
    .first-menu {
        min-height: 75px;
    }
}