.font-fix {
    font-size: 12px;
}
.toggle.filters legend {
    cursor: pointer;
}

#playlist-name {
    width: 200px;
}

#playlist-id {
    font-size:12px;
    width:50px
}

.toolbar h2 {
    width:700px;
}

.select2-chosen {
    font-size: 12px;
}

.content .actions {
    margin: 0 auto;
    width: 500px;
}

.plugin-toolbar {
    height: 50px;
}

#playlist-name-label, #playlist-id-label {
    float: left;
    padding: 0 10px;
    line-height: 25px;
}

.plugin-context-block {
    height: 565px;
    width: 47.2%;
}
#drag-here-to-add-to-list {
    border: 2px #CCCCCC dashed;
    height: 70px;
    width: 96%;
    margin: 10px 9px 20px 9px;
    padding: 20px 5px 0px 26px;
    color: #CCCCCC;
    font-size: 20px;
}
.context-item-subject {
    color: #343434;
    padding-top: 5px;
}
.menu-options {
    float: right;
    display: inline;
    margin-right: 44px;
}
.context-item-summary {
    color: #007fb3;
}
.context-search .context-item {
    border-bottom: none;
}
ul#context_list {
    display:block;
    height: 433px;
    width: 100%;
    overflow-y:auto;
    overflow-x:hidden;
    padding: 5px 0px 0px 0px;
}
.fade-featured {
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}
.first-menu {
    margin: 0 auto;
    width: 1100px;
}
.system_pref h3 {
    border: none;
}
.loading-container {
    position: relative;
}
.loading-container .loading:before, .loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    min-width: 50px;
}
.loading-container .loading:before {
    background-color: white;
    opacity: 0.5;
}
.context-item-header {
    margin-bottom: 5px;
}
#playlistId {
    width: 70px;
}
.context-list .context-item {
    width: 517px;
}
.context-preview {
    margin-top: 22px;
    margin-left: 11px;
}
.list-group-item {
    padding: 3px 15px;
    border: none;
    background: transparent;
}
.system_pref input {
    float: left !important;
}
.input-filter {
    width: 200px;
    float: left !important;
}
.container {
    margin: 0;
    padding: 0 10px;
}

.heading button {
    line-height: 1em;
    box-shadow: none !important;
    padding: 8px 8px 10px;
    margin: 0;
    width: 100%;
    text-align: left;
    outline:none !important;

}
.btn-sf-invisible {
    background: #F5F5F5;
    border: 0;
    padding: 0;
}

.filters {
    background: #F1F1F1;
    margin: 20px 0px;
}
.add-text {
    text-transform: uppercase;
}
.ng-table-pager {
    margin: 0 auto;
    width: 65%;
    margin-top: -20px;
}
.ui-datepicker-trigger {
    margin-top: 5px;
}