/* General styles */

.container {
	width: 100%;
	padding-top: 0px;
	border: none;
	background: #f5f5f5;
}

.meta-bar {
	font-size: 11px;
	height: 23px;
}

.meta-bar ul {
	padding: 2px 0 0 0;
}

.meta-bar ul li {
	float: left;
}

.desktop_hide {
	display: none;
}


/* Navigation menu */

.navbar-default {
	background: #3b3b3b;
	border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	padding: 8px 15px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	background: #252525;
}

.navbar-default .navbar-nav>li>a:focus {
	color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color: #fff;
	background-color: #252525;
}

.navbar {
	border-radius: 0px;
	min-height: inherit;
	margin-bottom: 0px;
}

.navbar-collapse {
	padding-left: 0px;
}

.dropdown-menu {
	background: #282828;
}

.dropdown-menu li {
	position: relative;
}

.dropdown-menu li ul {
	display: none;
}

.dropdown-menu li:hover > ul {
	display: block;
	position: absolute;
	top: 0;
	left: 100%;
	padding: 5px 0px 5px 0px;
	list-style: none;
	background-color: #282828;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	background-clip: padding-box;
}

.dropdown-menu li a {
	display: block;
	padding: 3px 25px 3px 20px;
	clear: both;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.428571429;
	color: #fff;
	white-space: nowrap;
	border: 1px solid transparent;

}

.dropdown-menu li a:hover, .dropdown-menu li a:focus {
	color: #fff;
	text-decoration: none;
	border: 1px solid #409fc6;
	background-color: #007fb3;
}

.dropdown-menu .divider {
	background-color: #535353;
}

.caret-right {
	border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #999;
	display: inline-block;
	height: 0;
	opacity: 1;
	width: 0;
	position: absolute;
	right: 10px;
	top: 10px;
}

.navbar .logo {
	margin: 8px 0px 0px 0px;
}

.navbar-default .navbar-nav>.dropdown>a:hover .caret, .navbar-default .navbar-nav>.dropdown>a:focus .caret {
	border-top-color: #777;
	border-bottom-color: #777;
}

/* Breadcrumb */

.breadcrumb {
	font-size: 11px;
	text-align: left;
	padding: 7px 0px 7px 16px;
	margin-bottom: 0px;
	border-bottom: 1px solid #cccccc;
	clear: both;
	background: #fff;
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 0px 4px rgba(0,0,0,.15);
	box-shadow: 0 0px 4px rgba(0,0,0,.15);
	border-radius: 0px;
}

.breadcrumb .category {
	font-weight: bold;
}

.breadcrumb li {
	position: relative;
}

.breadcrumb li:after {
	content: url('http://rockstar.lab.sourcefabric.org/admin-style/images/breadcrumb_arrow.png');
	position: relative;
	height: 10px;
	width: 10px;
	visibility: visible;
	display: inline-block;
	margin-left: 10px;
}

.breadcrumb>li+li:before {
	display: none;
}


/* Toolbar */

.toolbar {
	padding: 10px 24px 15px 30px;
}

/* Main content */

.action_buttons {
	margin-left: 30px;
}

.action_buttons input[type="file"] {
	display: inline-block;
}

@media (max-width: 768px) {
	.desktop_hide {
		display: inline-block;
	}
}

@media (max-width: 767px) {
	
	.navbar-collapse {
	padding-left: 15px;
	}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #fff;
		border: 1px solid #409fc6;
		background-color: #007fb3;
	}

	.dropdown-menu li:hover > ul {
		padding-left: 20px;
		position: relative;
		left: 0px;
	}
}