# There might be no access to apache config, set options here
DirectoryIndex index.php index.html
Options -Indexes +FollowSymLinks -MultiViews

AddType video/ogg .ogm
AddType video/ogg .ogv
AddType audio/ogg .ogg
AddType video/mp4 .mp4
AddType video/webm .webm

AddType application/vnd.ms-fontobject    .eot
AddType application/x-font-opentype      .otf
AddType image/svg+xml                    .svg
AddType application/x-font-ttf           .ttf
AddType application/font-woff            .woff

# Options might not allowed here, use Rewrite rules instead
<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_URI} /+images/+cache
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . index.php [L]

    RewriteRule ^bundles/(.*)$ public/bundles/$1

    RewriteCond %{REQUEST_URI} !\.php$
    RewriteCond %{REQUEST_URI} !\.html$
    RewriteCond %{REQUEST_URI} !\.css$
    RewriteCond %{REQUEST_URI} !\.woff$
    RewriteCond %{REQUEST_URI} !\.ttf$
    RewriteCond %{REQUEST_URI} !\.svg$
    RewriteCond %{REQUEST_URI} !\.otf$
    RewriteCond %{REQUEST_URI} !\.eot$
    RewriteCond %{REQUEST_URI} !\.js$
    RewriteCond %{REQUEST_URI} !\.ico$
    RewriteCond %{REQUEST_URI} !/+admin
    RewriteCond %{REQUEST_URI} !/+install
    RewriteCond %{REQUEST_URI} !/+robots.txt$
    RewriteCond %{REQUEST_URI} !/+crossdomain.xml$
    RewriteCond %{REQUEST_URI} !/plugins/([^/]*)?/+js
    RewriteCond %{REQUEST_URI} !/plugins/([^/]*)?/+css
    RewriteCond %{REQUEST_URI} !/plugins/([^/]*)?/+images
    RewriteCond %{REQUEST_URI} !/plugins/([^/]*)?/\.php$
    RewriteCond %{REQUEST_URI} !/+themes
    RewriteCond %{REQUEST_URI} !/public/+videos
    RewriteCond %{REQUEST_URI} !/public/+pdf
    RewriteCond %{REQUEST_URI} !^/images/
    RewriteCond %{REQUEST_URI} !/+images/+cache
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . index.php [L]

    RewriteCond %{REQUEST_URI} .tpl$
    RewriteRule . index.php [L]

    RewriteCond %{REQUEST_URI} /+admin$|/+admin/+.*|/+admin-files
    RewriteRule . admin.php [L]
</IfModule>

# Uncomment it for gui backup/restore process
# NOTE: It can be incompatible on some shared hosting
#php_value output_buffering Off
