{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ parent() }} - {{ message }}{% endblock %}
{% block admin_content %}
<div class="alert alert-danger" style="font-size: 14px"><center>{{ message }}</center></div>
{% endblock %}