{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ 'nopermissions'|trans }} - {{ parent() }}{% endblock %}
{% block admin_content %}
<div class="alert alert-danger" style="font-size: 14px"><center>{{ 'nopermissions'|trans }}</center></div>
{% endblock %}