composer.phar
newscoop/images/*
newscoop/cache/*
newscoop/files/*
newscoop/plugins/*
newscoop/backup/*
newscoop/vendor/
newscoop/newscoop-indexer.lock
newscoop/.htaccess
newscoop/conf/configuration.php
newscoop/conf/database_conf.php
newscoop/templates_cache/*
newscoop/system_preferences.php
newscoop/themes/publication_*
newscoop/themes/unassigned/empty/
newscoop/themes/unassigned/system_templates/
newscoop/install/cron_jobs/all_at_once
newscoop/.htaccess*
newscoop/application/configs/application.ini
.vagrant
.htaccess
.htaccess-default
