newscoop/images/*
newscoop/cache/*
newscoop/plugins/*
newscoop/backup/*
newscoop/vendor/
newscoop/newscoop-indexer.lock
newscoop/.htaccess
newscoop/conf/configuration.php
newscoop/conf/database_conf.php
newscoop/templates_cache/*
newscoop/themes/publication_*
newscoop/themes/unassigned/empty/
newscoop/themes/unassigned/system_templates/
newscoop/install/cron_jobs/all_at_once
newscoop/application/configs/application.ini
newscoop/application/configs/parameters/custom_parameters.yml
newscoop/composer.phar