@charset "utf-8";
/* CSS Document */


a, a:active, a:visited {color:#31827d;}
a:hover {color:#1f6661;}
h1, h2, h3, h4, h5, h6 {color:#464646; }

/* ==== Medium gray font color ==== */
p.article-info,
#login-box form label,		
footer p,
.art-item header p,
p.cs_img_caption,
header#global hgroup a,
.community_ticker ul li small,
.users li h5 small,
.user-profile-data p.date,
.user-profile-data .profile dd, aside .profile dd, #sidebar .profile dd,
.item-list.article li time,
.location-list p small,
.issue-archive article h4,
.issue-content ul li time, .issue-content ul li .posts {color:#636363;}

/* ==== Very light gray background ==== */	
.user-search,
div#search-box,
fieldset.background-block, .register-block,
.collapsible h6, .location-list h6,
.form-element {background:#F2F2F2;}

/* ==== Light gray font color ==== */
ul.pagination li span,
#breadcrumbs li:before,
.issue-content ul li time:before, .issue-content ul li .posts:before {color:#d3d3d3;}

#login-box, #login-box form {background:#f4f9f8;}

.user-profile-data .profile dt, aside .profile dt, #sidebar .profile dt,
header#global hgroup a:hover {color:#000;}

#comment-list time {color:#999999;}

.location-list .location-content ul li:before {color:#cb0201;}

.issue-content ul li .posts {color:#464646;}

/* ==== Inputs ==== */	

input[type="text"], input[type="password"], textarea {
    border-color: #999999;
	}
	input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
		border-color:#31827d;
		}
button, input[type="submit"] {
    border-color:#1f6661;
    background:#31827d;
	color:#fff;
	}
button:hover , input[type="submit"]:hover {
    border-color:#1f6661;
    background:#1f6661;
	}

/* ==== Main navigation ==== */	
nav#main,
nav#main ul li {background:#5a9b97;}

nav#main ul li.selected,
nav#main ul li.selected a,
nav#main ul li a,
nav#main ul li.selected a:hover,
nav#main ul li a:hover,
nav#main .nav-header a {color: #fff;}

nav#main ul li.selected {
	background-color:#31827d;
	}
	nav#main ul li.selected a:hover {background-color:#1f6661;}

nav#main ul li a:hover, nav#main .nav-header a {background-color:#464646;}

/* ====  Pagination / Tab navigation ==== */
ul.pagination li span {
	border-color:#d3d3d3;
	background:#fff;
	}
ul.pagination li a:hover {
	border-color:#31827d;
	background-color:#5a9b97;
	color:#fff !important;
	}
ul.pagination li.selected a, ul.pagination li.selected a:hover {
	color:#fff !important;
	background-color:#31827d;
	border-color:#31827d;
	}

/* ==== Error ==== */
ul.errors li {
	background-color: #f6e8e8;
	border-color:#eed3d7;
	color: #a42323;
	}

/* ==== Alert box ==== */
.alert {
	background-color:#fcf8e3;
	border-color:#fbeed5;
	}
.alert-success {
	background-color:#edf9e7;
	border-color:#d6e9c6;
	}
	.alert-success, .alert-success h5 {color:#278f29;}

.alert-danger, .alert-error {
	background-color:#f6e8e8;
	border-color:#eed3d7;
	}
	.alert-danger, .alert-error,
	.alert-danger h5, .alert-error h5, .error-info {color:#a42323;}

.alert-info {
	background-color:#e4f2f9;
	border-color:#bce8f1;
	}
	.alert-info, .alert-info h5 {color:#31827d;}

/* ==== jQuery UI overrides ==== */
.ui-tabs-nav.ui-widget-header .ui-state-default {
	background:#FFF !important;
	}
.ui-widget-content a {
    color:#000000;
}
.ui-tabs .ui-tabs-panel a {
    color:#31827d !important;
	}
@media print {
  a, a:visited { color:#444 !important;}
}
		