/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */

/**
* Instead of html5docotor.com style reset, we are using 
* http://necolas.github.com/normalize.css/

/*! normalize.css 2011-06-27T20:08 UTC · http://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 element display
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article, aside, details, figcaption, figure, footer, 
header, hgroup, nav, section {
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 * Known limitation: IE6 will not apply style for 'audio[controls]'
 */

audio[controls], canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Removes Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    font-size: 100%; /* 1 */
    overflow-y: scroll; /* 2 */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* 3 */
    -webkit-text-size-adjust: 100%; /* 4 */
    -ms-text-size-adjust: 100%; /* 4 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
    margin: 0;
	font-family:Georgia, "Times New Roman", Times, serif;
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

button, input, select, textarea {
    font-family:  Arial, Helvetica, sans-serif !important;
}

/* =============================================================================
   Links
   ========================================================================== */

a {color:#31827d; outline:none;}
a:visited {color:#008000;}
a:focus {outline:none;}
a:hover, a:active {outline:none;}

/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3/4, S4/5, Chrome
*/

b, 
strong { 
    font-weight: bold; 
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Corrects font family set oddly in IE6, S5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre, code, kbd, samp {
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
    quotes: none;
}

/* 2 */

q:before, q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
    margin: 0;
}
figcaption {
    margin: 0;
	font-size:0.75em;
	color:#828282;
}

/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
    margin: 0;
}

/*
 * Define consistent margin and padding
 */

fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
	border:1px solid #D3D3D3;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */

legend {
    border: 0; /* 1 */
    *margin-left: -7px; /* 2 */
}

	
	

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, F3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,input,select,textarea {
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}
input[type="text"], input[type="password"], textarea {
    font-size: 0.75em; /* 1 */
    line-height: 1.25em;
    font-family: Arial, Helvetica, sans-serif; /* 1 */
    margin: 0; /* 2 */
    border: 1px solid #999999;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
	padding:4px 3px 3px;
	}
	input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
		border: 1px solid #31827d;
		outline:none;
		}
button, input[type="submit"] {
    font-size: 0.875em; /* 1 */
    line-height: 130%;
    margin: 0; /* 2 */
    border: 1px solid #1f6661;
    background: #31827d;
	color:#fff;
	padding:0.2em 1.5em 0.4em 1.5em;
	font-family: Georgia,"Times New Roman",Times,serif !important;
}
button.big, input[type="submit"].big {
    font-size: 1em;
	padding:0.2em 2em 0.3em 2em;
}
button:hover , input[type="submit"]:hover {
    border: 1px solid #1f6661;
    background: #1f6661;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-input-placeholder {color:#aaaaaa; outline:none; font-style:italic;}
input:-moz-placeholder {color:#aaaaaa; outline:none; font-style:italic;}
/*
 * 1. Addresses FF3/4 setting line-height using !important in the UA stylesheet
 * 2. Corrects inner spacing displayed oddly in IE6/7
 */

button,
input {
    line-height: normal; /* 1 */
    *overflow: visible;  /* 2 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 */

button,input[type="button"],input[type="reset"],input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
}

/*
 * Addresses box sizing set to content-box in IE8/9
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Corrects inner padding displayed oddly in S5, Chrome on OSX
 */

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/* =============================================================================
   Tables
   ========================================================================== */

/* 
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/**
 * Font normalization inspired by YUI Library fonts.css: developer.yahoo.com/yui/
 */

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #49f0ff; color:#fff; text-shadow: none; }
::selection { background:#49f0ff; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */

select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  font-family: Arial, Helvetica, sans-serif;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-family: Arial, Helvetica, sans-serif; margin: 0; line-height: 1.15em; color:#464646; }

h1 {font-family: Georgia,"Times New Roman", Times, serif;} 

a, a:active, a:visited { color: #31827d; text-decoration: none}
a:hover { color: #1f6661; text-decoration: underline}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {text-decoration: none;}

/**
 * Primary styles
 *
 * Author: sourcefabric.org
 */
 
 body {
  background-color: #fff;
 }
 
img, object {
	max-width: 100%;
}
p {
	margin: 0.5em 0;
	line-height:140%;
	}
#container {
	margin: 0 auto;
	background-color: #fff;
	padding: 0 20px;
	}
 
header#global hgroup {
	margin-top:0;
	margin-bottom:0;
	}
	header#global hgroup h1 {
	margin-bottom: 0 !important;
	}
 
header#global hgroup img {
  clear: both;
 }
 
header#global hgroup a {
  text-decoration: none;
  color: #666;
 }
 
header#global hgroup a:hover {
  color: #000;
 }
 
.left {
  float: left;
}

.right {
  float: right;
}

.noleftmarg {
  margin-left: 0!important;
}

.norightmarg {
  margin-right: 0!important;
}

.clearall {
  clear: both;
}

h1 {
  font-size: 2em;
  margin-bottom: .5em;
  font-weight:normal;
}

h2 {
  font-size: 1.5em;
}

h3 {
	font-size: 1.3125em; 
	border-bottom: 3px solid #aaaaaa;
	padding:0 0 5px 0;
	font-weight:normal;
	margin-bottom:8px;
	}
h4 {
	font-size: 1.1875em;
	}

h5 {
  font-size: 1.0em;
}

h6 {
  font-size: 0.85em;
}

ul#secnav {
  list-style: none;
  padding-left: 0; 
  margin: 5px 0 0 0; 
}
 
ul#secnav li {
  float: right;
  font-size: 0.825em; 
  margin: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
}

div#search-box {
	text-align: right;
	padding: 0 32px 0 0;
	margin: 24px 0 0;
	background: #f2f2f2;
	border:1px solid #d3d3d3;
	position:relative;
	height:40px;
	}
	div#search-box input[type="text"]{
		padding: 2px 3px !important;
		position:absolute;
		top:7px;
		left:7px;
		bottom:7px;
		height:20px;
		width:90%;
		}
	div#search-box input[type="submit"]{
		width:42px;
		height:26px;
		text-indent:-9999px;
		font-size:0.6875em;
		text-transform:uppercase;
		padding: 2px 3px 3px 3px !important;
		position:absolute;
		top:7px;
		right:7px;
		background-image:url(../_img/icon_search_white.png);
		background-repeat:no-repeat;
		background-position:center 5px;
		}

/* =============================================================================
   Main navigation
   ========================================================================== */

nav#main {
	margin: 10px 0;
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;  
	clear: both;
	background:#5a9b97;
	}
	nav#main ul {
		list-style: none;
		padding-left: 0;
		font-weight: bold;
		}
		nav#main ul li {
			float: left;
			text-transform: uppercase;
			font-size: 0.75em;
			background:#5a9b97;
			}
			nav#main ul li:last-child {
				float: right;
				}
				nav#main ul li a {
					color: #555555;
					color: #fff;
					text-decoration: none;
					margin: 0;
					padding: 0.5em 1em 0.4em 1em;
					display: block;
					letter-spacing:0.075em;
					
					}
					nav#main ul li a:hover {
						color: #fff;
						background-color: #464646;
						}
		nav#main ul li.selected {
			color: #fff;
			background-color: #31827d;
			}
			nav#main ul li.selected a {
				color: #fff;
				}
				nav#main ul li.selected a:hover {
					color: #fff;
					background-color: #1f6661;
					}

nav#main .nav-header {
	display: none;
	margin-bottom: 2px;
	}
	nav#main .nav-header a {
		display: block;
		cursor:pointer;
		font-family: Arial, Helvetica, sans-serif;
		color:#fff;
		background:#31827d;
		text-transform: uppercase;
		font-size: 0.8125em;
		font-weight:bold;
		padding: 0.7em 1em 0.6em 1em;
		letter-spacing:0.0825em;
		background: #464646 url(../_img/icon_nav-button.png) no-repeat right center;
		text-decoration:none !important;
		}
/* =============================================================================
   Breadcrumbs
   ========================================================================== */
#breadcrumbs {
	border-bottom:1px dotted #aaa;
	padding:7px 0 7px 4px;
	font-size:0.75em;
	font-family: Arial, Helvetica, sans-serif;
	list-style-type:none;
	margin: -10px 0 10px 0;
	}
	#breadcrumbs li {
		float:left;
		margin:0 0.6em 0 0;
		}
		#breadcrumbs li:before {
			content:'/';
			color:#D3D3D3;
			padding-right: 0.7em;
			}
			#breadcrumbs li:first-child:before {
				content:'';
				padding-right: 0;
				}

div#maincol {
  margin: 10px 0;
}

div#sidebar,
#articlepage aside {
	margin: 10px 0;
	margin-left: 3.8%;
	}
	div#sidebar p, div#sidebar ul {
		font-size:0.9375em;
		}

section#topstory {
  padding-bottom:16px;
}

/*#topsections {
  border-right: 1px solid #999;
}
*/
#topsections section {
	margin-right: 3.8%;
	}
	#topsections section p {
		line-height:120%;
		}
	#topsections section li {
		clear:both;
		margin-bottom:6px;
		}
	#topsections section li:first-child { margin-bottom:12px;}
		#topsections section li h4 img.a-icon {
			float:none !important;
			display:inline-block;
			margin: 0 0 0 5px !important;
			}
		#topsections section li h5 {
			font-weight:normal;
			} 
			#topsections section li h5 img.a-icon {
				float:none !important;
				display:inline-block;
				margin: 0 0 0 5px !important;
				} 

 p.article-info  {
 	border-top: 1px dotted #999;
 	border-bottom: 1px dotted #999;
 	padding: 3px 0;
 	font-size: 0.875em;
 	color: #636363;
	}
	
#highlights li {
	}
	#highlights ul {
		list-style: none;
		padding-left: 0;
		margin-left: 0;
		}
		#highlights ul li {
			padding-left: 0;
			margin-bottom:16px;
			}
			#highlights ul li h4 {
				font-size:0.9375em;
				font-weight:normal;
				}
				#highlights ul li h4 img.a-icon {
					float:none !important;
					display:inline-block;
					margin: 0 0 0 5px !important;
					}


section.sections {

}

.sections ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.sections ul li {
  padding-left: 0;
}

.sections ul li img {
  float: left;
  margin-right:12px;
}

.a-icon {
  float: left!important;
  margin-right: 5px !important;
}

#login-box {
	border: 1px solid #adcdcb;
	background:#f4f9f8;
	padding: 7px 10px;
	}
	#login-box p {
		margin:0;
		}
	#login-box li {
		font-size: 0.875em;
	}
#login-box ul, #login-box li {
	list-style-type:none;
}
#login-box form {
	border: 1px solid #adcdcb;
	background:#f4f9f8;
	padding: 10px;
	}
	#login-box form p {
		margin:4px 0 16px 0;
		}
	#login-box form label {
		float: left;
		width: 40%;
		color:#555555;
		}
	#login-box form .clearfix {
		margin-bottom:8px;
		}
	#login-box form input[type="submit"] {
		margin-top:8px;
		float:right;
		min-width:110px;
		}

#login-box form input#username,
#login-box form input#password {
  float: right;
  width: 55%;
}

section#most {
	margin-top: 10px;
	}
#most-comm ul, #most-pop ul, #related ul {
	list-style-type:none;
	margin:0;
	padding:0;
	}
	#most-comm ul li, #most-pop ul li, #related ul li {
		background: url(../_img/arrow-bullet.png) no-repeat 0 4px;
		padding:0 0 0 16px;
		margin:0 0 6px 0;
		font-size: 0.875em;
		}
		#related ul li {
			font-size: 1em;
			}

#most ul {
  margin-left: 0;
  padding-left: 0;
}

section#poll {
  border: 1px solid #999;
  margin-top: 10px;
}

#poll-inner {
  margin: 10px;
}

#poll .poll-item {
	margin: 5px 0;
	}
	#poll .poll-item:last-child {
		margin-bottom:12px;
		}

#poll input {
  margin: 0 5px;
}

#banner300 {
  text-align: center;
  margin: 30px 0 20px 0;
}

/* DYNAMIC MAP ON FRONT PAGE */
.geomap_locations {
	float: right;
	} 
	
#side-info {
	float: left;
	width: 100%;
	}	

section#morenews {
	margin-top: 20px;
	clear: both;
	}
	section#morenews h2 {
		border-bottom:1px solid #dfdfdf;
		padding-bottom:3px;
		margin-bottom:4px;
		font-weight:normal;
		}
	section#morenews h4 {
		font-size: 1em;
		font-weight:normal;
		margin-top:4px;
		}
		section#morenews h4 img.a-icon {
			float:none !important;
			display:inline-block;
			margin: 0 0 0 5px !important;
			}
	section#morenews p {
		font-size: 0.875em;
		}

footer {
  margin-top: 20px !important;
  border-top: 1px solid #999;
  padding:0 0 16px 0;
  }
  footer p {
	font-size:0.75em;
	color:#636363;
	}
  footer ul {
	list-style: none;
	padding: 0;
	margin: 10px 0;
	clear: both;
	border-bottom: 1px dotted #AAAAAA;
	}
	footer ul li {
	  float: left;
	  margin: 0 30px 0 0;
	  padding: 0 0 12px;
	  font-size:0.875em;
	  }
.art-item {
	padding:0 0 10px 0;
	border-bottom:1px solid #fff;
	margin-bottom:20px;
	}
	.art-item figure {	
		}
		.art-item header h3 {
			border:none;
			padding:0;
			margin-bottom:4px;
			}
		.art-item p {
			margin:4px 0 1em 0;
			}
		.art-item header p {
			border:1px dotted #aaaaaa;
			border-width:1px 0;
			color:#555555;
			margin:0 0 12px 0; padding: 5px 0 4px;
			}
			.art-item header p + p {
				border-width:0 0 1px 0;
				margin:-12px 0 12px 0;
				}
p.cs_img_caption {
	margin-top:-12px;
	font-size:0.875em;
	color:#636363;
}
				
/* section page styles */

#sectionpage figcaption {
  display: none;
}

/* article page styles */

#social-group {
	border-top: 1px dotted #888; 
	border-bottom: 1px dotted #888; 
	padding: 8px 0 3px 0;
}

#social-group #twitter {
  float: left;
  width: 25%;
}

#comments {
  clear: both!important;
  margin: 20px 0;
}

.form-element {
  margin: 5px 0;
  clear: both;
  background: #f6f6f6;
  border:1px solid #d3d3d3;
  padding:10px;
}

.userform {
  clear: both!important;
}

.form-element input,
.form-element textarea {
  width: 50%;
  float: right;
}

form input#article_comment_submit {
  float: right;
  width: 25%;
  font-size: 1.4em;
  padding: 0.25em 0;
  margin-top: 1em;
}

#recaptcha_widget_div {
  float: right;
  text-align: center;
  background-color: #aaa;
  padding: 0.25em;
/*  width: 50%;*/
}

#gallery {
  clear: both;
}

#gallery a.gallery_thumbnail {
	display: block;
	margin-bottom: 20px;
	}
	#gallery a.gallery_thumbnail.threecol {
		float:left !important;
		width: 22.05%;
		margin-right: 3.8%;
		}
		#gallery a.gallery_thumbnail.threecol.last {
			margin-right: 0 ;
			}

#related {
  margin-top: 10px;
}

#related ul {
  margin-left: 0;
}

.cs_fl_right { float:right; margin-left: 20px;} 
.cs_fl_left { float:left; margin-right: 20px;}

/* 
  + Pagination / Tab navigation
  -------------------------------- */
ul.pagination {
  margin:0 0 20px 0;
  text-align:center;
  list-style-type:none;
  padding:8px 0;
  border: 1px dotted #aaa; 
  border-width:1px 0;
  }
  ul.pagination li {
    display:inline-block;
    padding:0;
    background:none;
    font-family: Arial, sans-serif;
    }
    ul.pagination li a, ul.pagination li span {
      display:inline-block;
      padding:0 10px 1px 10px;
      line-height:20px; color:#000; text-decoration:none !important; font-weight:normal;
      font-size: 12px;
      border:#31827d solid 1px;
	  color:#31827d;
	  
      }
	  ul.pagination li span {
		  border:#e7e7e7 solid 1px;
		  background:#fff;
		  color:#e7e7e7;
		  }
	  ul.pagination li a:hover {
		  border:#31827d solid 1px;
		  background:#83b4b1;
		  color:#fff !important;
		  text-decoration:none !important;
		  }
      ul.pagination li.selected a, ul.pagination li.selected a:hover {
        color:#fff !important;
        background:#31827d;
        border:#31827d solid 1px;
		cursor:default;
		text-decoration:none !important;
        }
    ul.pagination li.prev a,
    ul.pagination li.next a {
      width:24px;
      padding:0 0 1px 0;
      text-indent:-9999px;
      background-image:url(../_img/nav-arrows.png);
      }
      ul.pagination li.prev a {
        position:relative;
        margin:0 16px 0 0;
        background-position:center 0;
        }
        ul.pagination li.prev a:hover {background-position:center -21px;}
      
      ul.pagination li.next a {
        position:relative;
        margin:0 0 0 16px;
        background-position:center -42px;
        }
        ul.pagination li.next a:hover {background-position:center -63px;}

    ul.pagination li.prev span,
    ul.pagination li.next span {
      width:24px;
      padding:0 0 1px 0;
      text-indent:-9999px;
      background-image:url(../_img/nav-arrows-disabled.png);
      }
      ul.pagination li.prev span {
        position:relative;
        margin:0 16px 0 0;
        background-position:center 0;
        }
      ul.pagination li.next span {
        position:relative;
        margin:0 0 0 16px;
        background-position:center -42px;
        }

		
.users + ul.pagination {
	  border-width:0 0 1px 0;
}

/* =============================================================================
   Sidebar
   ========================================================================== */

aside h3, .community_ticker h3 {
	margin-top:20px;
	padding:0 0 3px 0;
	font-size: 1.1875em;
	}
	aside h3 + audio[controls] {
		margin-top:12px;
		}
aside h4 {
	font-size: 1.0625em;
	font-weight:normal;
	margin-bottom:1em;
	}
aside p, #sidebar p, aside dl.profile, #sidebar dl.profile {
	font-size: 0.875em;
	}
	
	
#author-box article {
	margin: 10px 0 16px;
	padding:0 0 10px 0;
	border-bottom: 1px dotted #aaa;
	}
	#author-box article:last-child {
		border-bottom: none;
		}
	#author-box h3 + article {
		margin-top:16px;
		}
	#author-box article p {
		margin:0;
		}
	#author-box article h4 {
		margin:0 0 0 0;
		}
	
#sidebar div.community_ticker:first-child h3 {
	margin-top:3px !important;
	}
/*------ community ticker -------- */ 

.community_ticker ul {
	list-style-type:none;
	margin:16px 0 0 0;
	padding:0;
	}
	.community_ticker ul li {
		padding:0 0 0 25px;
		margin-bottom:14px;
		}
		.community_ticker ul li small{
			display:block;
			color:#636363;
			font-style:italic;
			font-size:80%;
			}
		
li.registered, li.commented { 
	padding-left: 25px;
	background-image:url(../_img/community_icons.png);
	background-repeat:no-repeat;
	}
	li.registered { 
		background-position:2px 2px;
		}
	li.commented { 
		background-position:2px -116px;
		}

/* =============================================================================
   Comments
   ========================================================================== */
#comment-list {
	margin-bottom:20px;
	}
#comment-list article {
	margin-bottom:7px;
	border:1px solid #e2e2e2;
	padding:7px
	}
	#comment-list h4 {
		font-size:0.9375em;
		float:left;
		margin-right:10px;
		}
	#comment-list time {
		color:#808080;
		font-size: 0.8125em;
		font-family: Arial, Helvetica, sans-serif !important;
		}
	#comment-list article header + p {
		margin:3px 0 0 0;
		font-size: 0.875em;
		}

/* =============================================================================
   Community & User pages
   ========================================================================== */
.community fieldset {
    margin: 0;
    padding:0;
	border:none;
}
.community dl {
    margin: 12px 0 0 0;
	}
	.community dl dl {
		margin: 0;
		}

label input[type="radio"], label input[type="checkbox"] {
	float:left;
	margin:0 5px 0 0;
	}
	label input[type="radio"] {
		margin:2px 5px 0 0;
		}
/*.zend_form dt, .zend_form dd {
	min-height:24px;
	margin:0 0 2px 0;
	}
	.zend_form dt {
		float:left;
		min-width:200px;
		}*/
		
.zend_form dt, .zend_form dd {
	float:left;
	min-height:24px;
	}
	.zend_form dt {
		float:left;
		width: 39.45%;
		margin-right: 3.8%;
		}
	.zend_form dd {
		width: 56.75%;
		margin-left:0;
		}
		.zend_form dt#attributes-label {
			display:none;
			}
		.zend_form dd#attributes-element {
			width:100%;
			margin:0;
		}
			
	.zend_form dd input[type="text"], .zend_form dd input[type="password"], .zend_form dd textarea, .zend_form dd input[type="file"] {
		width:97.5%;
		margin:0 0 10px;
		}
	.zend_form dd#attributes-gender-element {
		margin:0 0 10px;
		}
		.zend_form dd#attributes-gender-element br {
			display:none;
			}
		.zend_form dd#attributes-gender-element label {
			margin:0 10px 0 0;
			display:inline-block;
			}
	.zend_form dd#submit-element {
			margin:10px 0 0 0;
			text-align:right;
			}
		.zend_form dd#submit-element input[type="submit"] {
				text-align:center;
				}	
		.user-data .zend_form dd#submit-element input[type="submit"] {
				font-size:1em;
				width:99.9%;
				padding:0.5em 2em 0.6em;
				}	
				

.simple-list, .users {
	margin:0;
	padding:0;
	list-style-type:none;
	}
	.simple-list li {
/*		font-size:0.875em;*/
		}
	.simple-list.filter {
		margin:10px 0;
		height:1em;
		clear:both;
		}
		.simple-list.filter li {
			margin-right:1em;
			float:left;
			}
.users {
	border-top:1px solid #D3D3D3;
	margin-top:20px;
	}
	.users li {
		font-size:0.875em;
		padding:10px 3px 10px 67px;
		border-bottom:1px solid #D3D3D3;
		position:relative;
		min-height:52px;
		}
		.users li figure {
			width:52px;
			height:52px;
			overflow:hidden;
			display:block;
			position:absolute;
			top:10px;
			left:2px;
			}
			.users li figure img {
				border:1px solid #cdcdcd;
				}
		.users li h5 {
			font-family:Arial, Helvetica, sans-serif;
			font-size: 1em;
			padding:0 0 4px 0;
			font-weight:normal;			
			}
			.users li h5 small {
				font-size: 0.875em;
				color:#636363;
				padding:0 0 0 8px;			
				}
		.users li p {
			margin-top:0;		
			}
.user-search {
	padding: 10px;
	margin: 10px 0 0;
	background: #F2F2F2;
	border: 1px solid #d3d3d3;			
	}
	.user-search form {
		display:block;
		position:relative;
		min-height:30px;
		}
		.user-search form input[type="text"] {
			width:98%;
			font-size:0.875em;
			height:21px;
			position:absolute;
			top:0;
			left:0;
			}
		.user-search form input[type="submit"] {
			width:80px;
			font-size:0.875em;
			height:30px;
			position:absolute;
			top:0;
			right:0;
			}
			
#attributes-first_name_public-label, #attributes-first_name_public-element, 
#attributes-last_name_public-label, #attributes-last_name_public-element,
#attributes-email_public-label, #attributes-email_public-element {
	margin-bottom:10px
}
			
	
.community h3 {
	border-bottom: 2px solid #AAAAAA;
	padding:0 0 4px;
}
.user-image {padding-top:12px;}


fieldset.background-block, .register-block {
    background:#F2F2F2;
    border: 1px solid #D3D3D3;
    margin: 4px 0 10px;
    padding: 12px;
    position: relative;
	}
	fieldset.background-block dl {
		margin:0;
		}

ul.social {
	list-style-type:none;
	margin:0;
	padding:0;
}

/* ALERT BOX------
-----------------*/
.alert {
	padding: 14px;
	margin: 6px 0 12px 0;
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}
	.alert p {
		font-size:0.875em !important;
		margin-bottom:0.5em;
		}
	.alert h5 {
		font-size:1em !important;
		margin-bottom:0.5em;
		}
	.alert p {
		margin-top:0;
		}
		.alert p:last-child {
			margin-bottom:0;
			}
.alert-success {
	background-color: #edf9e7;
	border-color: #d6e9c6;
	}
	.alert-success, .alert-success h5 {
		color: #278f29;
		}
.alert-danger, .alert-error {
	background-color: #f6e8e8;
	border-color: #eed3d7;
	}
	.alert-danger, .alert-error,
	.alert-danger h5, .alert-error h5, .error-info {
		color: #a42323;
		}
.alert-info {
	background-color: #e4f2f9;
	border-color: #bce8f1;
	}
	.alert-info, .alert-info h5 {
		color: #31827d;
		}
/* -------------------
END ALERT BOX -------*/	

.error-info {
	font-size:0.8125em !important;
	font-style:italic;
}

.register-link {font-size:0.875em; padding-right:1em;}

.login dt, .login dd {
	float:left;
	min-height:24px;
	}
	.login dt {
		float:left;
		width: 22.05%;
		margin-right: 3.8%;
		}
	.login dd {
		width: 74.05%;
		margin-left:0;
		}
	.login dd input[type="text"], .login dd input[type="password"], .login dd textarea, .login dd input[type="file"] {
		width:98.5%;
		margin:0 0 10px;
		}
.login dt.info-block, .login dd.info-block {
	margin-top:-7px !important;
	margin-bottom:6px !important;
}

ul.errors {
	margin:0;
	padding:0;
	list-style-type:none;
	}
	ul.errors li {
		background-color: #f6e8e8;
		border:1px solid #eed3d7;
		color: #a42323;
		font-size:0.8125em !important;
		padding:5px;
		margin-bottom:4px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		}
.zend_form dd ul.errors {
	margin-top:-6px !important;
	}
	.zend_form dd input[type="checkbox"] + ul.errors {
		margin-top:4px !important;
		}

.community h3 ul, .user-profile-data h5 ul {
	list-style-type:none;
	float:right;
	margin:0;
	padding:0;
	font-family: Georgia,"Times New Roman",Times,serif !important;
	font-size:16px;
	font-weight:normal !important;
	}
.user-profile-data h5 i {
	font-weight:normal !important;
	border-left: 1px solid #D3D3D3;
    display: inline-block;
	font-style:normal;
    margin: 0 0 0 0.6em;
    padding: 0 0 0 0.6em;
}
	
.user-image img {
	padding:2px;
	border:2px solid #cdcdcd;
}

.user-profile-data h5 {
	padding: 0.6em 0 0;
}
.user-profile-data p.date {
    border-bottom: 1px dotted #999999;
    border-top: 1px dotted #999999;
    color: #636363;
	font-size:0.9375em !important;
    font-size: 0.875em;
    padding: 3px 0 5px 0;
	margin: 0.7em 0 1em;
	}
	.user-profile-data p.date .posts {
		border-left: 1px solid #D3D3D3;
		/*font-size:0.9375em !important;*/
		font-size: 0.875em;
		padding: 0 0 0 1em;
		margin: 0 0 0 1em;
		display:inline-block;
		}

.user-profile-data .profile dt, .user-profile-data .profile dd,
aside .profile dt, aside .profile dd,
#sidebar .profile dt, #sidebar .profile dd {
	line-height:140%;
	padding-bottom:8px;
	}
	.user-profile-data .profile dt, aside .profile dt, #sidebar .profile dt {
		float:left;
		margin:0 0.6em 0 0;
		color:#000;
		}
	.user-profile-data .profile dd, aside .profile dd, #sidebar .profile dd {
		margin:0;
		color:#555555;
		}
.user-profile-posts {
	margin-top:30px;	
	}
	.user-profile-posts .ui-widget-content {
		border: none;	
		}
	.user-profile-posts .ui-tabs {
		padding: 0;	
		}
		.user-profile-posts .ui-tabs .ui-tabs-nav {
			padding:0;
			}
			.user-profile-posts .ui-tabs .ui-tabs-nav li a {
				padding: 0.3em 1em;
				}
		.user-profile-posts .ui-tabs .ui-tabs-panel	{
			padding:16px 0 0 0 !important;
			}
			

.item-list {
	list-style-type:none;
	margin:0;
	padding:0;
	}
	.item-list.article li {
		padding: 10px 0 16px 0;
		/*border-bottom:2px solid #CDCDCD;*/
		}
		.item-list.article li time  {
		    border-bottom: 1px dotted #999999;
			border-top: 1px dotted #999999;
			color: #636363;
			font-size: 0.9375em !important;
			margin: 0.4em 0 0.7em;
			padding: 2px 0 5px;
			display:block;
			}
		.item-list.article li h6 {
		    font-family: Arial,Helvetica,sans-serif;
			font-weight: normal;
			line-height: 1.2em;
			margin: 0 0 4px 0;
			font-size: 1.1875em;
			
			}
.editor h5 {font-size:1.25em;}


/* =============================================================================
   Collapsible
   ========================================================================== */
.collapsible h6 {
	cursor:pointer;
	background-color:#F2F2F2;
}
.collapsible i {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	margin-right:4px;
	vertical-align: text-top;
	background:url(../_img/icon_open-close.png) no-repeat 3px 6px;
	}
	.collapsible .active i {
		background-position:3px -19px;
		}
	
	
/* =============================================================================
   GEO Map
   ========================================================================== */

.geomap_container {overflow:hidden;}
.geomap_menu, .geomap_open_large_map { height:21px; margin:0 0 6px 0!important; font-size:0.875em;}

.geomap_menu {float:left;}
.geomap_open_large_map {float:right;}
.geomap_map {clear:both;}
.location-list p {line-height:120%}
.location-list p:first-child {margin-top:2px;}
.location-list p small {color:#636363; font-size:0.875em; padding-left:0.75em;}

.location-list h4 {font-size: 1.0625em; margin: -2px 0 10px 0; font-weight:normal; font-family: Georgia,"Times New Roman",Times,serif;}
.location-list h6 {font-size: 0.9375em; margin-bottom:5px; font-weight:normal; padding:5px 10px 5px 4px; background-color:#F2F2F2;}

.location-list .location-content ul {
	list-style-type:none;
	margin:4px 0 12px;
	padding:0;
	}
	.location-list .location-content ul li{
		list-style-type:none;
		margin-bottom:3px;
		}
	.location-list .location-content ul li:before {
		content:'»';
		color:#cb0201;
		padding-right:5px;
		}
	.location-list .location-content ul li a {
		 font-size:0.875em; 
		}
		
/* =============================================================================
   Archive
   ========================================================================== */
.issue-archive article {
	border-bottom:1px solid #d3d3d3;
	padding:0 0 10px 0;
	margin-bottom:8px;
	}
	.issue-archive h1 + article {
		border-top:1px solid #d3d3d3;
		padding:8px 0 10px 0;
		margin-top:10px;
		}
	.issue-archive article h3 {
		border-bottom:none;
		padding: 0;
		margin: 0 0 3px;
		}
	.issue-archive article h4 {
		font-weight: normal;
		font-family: Georgia,"Times New Roman",Times,serif;
		color:#636363;
		font-size:1.125em;
		}
.issue-content ul {
	list-style-type:none;
	margin:12px 0 24px;
	padding:0;
	}
	.issue-content ul li {
		background: url(../_img/arrow-bullet.png) no-repeat 0 6px;
		margin: 0 0 6px 2px;
		padding: 0 0 0 16px;
		line-height:140%;
		}
		.issue-content ul li a {
			margin-right:0.2em;
			}
		.issue-content ul li time, .issue-content ul li .posts {
			display: inline-block;
			font-size: 0.9375em;
			margin: 0;
			padding: 0 0.2em 0 0;
			color: #636363;
			}
			.issue-content ul li .posts {
				color: #252525;
				}
			.issue-content ul li time {
				font-style:italic;
				}
			.issue-content ul li time:before, .issue-content ul li .posts:before {
				content:'/';
				color:#D3D3D3;
				padding-right: 0.4em;
				font-style:normal !important;
				}

/* =============================================================================
   Article rating
   ========================================================================== */
.rate_widget {
    border: none;
    overflow: visible;
    position: relative;
}
.ratings_stars {
    background: url('../_img/rating/star_empty.png') no-repeat;
    float:      left;
    height:     28px;
    padding:    2px;
    width:      28px;
}
.ratings_vote {
    background: url('../_img/rating/star_full.png') no-repeat;
}
.ratings_over {
    background: url('../_img/rating/star_highlight.png') no-repeat;
}
 
.total_votes {
    margin-top: 2px;
    float: left;
    display: inline-block;
    color: #464646;
    font-size: 14px;
}
.article_rating {
    font: 21px Arial, Helvetica, sans-serif;
    width: 100%;
    float: left;
    padding: 12px 0px;
}
  .article_rating h3 {
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: none;
    font-size: 21px;
  }

.rating_error {
    margin-top: 2px;
    float: left;
    display: inline-block;
    color: #464646;
    font-size: 14px;
}

.stars {
padding: 0;
margin: 0 4px 0 0;
list-style-type: none;
display: inline-block;
float: left;
}

/* =============================================================================
   jQuery UI overrides
   ========================================================================== */
.ui-tabs-nav.ui-widget-header {
	border-width:0 0 1px 0 !important;
	font-weight:normal !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.8125em !important;
	padding-top:0 !important;
}
.ui-tabs-nav.ui-widget-header .ui-state-default {
	background-image:none !important;
	background:#FFF !important;
}
.ui-tabs .ui-tabs-nav li {
	margin-right: 0.4em !important;
}
#most .ui-tabs {
	padding:8px;
}
.ui-tabs .ui-tabs-panel {
    padding: 4px !important;
}
.ui-widget-content a {
    color: #000000;
}
.ui-tabs .ui-tabs-panel a {
    color: #31827d !important;
    text-decoration: none;
	}	
	.ui-tabs .ui-tabs-panel a:hover {
		text-decoration: underline !important;
		}
	.ui-tabs .ui-tabs-panel ul.pagination a:hover {
		text-decoration: none !important;
		}
/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before,
.clearfix:after,
#topsections section li:before,
#topsections section li:after,
.item-list li:before, .item-list li:after,
.register-block:before, .register-block:after,
nav:before, nav:after { 
	content: "\0020"; 
	display: block; 
	height: 0; 
	overflow: hidden; 
	}
.clearfix:after, #topsections section li:after, .register-block:after, .item-list li:after, nav:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix, #topsections section li, .register-block, .item-list li, nav { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  body {
    background: #fff;
  }
  * {
  float: none!important;  
  }  
  #maincont, #container, #highlights, aside, #sidebar, #topstory-intro {
  width: auto;
  max-width: 480px!important;
  }

  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


	/* Debatte */
	ul.debatte-score {
		overflow:hidden;
		margin: 0!important;
		list-style-type:none;
		padding: 0;
		}
		ul.debatte-score li {
			float:left; position:relative;
			width:50%; height:35px;
			}
			ul.debatte-score li.yes {background:#5a9b97;}
			ul.debatte-score li.no {background:#31827d;}
				ul.debatte-score li.no:before {
					content:"";
					position:absolute; left:-1px; top:0;
					width:1px; height:100%;
					background:#fff;
					}
			ul.debatte-score li span {
				position:absolute; left:5px; top:0;
				font-size:12px; color:#fff; line-height:35px; white-space:nowrap;
				}
				ul.debatte-score li.no span {left:auto; right:5px;}

		/* Debatte single */
		
		.headline {padding:14px 10px; font-size:14px;}
		
		.debatte-single header {padding:10px 0;}
			.debatte-single header h6,
			.debatte-single header h3 {text-align:center; font-size:24px;}
				.debatte-single header h6 a {color:#B40032; text-decoration:none;}
				.debatte-single header h3 a {color:#000; text-decoration:none;}
		.debatte-single.debatte-detail header {padding:30px 0 20px 0;}			
				
		.debatte-single ul.debatte-score li {height:57px;}
		.debatte-single ul.debatte-score li span {line-height:57px; font-size:14px;}
		.debatte-single .score-box {position:relative; padding-top: 0;}
	/*
			.debatte-single .score-box:after {content:""; position:absolute; left:0; bottom:-20px; height:25px; width:100%; background:#fff;}
    */
			.debatte-single .score-box small {text-align: center; color: #666666; font-size: 13px;}
		
		.debatte-list article {margin-bottom:25px;}
		.debatte-list article h3 {color:#B40032;}


	.debatte-single.debatte-detail header {padding:10px 0;}	
		.debatte-single .score-box small {padding-top: 5px}
	ul.debatte-score {width:auto; margin:0 10px;}
	.vote-box {padding:10px 10px 0;}
	.debatte-list.left-thumb article figure,
		.debatte-list.left-thumb article figure img {width:auto;}
	.debatte-list.left-thumb article p {display:block;}

			.vote-box {padding:4% 4% 0 4%;}
				.button-group {overflow:hidden; margin-bottom:7px;}
					.button-group a {width:47%; float:left; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border-left: 2px solid #fff; border-right: 2px solid #fff;}
						.button-group a:last-child {float:right;}
				.vote-box p {font-size:14px; line-height:18px; text-align:left; margin:0;}
					
	.button.debbut {
		color:#fff;
		background: #31827d;
		text-align: center;
		padding: 5px;
		}
		.button.debbut:hover,
		.button.debbut.active  {
			background: #5a9b97;
		}		
		
							.inner-highlight {
			width:330px;
			padding:15px;
			background:#e5e5e5;
			}
			.inner-highlight.right {margin-left:15px;}
			.inner-highlight.left {margin-right:15px;}
			.inner-highlight h3 {margin-bottom:0; color:#B40032;}
			.inner-highlight p {font-size:14px; line-height:21px;}
			.inner-highlight figure {float:left; margin-right:15px; max-width: 97px;}

		/* Question list */
        #polldiv blockquote {margin: 0 0 20px 0;}		
		
		ul.question-list {
			margin:0 0 20px 0; padding:0 20px 16px 0px;
			list-style-type:none;
			border-bottom:#ccc dashed 1px;
			position: relative;
			}
		    ul.question-list label {padding-left: 3px;}
			ul.question-list li {margin-bottom:10px; padding-left:0; position:relative;}
				ul.question-list li .ui-button {overflow:visible;}
					ul.question-list li .ui-icon {position:absolute; left:0; top:0;}

				ul.question-list li.total-votes {
					position: absolute;
					padding: 0;
					left: 0;
					right: 0;
					text-align: center;
					margin-top: 6px;
					}
					ul.question-list li.total-votes span {
						background: #fff;
						display: inline-block;
						padding: 2px 4px;
						color: #999;
						} 	

			.q-score {
				display:block; clear:both; position:relative;
				height:6px;
				margin:5px 0;
				background:#b40032;
				max-width: 94%;
				}
				.q-score small {
					position:absolute; top:-6px; right:-35px;
					background: #fff; width: 32px;
					font-size:12px; color:#b40032;
					}
		
		.poll-info {
			text-align: center;
			margin-bottom: 10px;
			font-size: 17px;
			font-family: UnitSlabWeb-Bold, Georgia, "Times New Roman", Times, serif;
			}	
		
	p.poll-info {text-align: left; margin-bottom: 10px; font-size: 15px; display: block;}			