.poilist_name {

}
.poilist_perex {

}

.geo_map_mapcanvas {
    font-size: 12px;
}

.geomap_body_holder {
    width: 100%;
    height: 100%;
}

.geo_map_mapcanvas_large {
    font-size: 12px;
    width: 100%;
    height: 100%;
}

.popup_title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fffffa;
    color: #202000;
    width: 180px;
}
.popup_video {

}
.popup_image {

}
.popup_text {
    font-size: 14px;
    margin-top: 10px;
    width: 180px;
}
.popup_content {
    font-size: 14px;
    margin-top: 10px;
    width: 180px;

}

.geomap_open_large_map {
    float: right;
    margin-top: -22px;
}



