.poilist_name {

}
.poilist_perex {

}

.geo_map_mapcanvas {
    font-size: 12px;
}

.geomap_body_holder {
    width: 100%;
    height: 100%;
}

.geo_map_mapcanvas_large {
    font-size: 12px;
    width: 100%;
    height: 100%;
}

.popup_title {
    font-size: 17px;
    margin: 12px 0 10px 0;
    background-color: #fffffa;
    color: #202000;
	padding:0;
	min-height:25px;
	max-width:200px;

}

.popup_title.edit_mode, .popup_text.edit_mode, .popup_content.edit_mode {
	max-width:260px;
}
.popup_video {

}
.popup_image {

}
.popup_text {
    font-size: 14px;
	max-width:200px;

}
.popup_content {
    font-size: 14px;
    margin-top: 10px;
	max-width:200px;

}

.geomap_open_large_map {
    float: right;
    margin-top: -22px;
}

.geo_poi_list_name_pos {
    color: #000040;
}


.olFramedCloudPopupContent input[type="text"] {
    border: 1px solid #9D9D9D;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    height: 23px;
    margin: 12px 0 10px;
    padding: 0;
    text-indent: 3px;
	font-size:17px;
	width:100%;
	color:#444;
}

.olFramedCloudPopupContent textarea {
    border: 1px solid #9D9D9D;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0 0 0 3px;
	font-size:14px;
	width:100%;
	color:#444;
}
	