.map_sidepan {
    float: left;
    width: 150px;
    margin-left: 20px;
/*
    width: 20%;
    height: 90%;
*/
    font-size: 90%;
}

.map_mappart {

}
.map_mappart_outer {
/*
    float: right;
*/
    width: 800px;
    height: 500px;

/*
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
*/

}


