.map_editor {
    margin: 0 auto ;
    width: 1050px;
}
a.map_name_display:link {
    text-decoration: none;
	color:#007fb3;
}
a.map_name_display:visited {
    text-decoration: none;
	color:#007fb3;
}
a.map_name_display:hover {
    text-decoration: none;
	background:#edf6f9;
	color:#007fb3;
}
.map_name_input {
    font-size: 14px;
    width: 300px;
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
}
.map_menubar {
    font-size: 90%;
    display: inline;
    width: 200px;
}
.map_mapmenu {
    height: 33px;
    font-size: 90%;
    z-index: 5000;
}
.map_savemapinit {
    float: left;
}
.map_gotocenter {
    float: left;
}
.map_mapinitview {
    float: left;
}
.map_resizing {
    float: right;
	color:#727272;
	font-size:12px;
}

.map_sidepan {
    float: left;
    width: 200px;
	margin-left:15px;
}

.side_info {

}

.map_sidedescs {
    width: 200px;
    margin-top: -1px;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.map_mappart {
    margin-top: 0px;
    float: right;
    width: 802px;
    height: 535px;
	position:relative;
	margin-right:15px;
}
.map_mapcanvas {
    width: 100%;
    height: 500px;
	border: 1px solid #4f5253;	
	overflow:hidden;
}
.search_results {
    overflow: false;
/*
    width: 200px;
*/
}
.search_results_limit {
    overflow: false;
    width: 200;
    height: 200;
}
.search_res_cc_header {
    width: 20px;
}
.search_res_city_header {
    width: 100px;
}
.search_res_city_column {
    word-wrap: break-word;
    width: 100px;
}
/*
.hidden {
    display: none;
}
*/
.map_geo_search {
    margin-left: 2px;
}
.map_geo_ccselect {

}
.map_geo_cityname {
    width: 200;
    border: 1px solid #e0e0d0;
}
a.map-no-link {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}
.map_poi_side_list {
}
.poi_std {
}
.map_poi_side_one {
}
.map_mapedit {
    width: 615px;
    height: 405px;
    position: absolute;
    top: 93px;
    right: 90px;
    color: #804000;
    font-size: 11px;
    z-index: 10000;
    vertical-align: middle;
    text-align: center;
}
.map_editinner {
    background-color: #9d9d9d;
    width: 610px;

    position: relative;
    top: 10;
    left: 10;
}
.map_editpart1 {
    text-align: left;
}
.map_editactions {
    text-align: right;
    position: relative;
    top: 13;
    right: 10;
    font-size: 12px;
    font-weight: bold;
}
.popup_preview {
    width: 500px;
    height: 160px;
    overflow: auto;
}
.edit_popup_preview {
    background: #ffffff;
}
.poi_video_type_selection {
    margin: 0px;
}
.poi_image_type_placehold {
    margin-top: 4px;
    margin-bottom: 4px;
}
.geonames_result_table {
}

/* point edit forms */

fieldset {

}


legend {
    width: 30px;
    margin-left: 550px;
    margin-right: auto;
    color: #000000;
    font-weight: bold;
    padding: 0;
    float: right;
    text-align: right;
}
.edit_tabs {
	padding:25px 10px 10px 10px;
	height:290px;
}
.edit_tabs ol {
    padding:0;
	margin:0;
    list-style: none;
}

.edit_tabs li {
    float: left;
    clear: left;
    width: 500px;
	font-size:12px;
    padding-bottom: 1em;
}
.edit_marker_selected {
    padding: 2px 10px 5px 0;
	color: #696969;
	display: block;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
}

label.block-label {
    clear: left;
    color: #696969;
    display: block;
    float: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    padding: 0 0 2px;
    text-indent: 1px;
}
.edit_tabs.submit {
    float: none;
    width: auto;
    border: 0 none #FFF;
    padding-left: 20px;
    border-style: none;
    background-color: transparent;
    background-image: none;
}

.edit_label {
    float: left;
    width: 10em;
    margin-right: 1em;
	color: #666666;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 0 0;
}

/*
ie fixes, include as:
<!--[if lte IE 7]>    
<style type="text/css" media="all">    
@import "css/fieldset-styling-ie.css";    
</style>    
<![endif]-->

legend {
position: relative;
left: -7px;
top: -0.75em;
}
fieldset ol {
padding-top: 0.25em;
}

fieldset {
position: relative;
}

*/

.map_realsize {
    background-color: transparent;
    background-color: #8080ff;
    border: 1px solid #8080ff;

    position: absolute;
    z-index: 1000;
}

.part_top {
    height: 0;
    width: 600;


    top: 70px;
    right: 105px;
}
.part_bottom {
    height: 0;
    width: 600;

    top: 470px;
    right: 105px;
}
.part_right {
    height: 400;
    width: 0;

    top: 70px;
    right: 105px;
}
.part_left {
    height: 400;
    width: 0;

    top: 70px;
    right: 705px;
}

.poi_actions_all {
}
.poi_actions {
    margin: 0 0 2px 0;
}
.poi_removal {
    margin-left: 0px;
}
.list_change_poi_void {

}
.action_disabled {
    color: #808080;
    font-style: italic;
}
.poi_coors_all {
	border:1px solid #ccc;
	padding:7px 10px 5px 10px;
	margin-bottom:8px; 
}
.poi_coors {
	padding:4px 0 5px;
	color:#666666;
	font-size:12px;
	font-weight:bold;
}
.poi_coors label{
	padding:2px 0 0px;
	float:left;
	width:44%;
	color:#666666;
	font-size:12px;
	font-weight:bold;
}
.poi_coors_input {
    border: 1px solid #9d9d9d;
    background: url(images/input_bg.png) repeat-x scroll 0 0 #FFFFFF;
    margin: 0 0 0 0;
	font-size:12px;
	padding:2px 0 2px 2px;
	float:left;
	width:52%;
}
.map_save_part {
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 4px;
    height: 24px;
    font-size: 18px;
}
.map_save_off {
    background-color: #a0a0a0;
}
a.map_save_off {
    float: left;
    color: #a0a0a0;
}
.map_save_on {
    background-color: #fffff8;
}
a.map_save_on {
    float: left;
    color: #6000f0;
}
.map_save_info {
    float: left;
    color: #444;
    font-size: 16px;
    margin-top: 2px;

}

.edit_marker_selected {
    float: left;

}
.edit_marker_choices {
    margin-top: 20px;
    overflow: auto;
	height:200px;
	padding:10px;
	border:1px solid #CCC;
}
.edit_marker_one_choice {
    border: 1px solid #9d9d9d;
    margin: 4px 4px 1px 1px;
	padding:3px;
}
.edit_marker_one_choice:hover {
    border: 1px solid #4f5253;
}
a.edit_marker_one_choice_link {
    border-width: 0px;
}

.no_city_found {
    text-align: center;
    font-size: 12px;
}

.map_hidden {
  display: none;
}
.map_shown {
  display: default;
}
.edit_tabs input.input_text {
    background: url(images/input_bg.png) repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #9D9D9D;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 23px;
    margin: 0;
    padding: 0;
    text-indent: 3px;
    vertical-align: middle;
    width: 200px;
}
.edit_tabs .input_select {
    background-color: #FFFFFF;
    border: 1px solid #9D9D9D;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 25px;
    margin: 0;
    padding: 2px 2px 2px 0;
    vertical-align: top;
}
.map_mapedit fieldset li {
    font-size: 1em;
    line-height: 140%;
}
