.poilist_name {

}
.poilist_perex {

}
.popup_content {

}
.popup_title {
    font-size: 30;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fffffa;
    color: #202000;
}
.popup_video {

}
.popup_image {

}
.popup_text {
    font-size: 14;
    margin-top: 10px;
    width: 250px;
}
