.poilist_name {

}
.poilist_perex {

}
.popup_content {

}
/*
.olFramedCloudPopupContent h2 {
    font-size: 40;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffa0;
    color: #a0c0a0;
}
.olPopupContent h2 {
    font-size: 40;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffa0;
    color: #a0c0a0;
}
*/
.popup_title {
    font-size: 30;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fffffa;
    color: #202000;
}
.popup_video {

}
.popup_image {

}
.popup_text {
    font-size: 14;
    margin-top: 10px;
}
