/******************************************************
Font families:
	Arial, Helvetica, sans-serif;
	Courier New, Courier, mono;
	Geneva, Arial, Helvetica, sans-serif;
	Times New Roman, Times, serif;
	Verdana, Arial, Helvetica, sans-serif;

******************************************************/
BODY {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: black;
	background: white;
	margin: 0px;
}

TH, TD, FORM, BLOCKQUOTE, UL, LI {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: black;
}

SMALL, ADDRESS {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

A {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: black;
}

A:active {
	color: red;
}

A:visited {
	color: black;
}

hr {
	color: black;
}

.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	border: 1px solid #777;
	background-color: #EEEEEE;
	color: #333333;
	font-weight: bold;
}

.button_disabled {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	border: 1px dashed white;
	background-color: #EEEEEE;
	color: grey;
	font-weight: bold;
}

.input_text {
	border: 1px solid #777;
	background-color: #f0f0ff;
	text-indent: 3px;
	font-size: 9pt;
}

.input_text_disabled {
	border: 1px solid grey;
	background-color: #f0f0ff;
	text-indent: 3px;
	font-size: 9pt;
}

.input_checkbox { }

.input_radio { }

.input_select {
	background-color: #f0f0ff;
	border: 1px solid grey;
	font-size: 9pt;
}

.input_file {
	background-color: #f0f0ff;
	font-size: 9pt;
}

.input_textarea {
	border: 1px solid #777;
	background-color: #f0f0ff;
	font-size: 9pt;
}

/**
 * This is for fValidate to color input boxes that failed validation.
 */
.errHilite {
	background-color: #FFD4E4;
}

.page_title_container {
	border-bottom: 1px solid black;
	background-color: lightgrey;
	margin-bottom: 3px;
	padding-left: 12px;
	padding-right: 12px;
}

.page_title {
	font-weight: bold;
	padding-top: 0px;
	font-size: 12pt;
	padding-left: 10px;
}

.table_list {
	margin-left: 15px;
	margin-right: 10px;
}

.table_list_header {
	background-color: #8baed1;
	color: white;
	font-weight: bold;
}

.table_list_header td {
	color: white;
}

.list_row_odd {
	color: #000;
	background-color: #d5e2ee;
}

.list_row_even {
	color: #000;
	background-color: #f5f5f5;
}

.list_row_even_darker {
	color: #000;
	background-color: #ddd;
}

.list_row_hover {
	background-color: #CCFFCC;
}

.list_row_click {
	background-color: #FFCC99;
}

.current_location_table {
	border-bottom: 1px dotted black;
	padding-left: 12px;
	margin-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.current_location_title {
}

.current_location_content {
	font-weight: bold;
}

.table_actions {
	background-color: #D5C3DF;
	border: 1px solid #A35ACF;
	padding: 3px;
	margin-left: 15px;
}

.table_input {
	background-color: #d5e2ee;
	border: 1px solid #8baed1;
	margin-left: 15px;
	margin-right: 15px;
	padding-right: 5px;
}

.message_box {
	background-color: #d5e2ee;
	border: 1px solid #8baed1;
	margin-left: 15px;
}

.search_dialog {
	background-color: #d5e2ee;
	border: 1px solid #8baed1;
}

.breadcrumb {
    color: #2F667F;
    font-weight: bold;
}

.breadcrumb:visited {
    color: #2F667F;
    font-weight: bold;
}

.breadcrumb_active {
    /*color: #d95022;*/
    color: #2F2F2F;
	font-weight: bold;
	font-size: larger;
}

.breadcrumb_active:visited {
    color: #d95022;
	font-weight: bold;
	font-size: larger;
}

.breadcrumb_separator {
	padding-left: 8px;
	padding-right: 8px;
	background-image: url(/css/breadcrumb_separator2.png);
	background-repeat: no-repeat;
	background-position: 50% 60%;
}

.info_message {
	font-weight: bold;
	font-size: 14pt;
	color: #239f34;
}

.error_message {
	font-weight: bold;
	font-size: 14pt;
	color: #E30000;
}

.error_message a {
	font-weight: bold;
	font-size: 14pt;
	color: #E30000;
}

.success_message {
	font-weight: bold;
	color: green;
}

.failure_message {
	font-weight: bold;
	color: red;
}

.action_link {
	font-weight: bold;
}

.action_link_container {
	padding-left: 8px;
}

.article_locked {
    background-color: #FFDFDF;
}

.indent {
    margin-left: 17px;
}

.action_buttons {
    padding-left: 15px;
}

.translation_indent {
    padding-left: 20px;
}

.comment_approved {
    background-color: #D7E3EF;
}
.comment_pending_approved {
    background-color: #D7E3EF;
}
.comment_pending_approved td a {
    /* border: 1px dashed #666; */
}

.comment_hidden {
    background-color: #B5C2CF;
}
.comment_hidden td a {
    color: #666;
}
.comment_hidden table tr td {
    color: #666;
}
.comment_pending_hidden {
    background-color: #B5C2CF;
}
.comment_pending_hidden td a {
    /*border: 1px dashed #666;*/
    color: #666;
}

.comment_inbox {
    background-color: #FEFFAF;
}
.comment_pending_inbox {
    background-color: #FEFFAF;
}
.comment_pending_inbox td {
    /* border: 1px dashed #666; */
}

.comment_delete {
    background-color: #FFCFCF;
}
.comment_delete table tr td {
    color: #666;
}
.comment_pending_delete {
    background-color: #FFCFCF;
}
.comment_pending_delete td a {
    /* border: 1px dashed #666; */
    color: #666;
}

.tab_active {
    border-left: 1px solid #777;
    border-top: 1px solid #777;
    border-right: 1px solid #777;
    -moz-border-radius: 20px 20px 0 0;
}

.tab_inactive {
    border: 1px solid #777;
    background-color: #CFCFCF;
    -moz-border-radius: 20px 20px 0 0;
}

.tab_normal {
        padding: 3px;
        background-color: #BBB;
        border-top: 1px solid #8baed1;
        border-left: 1px solid #8baed1;
        border-bottom: 1px solid #8baed1;
}
.tab_current {
        padding: 3px;
        background-color: #EEE;
        border-top: 1px solid #8baed1;
        border-left: 1px solid #8baed1;
}
.audiosearch_container {
	padding: 1px;
}
.disk_save_icon {
	cursor: pointer;
}

/* Drag-and-drop ordering */
div#audioclip_sortlist div {
	cursor: move;
	padding: 2px;
	text-align: center;
	border-bottom: 1px solid #EEE;
	background-color: #c1d3e3;
}

/* Tooltip Overlib Style */
div.domTTOverlib {
	border: 1px solid #8baed1;
	background-color: #d5e2ee;
}
div.domTTOverlib .caption {
	font-size: 10px;
	font-weight: bold;
	color: #000;
	background-color: #fff;
	padding: 2px;
}
div.domTTOverlib .contents {
	font-size: 10px;
	padding: 2px;
	background-color: #d5e2ee;
}
