.icon_link {
	background-repeat: no-repeat;
	background-position: left center;
	height: 21px;
	line-height: 21px;
	font-family: 'Oswald', sans-serif;
	font-size: 0.875em;
	color: #475f77;
}

.icon_link.icon_key {
	background-image: url(../_img/icons/key.png);
	padding-left: 23px;
}

.icon_link.icon_padlock {
	background-image: url(../_img/icons/padlock.png);
	padding-left: 18px;
}

.icon_link.icon_search {
	background-image: url(../_img/icons/search.png);
	padding-left: 26px;
}

.icon_link.icon_lang {
	background-image: url(../_img/icons/lang.png);
	padding-left: 24px;
	position:relative;
}

.icon_lang .languages{
	display: none;
	position:absolute;
	top:20px;
	left:-10px;
	background:#fff;
	padding:10px 10px 5px 35px;

	min-width:100px;
}
.icon_lang:hover .languages{
	display:block;
}
.icon_lang .languages a{
	color:inherit;
	font-family: arial;
}

.icon_lang .languages a.active{
	text-decoration: underline;
}

.content_text {
	color: #606060;
}

.content_text h1 {
	font-size: 2.5em; /* 40 */
	font-family: 'Oswald', sans-serif;
	color: #00b4ff;
	line-height: 1.2em;
	padding-bottom: 10px;
}

.content_text h2 {
	font-size: 2em; /* 3kilka */
	font-family: 'Oswald', sans-serif;
	color: #475f77;
	line-height: 1.2em;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.content_text h2.page_title {
	border-bottom: 2px solid #f5f5f5;
	padding-bottom: 10px;
	margin-bottom: 10px;
	padding-left: 5px;
}




.content_text h3 {
	font-size: 1.5em; /* 24 */
	font-family: 'Oswald', sans-serif;
	line-height: 1.3em;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.content_text h3.bigger {
	font-size: 1.6em;
}

.content_text h4 {
	font-size: 1.2em; /* 18 */
	font-family: 'Oswald', sans-serif;
}

.content_text h5 {
	font-size: 1em; /* 16 */
	font-family: Tahoma, Arial, sans-serif;
}

.content_text h6 {
	font-size: 0.725em; /* 10 */
	font-family: Tahoma, Arial, sans-serif;

}

.content_text p {
	font-size: 1em;
	font-family: Tahoma, Arial, sans-serif;
	padding-bottom: 6px;
}

.article_content .content_text p{
	font-size: 1em;
}

.content_text.content_text_smaller p {
	font-size: 0.75em;
}


.content_text.content_text_contrast,
.content_text.content_text_contrast h2,
.content_text.content_text_contrast h3,
.content_text.content_text_contrast a,
.content_text.content_text_contrast h2 a,
.content_text.content_text_contrast h3 a
{
	color: white;
}




.content_text .styled_form {

}

.content_text .styled_form .field_row {
	overflow: hidden;
	padding-bottom: 15px;
}

.content_text .styled_form label {

}

.content_text input[type="text"],
.content_text input[type="email"],
.content_text input[type="password"],
.content_text textarea
{
	background: #eeeeee;
	padding: 0px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0.75em;
	width: 100%;
	border: 1px solid #c8c8c8;
}

.content_text input[type="text"],
.content_text input[type="email"],
.content_text input[type="password"] {
	height: 30px;
}

.recaptchatable #recaptcha_response_field {
	height: auto;
}

.content_text textarea {
	height: 130px;
}

.content_text button[type="submit"], .content_text input[type="submit"] {
	display: block;
	text-align: center;
	color: white;
	background: #475f77;
	border:none;
	font-size: 1em;
	padding: 4px 15px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	float: right;
}


.button {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	color: #fff !important;
	background: #475f77;
	border:none;
	font-size: 0.8em;
	padding: 5px 15px;
}


.content_text .styled_form .login_menu {
	font-size: 0.8em;

}

.content_text .styled_form .login_menu li {
	padding-bottom: 3px;
}

.content_text .styled_form .login_menu li a {
	color: #d74b4b;
}

.content_text .styled_form .login_menu li a:hover {
	text-decoration: underline;
}

.content_text em{
	font-style: italic;
}

.content_text > ul, .content_text > ul li{
	list-style-type: disc;
	margin-left:20px;
}

.content_text > ol, .content_text > ol li{
	list-style-type: decimal;
	margin-left:20px;
}



.content_text h3.role {

	font-size: 1.5em;
	font-family: 'Oswald', sans-serif;
	color: #fabb86;
	line-height: 1em;
	padding-bottom: 10px;
	text-transform: uppercase;
	margin-top: -10px;
}

.content_text h3.role a{
	color: #fabb86;
}

h3.debate_headline{
	padding:10px 0px;
}

.debate_author{
	background:#e8e8e8;
	padding: 20px;
}

.debate_author figure{
	width:90px;
	float:left;
	margin-right:10px;
}

.debate_author a {
	font-family: 'Oswald', sans-serif;
	font-size: 1.1em;
	color: #d74b4b;
	text-transform: uppercase;
}

.align_left.debate_author {
	margin-right: 20px;
}

.align_right.debate_author {
	margin-left: 20px;
}

.article_content .content_text .debate_author .debate_biography{

	font-size:1em;
	line-height:1.2em;

}

.debatte-score{
	overflow: hidden;
	margin: 0!important;
	list-style-type: none;
	padding: 0;
}

.debatte-score li{
	display:inline-block;
}

.debatte-score li span{
	padding:10px 20px;
	display:block;
	color: #fff;
}

.debatte-score li.yes{
	background-color: #475f77;
	color: #515151;
}

.debatte-score li.no{
	background-color: #d74b4b;
	color: #00b4ff;
}

.article_rating{
	width:50%;
}

.rate_widget {
	border: none;
	overflow: visible;
	position: relative;
}

.stars {
	padding: 0;
	margin: 0 4px 0 0;
	list-style-type: none;
	display: inline-block;
	float: left;
}

.ratings_stars {
	background: url('../_img/star_empty.png') no-repeat;
	float: left;
	height: 28px;
	padding: 2px;
	width: 28px;
}

.ratings_vote {
	background: url('../_img/star_full.png') no-repeat;
}


.ratings_over {
	background: url('../_img/star_highlight.png') no-repeat;
}

p.total_votes{
	clear:both;
	font-size:0.8em !important;
}

p.rating_error{
	clear:both;
	color:red;
	padding:5px 0;
}


.q-score{
	display: block;
	clear: both;
	position: relative;
	height: 4px;
	margin: 6px 0;
	background: #d74b4b;
	min-width:25px;
}

.q-score small {
	position: absolute;
	top: -8px;
	right: 0px;
	background: #fff;
	padding: 0 3px;
	font-size: 12px;
	color: #d74b4b;

}

.poll-info {
	background: #d74b4b;
	padding: 10px;
	color: #fff;
	line-height: 1.2em;
}

.errors {
	padding: 10px;
	color: #d74b4b;
	line-height: 1.2em;
	display: inline-block;
}

.community_ticker ul li {
	padding: 0 0 0 40px;
	margin-bottom: 10px;
}

li.registered, li.commented {
	padding-left: 25px;
	background-image: url(../_img/community_icons.png);
	background-repeat: no-repeat;
}

li.commented {
	background-position: 2px -104px;
}

li.registered {
	background-position: 2px 2px;
}


.community_ticker ul li small {
	display: block;
	color: #606060;
	font-size: 0.8em;
}

.community_ticker{
	font-size:0.9em;
	color:#606060;
	margin-bottom: 20px;

}

.community_ticker a{
	color: #d74b4b;
}

.image-slideshow, .blueimp-gallery{
	width:100%;
	position: relative;
}

.blue_box.blue_box_posts .tabs_menu li.current a:after {
	display: block;
	width: 23px;
	height: 10px;
	content: " ";
	background-image: url(../_img/current_tab.png);
	margin: 0 auto;
}

#blueimp_fullscreen{
	position:fixed;
}
.image-slideshow .fullscreenButton {
	display: block;
	width: 57px;
	height: 57px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	background-image: url(../_img/open-slideshow.png);
	background-repeat: no-repeat;
	background-position: 15px 15px;
	cursor: pointer;
}

.image-slideshow .fullscreenButton:hover {
	background-color: rgba(255, 255, 255, .4);
}

.blueimp-gallery > .prev {
	position: absolute;
	top: 50%;
	margin-top: -21px;
	cursor: pointer;
	background-repeat: no-repeat;
	width: 27px;
	height: 42px;
	text-indent: 9999px;
	background-image: url(../_img/slide_prev.png);
}

.blueimp-gallery > .next {
	position: absolute;
	top: 50%;
	margin-top: -21px;
	cursor: pointer;
	background-repeat: no-repeat;
	width: 27px;
	height: 42px;
	text-indent: 9999px;
	background-image: url(../_img/slide_next.png);
}
