Source: newscoop
Section: web
Priority: optional
Maintainer: Daniel James <daniel@64studio.com>
Build-Depends: debhelper (>= 7), po-debconf
Standards-Version: 3.9.3
Homepage: http://www.sourcefabric.org/en/products/newscoop_overview/

Package: newscoop
Architecture: all
Depends: apache2 | httpd,
 curl,
 graphicsmagick | imagemagick,
 libapache2-mod-php5 | php5,
 mysql-client | virtual-mysql-client,
 php5-mysql,
 php5-cli,
 php5-gd,
 ttf-dejavu-core,
 wwwconfig-common,
 ${misc:Depends}
Recommends: php-apc | php5-xcache
Suggests: mysql-server | virtual-mysql-server,  default-mta | mail-transport-agent, flite
Description: Open content management system for professional journalists
 Features for the modern newsroom include multiple author management,
 issue-and-section based publishing, geolocation and multilingual content 
 management. The enterprise-standard journalist’s dashboard and a templating
 engine supporting anything from HTML5 to mobile complete this fast production
 and publishing system. 
