Source: newscoop
Section: web
Priority: optional
Maintainer: Alessio Treglia <alessio@debian.org>, Robin Gareus <robin@gareus.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.1
Homepage: http://www.sourcefabric.org/en/products/newscoop_overview/

Package: newscoop
Architecture: all
Depends: apache2 | httpd,
 libapache2-mod-php5 | php5,
 php5-mysql,
 php5-cli,
 php5-gd,
 mysql-client | virtual-mysql-client,
 imagemagick | graphicsmagick,
 ${misc:Depends}
Suggests: mysql-server | virtual-mysql-server, php-apc
Description: Newspaper/Magazine Software for Web Publishing
 Newscoop is a web publishing system that can bring your newspaper or
 magazine content to the online world. It is often used by media
 organizations who also have a printed version of their publication,
 and enables them to increase their revenues with online subscriptions
 and ads. There are many systems that might seem similar to Newscoop,
 but it is the only open-source system designed to work in the same
 style of newspapers and magazines - for example, with multiple
 journalists, editor review, issue publishing, and subscription management.
 .
 Here are a few of its main features:
   * User-friendly interface to allow journalists and editors to work
     efficiently.
   * Possibility for multi-lingual content comes as standard.
   * Management features designed specifically for newspapers: automation
     of issue publishing, editor review, multimedia support.
   * Subscription management with control over what content your
     subscribers have access to.
   * Total design freedom - make your site look however you like,
     utilising the templating engine.
