#!/usr/bin/make -f

export DH_VERBOSE=0

all:

install:
	dh_testdir
	dh_testroot
	dh_install
	dh_installdirs
	dh_installdocs
	dh_installchangelogs
	dh_installexamples
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_installdebconf
	dh_link
	dh_gencontrol
	dh_md5sums
	dh_builddeb

clean:
	dh_clean

binary: install

build:
binary-arch:
binary-indep:
.PHONY: build clean binary-indep binary-arch binary install 
