/*** Core html setup stuff ***/

body {
    font-family: sans-serif, arial, verdana;
    background: #ffffff;
    margin: 0;
    padding: 0;
}

table.global {
    width: 98%;
    padding: 8px;
    border: 1px solid #dfdfdf;
}

table.header, table.inside {
    width: 100%;
    border: 1px solid #dfdfdf;
    margin: 0;
    padding: 8px;
}

table.header, table.right_header {
    background-color: #efefef;
}

table.right_header, table.right {
    width: 200px;
    margin: 0px 0px 0px 8px;
    padding: 8px;
    border: 1px solid #dfdfdf;
}

table.view_list {
    margin-top: 6px;
    padding: 0;
}
table.view_list td {
    margin: 0;
    padding: 4px;
    font-size: 75%;
    border-bottom: 1px dotted #dfdfdf;
}

div.title {
    color: #e07211;
    font-size: 120%;
    font-weight: bold;
}

div.navigate {
    text-align: right;
}

div.subtitle {
    width: 100%;
    font-size: 90%;
    font-weight: bold;
    border-bottom: 1px solid #dfdfdf;
}

div.help {
    font-size: 75%;
    color: #6a6a6a;
    margin-top: 10px;
}

div.table_spacer {
    margin: 5px;
}

div.form_field {
    margin: 8px;
    padding: 0;
    font-size: 75%;
}

div.message {
    margin-top: 10px;
    padding: 0;
    font-size: 75%;
    color: red;
}

div.icon {
    text-align: center;
    margin: 8px 5px 5px 0;
    float: left;
}
div.icon a {
    display: block;
    float: left;
    border: 1px solid #f0f0f0;
    height: 97px;
    width: 108px;
    color: #666666;
    vertical-align: middle;
    text-decoration: none;
}
div.icon a:hover {
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f9f9f9;
    color: #0b55c4;
}
div.icon img {
    border: 0;
    padding: 10px 0;
    margin: 0 auto;
}
div.icon span {
    font-size: 75%;
    display: block;
    text-align: center;
}
div.demo_img {
    margin-top: 15px;
    width: 230px;
    height: 135px;
    border: 1px solid #f0f0f0;
}
div.nonwritable {
    margin-left: 30px;
    color: #404040;
}

input.inputbox {
    font-size: 90%;
    margin: 0px;
    padding: 2px;
    border: 1px solid #dfdfdf;
}

ul#steps_list {
    font-size: 75%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul#steps_list li {
    padding-bottom: 5px;
}
ul#steps_list a {
    color: #0000cc;
    text-decoration: none;
}
ul#steps_list a:hover {
    text-decoration: underline;
}
ul#steps_list li.stepdone {
    color: #7b7b7b;
}

input.control_button {
    font-size: 90%;
    border: 1px solid #afafaf;
}
input.nav_button {
    font-size: 70%;
    border: 1px solid #afafaf;
}
input.nav_button_disabled {
    font-size: 70%;
    color: #a6a6a6;
    border: 1px solid #afafaf;
}

iframe.license {
    padding: 0px;
    width: 100%;
    height: 400px;
}

p.footer_text {
    font-size: 65%;
    text-align: center;
}

span.success {
    color: green;
}
span.error {
    color: red;
}
span.other {
    color: orange;
}

/* Tooltip Overlib Style */
div.domTTOverlib {
        border: 1px solid #8baed1;
        background-color: #d5e2ee;
}
div.domTTOverlib .caption {
        font-size: 10px;
        font-weight: bold;
        color: #000;
        background-color: #fff;
        padding: 2px;
}
div.domTTOverlib .contents {
        font-size: 10px;
        padding: 2px;
        background-color: #d5e2ee;
}
