<phpunit bootstrap="./application/bootstrap.php" colors="true" backupGlobals="false">
    <testsuites>
        <testsuite name="Library">
            <directory>./library</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../library</directory>
            <directory suffix=".php">../classes</directory>
            <directory suffix=".php">../template_engine</directory>
            <exclude>
                <directory suffix=".php">../library/Doctrine</directory>
                <directory suffix=".php">../library/Symfony</directory>
                <directory suffix=".php">../library/Zend</directory>
                <directory suffix=".php">../library/fabpot-event-dispatcher-782a5ef</directory>
                <directory suffix=".php">../library/fabpot-dependency-injection-07ff9ba</directory>
                <directory suffix=".php">../library/smarty3</directory>
                <directory suffix=".php">../library/Nette</directory>
                <directory suffix=".php">../library/Newscoop/Controller</directory>
                <directory suffix=".php">../library/Newscoop/Entity/Proxy</directory>
                <directory suffix=".php">../library/Newscoop/Entity/Output</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="report" charset="UTF-8" you="true" hightlight="true" lowUpperBound="50" highLowerBound="80" />
    </logging>
</phpunit>
