{% extends "layout.twig" %}

{% block header %}System compatibility{% endblock %}
{% block content %}
<div class="middle">
				<h3>Requirements</h3>
				<ul>
					{% for req in requirements %}
						<li class="{% if req.isFulfilled() %}{% else %}
							{% if req.isOptional() %}
									alert
								{% else %}
									fail
								{% endif %}
							{% endif %}">{{ req.getTestMessage() }}
						</li>
					{% endfor %}
				</ul>

				<h3>Recommendations</h3>
				<ul>
					{% for req in recommendations %}
						<li class="{% if req.isFulfilled() %}{% else %}
							{% if req.isOptional() %}
									alert
								{% else %}
									fail
								{% endif %}
							{% endif %}">{{ req.getTestMessage() }}
						</li>
					{% endfor %}
				</ul>

			</div>

			<div class="bottom notification {% if checkPassed == false %}fail{% else %}{% if warning %}alert{% endif %}{% endif %}">
			{% if checkPassed %}
				<span>All is well! {% if warning %}You have some warnings but you can continue.{% endif %}</span>
				<a href="{{ url('license') }}" class="btn btn-blue">Next</a>
			{% else %}<span>Your configuration is not compatible. Please make required changes.</span>{% endif %}
				<a href="{{ url('index') }}" class="btn btn-white">Refresh</a>
			</div>
{% endblock %}