{% extends "layout.twig" %}

{% block header %}Newscoop has been successfully installed!{% endblock %}
{% block content %}
<div class="middle">
<div class="text_links">
	<p>
		<b>Find out more</b> <br>
			Please read manual. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque risus nisi, a convallis ligula cursus et.
		</p>
		<a href="#" target="_blank" class="btn btn-white">Read Manual</a>

		<p>
			<b>Go to backend</b> <br>
			Start editing content. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</p>
		<a href="/admin" target="_blank" class="btn btn-blue">Backend</a>
</div>
<br>
<p><b>Cron jobs Autopublish</b> <br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque risus nisi, a convallis ligula cursus et. Vivamus varius orci eros, sed tincidunt lacus sagittis ut.</p>
<p><b>Events notifier</b> <br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque risus nisi, a convallis ligula cursus et.
</p>
<p><b>Cron jobs Autopublish</b> <br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque risus nisi. Vivamus varius orci eros, sed tincidunt lacus sagittis ut.</p>

<p><b>Events notifier</b> <br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus scelerisque risus nisi, a convallis ligula cursus et.</p>
</div>
{% endblock %}