{% extends "layout.twig" %}

{% block fixed %}{% endblock %}
{% block header %}Prepare database{% endblock %}
{% block content %}
<form role="form" action="#" method="post">
    {{ form_widget(form) }}
    <div class="bottom {% if hasErrors %}notification fail{% endif %}">
    	<span>
    	{% for key, message in app.session.getFlashBag() %}
    		{{ message.0|raw }}
		{% endfor %}</span>
		<input class="btn btn-blue" type="submit" value="Next">
		<input class="btn btn-white" type="reset" value="Reset">
	</div>
</form>
{% endblock %}