div#yui-connection-container {display:none;}
div#yui-connection-message, div#yui-connection-error {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.75em;
    font-size: 14pt;
    font-weight: bold;
}
div#yui-connection-message { color: green; }
div#yui-connection-error { color: red; }
div#yui-saved-box{
    background-color: #9cd465;
    color: #FFF;
    font-weight: bold;
    border: 1px solid white;
    padding: 3px 8px 3px 8px;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
div#authorAutoComplete {
    width:352px; /* set width here or else widget will expand to fit its container */
    padding-bottom:2em;
	float:left;
}
fieldset#pushbuttonsfrommarkup {
    border: 0;
}
