/***************************** */
/******** Begin Layout ******* */
/***************************** */
/* --- Begin General Elements */
body {
  background: #eee;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #000;
}
hr {
  margin: 5px 0px;
}
.label-important {
  background: #ca2600;
}
.label {
  padding: 0px 4px 2px 4px;
}
.bold-weight {
  font-weight: 700;
}
.normal-weight {
  font-weight: 400;
}
.full-width {
  width: 100% !important;
}
.nav-tabs {
  padding-top: 10px;
  padding-left: 5px;
  margin-bottom: 0px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
}
.nav-tabs > li > a {
  padding: 4px 6px;
}
.tab-content {
  padding: 12px 8px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
}
.navbar .login-nav > li > a {
  float: left;
}
/* End General Elements --- */
/* --- Begin Header */
#header {
  background: #c0c0c0;
}
#header .main-header {
  margin-bottom: 2px;
}
#header .main-header h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
#header #topnav .navbar-inner {
  width: 920px;
  margin-left: -10px;
}
#header nav[role="navigation"] .navbar-inner {
  width: 960px;
  margin-left: -10px;
  padding: 0px 0px;
}
#header #seachform {
  margin-top: 20px;
}
#header .welcome {
  line-height: 35px;
}
/* End Header --- */
/* --- Begin Index Slider  */
#quetzal-slideshow {
  position: relative;
  height: 300px;
}
#quetzal-slideshow .quetzal-slide {
  width: 100%;
  height: 300px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  display: none;
  transition: display 0.3s;
  -moz-transition: display 0.3s;
  -webkit-transition: display 0.3s;
  -o-transition: display 0.3s;
}
#quetzal-slideshow .quetzal-slide.first {
  display: block;
}
#quetzal-slideshow .quetzal-slide.first .slide-title {
  margin-top: 15px;
}
#quetzal-slideshow .slide-title {
  padding: 10px 10px 15px 10px;
  max-width: 320px;
  background: url('../_img/black-dot.png') repeat;
  margin-top: 15px;
}
#quetzal-slideshow .slide-title h3 {
  font-size: 24px;
  line-height: 25px;
  color: #fff;
  margin: 0px;
  font-weight: 400;
}
#quetzal-slideshow .slide-title h3 a {
  color: #fff;
  font-weight: 400;
}
#quetzal-slideshow .slide-title span {
  display: block;
  font-size: 11px;
}
#quetzal-slideshow .slide-time,
#quetzal-slideshow .read-more {
  display: block;
  padding: 0px 5px;
  font-size: 12px;
}
#quetzal-slideshow .slide-time {
  background: #f2f7fa;
  padding: 0px 5px;
}
#quetzal-slideshow .read-more {
  background: #000;
  color: red;
}
#quetzal-slideshow .slide-description {
  background: #f2f7fa;
  margin-top: 10px;
  max-width: 280px;
  padding: 10px;
  font-size: 12px;
  position: relative;
}
#quetzal-slideshow .slide-description .slide-time,
#quetzal-slideshow .slide-description .read-more {
  position: absolute;
  bottom: -20px;
}
#quetzal-slideshow .slide-description .slide-time {
  right: 100px;
}
#quetzal-slideshow .slide-description .read-more {
  right: 10px;
}
#quetzal-slideshow .pager-default {
  bottom: 15px;
  left: 12px;
}
#quetzal-slideshow .pager-section {
  right: 10px;
  top: 10px;
  width: 70px;
}
#quetzal-slideshow .pager-section a {
  display: block;
  margin-bottom: 10px;
}
#quetzal-slideshow .quetzal-slideshow-pager {
  z-index: 9999;
  position: absolute;
}
#quetzal-slideshow .quetzal-slideshow-pager a {
  display: inline-block;
  margin-right: 5px;
  -webkit-box-shadow: 0px 0px 1px 2px #000000;
  -moz-box-shadow: 0px 0px 1px 2px #000000;
  box-shadow: 0px 0px 1px 2px #000000;
  border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
}
#quetzal-slideshow .quetzal-slideshow-pager a img {
  border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
}
#quetzal-slideshow .quetzal-slideshow-pager .cycle-pager-active {
  -webkit-box-shadow: 0px 0px 1px 2px #ffffff;
  -moz-box-shadow: 0px 0px 1px 2px #ffffff;
  box-shadow: 0px 0px 1px 2px #ffffff;
}
#quetzal-slideshow .quetzal-popular-news {
  background: url('../_img/popular_news_background.png') repeat-y right top;
  position: absolute;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  z-index: 999;
  right: 0px;
  top: 0px;
  height: 290px;
  padding-top: 10px;
}
#quetzal-slideshow .quetzal-popular-news h3 {
  font-size: 18px;
  font-weight: normal;
  text-align: right;
  margin: 0px;
  padding: 0px 10px;
  color: #000;
}
#quetzal-slideshow .quetzal-popular-news .mgzn-news-box {
  margin-bottom: 10px;
  background: #fff;
  padding: 3px;
  width: 270px;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  font-family: "Tahoma", Arial, sans-serif;
}
#quetzal-slideshow .quetzal-popular-news .mgzn-news-box .mgzn-news-info {
  margin-left: 3px;
  width: 195px;
}
#quetzal-slideshow .quetzal-popular-news .mgzn-news-box .mgzn-news-info a {
  color: #333333;
}
/* End Index Slider --- */
/* --- Begin Content Elements */
section[role="main"] .wrapper {
  background: #fff;
  width: 960px;
  margin: 0 auto;
  border-radius: 6px;
  -ms-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
}
section#content {
  padding: 10px 0px 20px 0px;
}
figure.article-image {
  margin: 0px;
  padding: 0px;
}
article {
  font-size: 12px;
}
article h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 0px;
  line-height: 20px;
}
article .article-date {
  font-size: 11px;
}
h1.block-title {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 0px;
}
.archive-block {
  margin-bottom: 20px;
}
.archive-block hr {
  margin-top: 2px;
  margin-bottom: 15px;
}
.archive-block article h1 {
  font-size: 18px;
}
.archive-entry header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.archive-entry .article-image {
  width: 130px !important;
}
/* End General Content Elements --- */
/* --- Begin Index */
.home-featured-news .most-prominent {
  max-height: 152px;
}
.home-featured-news .section-article,
.home-featured-news .most-prominent {
  margin-bottom: 10px;
}
.home-featured-news .section-article .article-image,
.home-featured-news .most-prominent .article-image {
  margin-right: 7px;
}
.home-featured-news .section-article figure.article-image,
.home-featured-news .most-prominent figure.article-image {
  margin: 0px;
  padding: 0px;
  margin-right: 7px;
}
.home-featured-news .other-featured article {
  margin-right: 7px;
  min-height: 340px;
  padding-bottom: 20px;
  position: relative;
}
.home-featured-news .other-featured article .article-links {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.home-featured-news .other-featured article:last-child {
  margin-right: 0px !important;
}
.home-featured-news .other-featured .article-image,
.home-featured-news .other-featured figure.article-image {
  margin-bottom: 7px;
}
.home-featured-news .other-featured .article-content {
  width: 202px;
}
.home-featured-news .issue-entry header {
  padding-top: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.home-featured-news .issue-entry .article-image {
  width: 80px !important;
}
.tab-content hr {
  margin: 5px 0px;
}
.quetzal-carousel {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  margin-top: 10px;
}
.quetzal-carousel .quetzal-carousel-content {
  height: 220px;
}
.quetzal-carousel .sub-item {
  width: 235px;
  display: block;
}
.quetzal-carousel .video {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=0.8);
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}
.quetzal-carousel .video:hover {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=0.8);
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
}
.quetzal-carousel .photo,
.quetzal-carousel .video {
  position: relative;
}
.quetzal-carousel .photo .photo-caption,
.quetzal-carousel .video .photo-caption {
  color: #fff;
  position: absolute;
  bottom: 0px;
  padding: 6px;
  text-align: center;
  background: url("../_img/black-dot.png") repeat;
}
/* End Index --- */
/* --- Begin Sidebar */
.advertisements {
  margin-bottom: 10px;
}
.sidebar-widget-tabs,
.more-news-tabs {
  font-size: 11px;
}
.more-news-tabs .article-content img {
  margin-right: 10px;
}
.sidebar-widget-tabs {
  font-size: 12px;
  line-height: 14px;
}
.modal-body .article-image {
  margin-right: 10px;
  margin-bottom: 10px;
}
.olFramedCloudPopupContent {
  margin-left: 15px;
}
.widget-community-feed h4 {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
}
.widget-community-feed .comm-entry {
  margin-top: 10px;
  border-bottom: #454545 1px dotted;
  padding-bottom: 10px;
}
.widget-community-feed .comm-entry p {
  color: #BCC2CB;
  background: url("../_img/comment-icon.png") left bottom no-repeat;
  display: block;
  margin: 0px;
  font-size: 11.5px;
  padding-left: 20px;
}
.widget-community-feed .comm-entry a {
  font-weight: 400;
}
.widget-community-feed .comm-entry span {
  color: #777;
}
.widget-community-feed .widget-wrap {
  padding: 0 20px !important;
}
/* End Sidebar --- */
/* --- Begin Footer */
footer[id="main-footer"] {
  margin-top: 25px;
  font-size: 12px;
  background: #c0c0c0;
}
footer[id="main-footer"] .footer-info {
  padding: 20px 0px;
}
footer[id="main-footer"] h4 {
  font-weight: normal;
}
footer[id="main-footer"] .categories ul {
  text-transform: uppercase;
}
footer[id="main-footer"] .categories ul,
footer[id="main-footer"] .more-links ul {
  list-style-type: none;
  margin: 0px;
  margin-left: 5px;
}
footer[id="main-footer"] .about-us p {
  padding-right: 18px;
}
footer[id="main-footer"] .contact-us {
  font-size: 11px;
}
footer[id="main-footer"] .contact-us .info {
  margin-bottom: 5px;
}
footer[id="main-footer"] .contact-us .info span {
  font-weight: bold;
  display: block;
}
footer[id="main-footer"] .footer-brand {
  height: 62px;
  line-height: 62px;
}
footer[id="main-footer"] .footer-brand .logo-footer {
  display: inline-block;
  margin-right: 10px;
}
/* End Footer --- */
/* --- Begin Internal Page */
.internal-page {
  font-size: 13px;
}
.internal-page header.section-header {
  background: #171b21;
  min-height: 50px;
}
.breadcrumbs {
  min-height: 50px;
}
.breadcrumbs h2,
.breadcrumbs h3 {
  color: #6b6b6b;
  margin: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline-block;
}
.breadcrumbs span {
  display: inline-block;
  position: relative;
  top: -5px;
}
.internal-nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  min-height: 31px;
  line-height: 31px;
}
.internal-nav ul li {
  display: inline-block;
  font-size: 12px;
  position: relative;
  top: 3px;
}
.internal-nav ul li a {
  color: #fff;
  display: block;
  padding: 0px 5px;
  padding-top: 2px;
  padding-bottom: 3px;
}
.internal-nav ul li a:hover {
  text-decoration: none;
}
.internal-nav ul li.active a,
.internal-nav ul li:hover a {
  color: #000;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  background: #fff;
}
/* End Internal Page --- */
/* --- Begin Single Page */
.single h1 {
  width: 300px;
}
.single figure.aside-figure {
  width: 300px;
  margin: 0px;
  padding: 0px;
  margin: 10px 0 0 15px;
}
#gallery {
  min-width: 250px;
  max-width: 100%;
  min-height: 300px;
  max-height: 400px;
  background: #000;
  margin-bottom: 15px;
}
#gallery .galleria-info,
#gallery .galleria-info-text {
  display: block !important;
}
#gallery .galleria-info {
  width: 100%;
  text-align: center;
  left: 0;
  top: 70%;
}
#gallery .galleria-info .galleria-info-text {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=0.8);
  padding: 10px 0px 5px 0px;
  border-top: 1px solid;
}
#gallery .galleria-info .galleria-info-text .galleria-info-title {
  font-size: 11px;
  font-weight: normal;
}
#gallery .galleria-info-link {
  display: none !important;
}
article.main-article figure {
  margin: 0px;
  padding: 0px;
  margin: 12px 0px;
  position: relative;
}
article.main-article figure figcaption {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30px;
  font-size: 11px;
  line-height: 30px;
  color: #fff;
  font-style: italic;
  background: url("../_img/black-dot.png") repeat;
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article.main-article .article-content blockquote {
  border: 0;
  padding: 12px;
  margin: 20px 0;
  border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}
article.main-article .addthis_toolbox {
  padding: 10px 0px 5px 0px;
  margin: 10px 0px;
}
#comments input[type="submit"] {
  margin-top: -100px;
}
.article-container .article-content .cs_img {
  width: 50%;
  margin-left: 10px;
}
.article-container .article-content .cs_img .cs_img_caption {
  background: url("../_img/black-dot.png") repeat;
  color: #fff;
  margin-top: -10px;
  padding: 3px 8px;
  font-size: 11px;
  font-style: italic;
}
#comment-form input[type="text"],
#comment-form input[type="email"],
#comment-form input[type="url"],
#comment-form textarea {
  width: 100%;
  font-size: 14px;
  height: 42px;
  font-style: italic;
}
#comment-form textarea {
  height: 146px;
}
.login-textarea textarea {
  margin-bottom: 100px;
}
#recaptcha_response_field {
  height: 32px !important;
}
.audiojs {
  width: 60%;
  font-size: 9px;
}
.audiojs .scrubber {
  width: 60%;
}
.rate_widget {
  border: none;
  overflow: visible;
  padding: 10px;
  position: relative;
  width: 180px;
  height: 25px;
}
.ratings_stars {
  background: url('../_img/rating/star_empty.png') no-repeat;
  float: left;
  height: 25px;
  padding: 2px;
  width: 28px;
}
.ratings_vote {
  background: url('../_img/rating/star_full.png') no-repeat;
}
.ratings_over {
  background: url('../_img/rating/star_highlight.png') no-repeat;
}
.total_votes {
  background: #eaeaea;
  top: 48px;
  left: 0;
  padding: 5px 10px;
  font-size: 10px;
  position: absolute;
}
.article_rating {
  font: 8px;
  margin: 0px 0px 50px 0px;
  width: 180px;
}
.rating_error {
  top: 75px;
  left: 0;
  padding: 5px;
  position: absolute;
  color: red;
  font-weight: bold;
  width: 200px;
}
.stars {
  padding: 0;
  margin: 0 4px 0 0;
  list-style-type: none;
  display: inline-block;
}
/* End Single Page --- */
/* --- Begin Debate */
.debate .debate-right h1 {
  float: left;
}
.debate .debate-right .well {
  margin-left: 10px;
  margin-right: 0px;
}
.debate .debate-left {
  margin-top: 10px;
}
.debate .debate-left h1 {
  float: right;
}
.debate .debate-left .well {
  margin-right: 15px;
  margin-left: 0px;
}
.debate h1 {
  width: 65%;
}
.debate .well {
  width: 25%;
  margin-left: 10px;
  font-size: 11px;
  margin-bottom: 10px;
}
.debate-bar {
  height: 5px;
  margin-bottom: 0px;
}
.debate-value {
  margin: 10px 0px 15px 0px;
}
/* End Debate --- */
/* --- Begin Profile */
.profile {
  margin-bottom: 20px;
}
.profile .span6 {
  padding-top: 15px;
}
.profile h1 {
  font-size: 24px;
  font-weight: 400;
  margin: 0px;
  line-height: 24px;
  margin-bottom: 10px;
}
.profile h3 {
  margin: 0px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.profile .profile-picture {
  margin-right: 10px;
  margin-bottom: 10px;
}
.profile .profile-info {
  width: 63%;
  float: left;
}
.profile .profile-info a {
  font-weight: 400;
}
.profile .profile-info b {
  display: inline-block;
  min-width: 100px;
  font-size: 11.5px;
}
.profile .member-since {
  color: #777;
  padding-left: 30px;
  background: url("../_img/calendar-icon.png") left center no-repeat;
  display: inline-block;
}
.profile .member-post {
  padding-left: 30px;
  display: inline-block;
  background: url("../_img/post-icon.png") left center no-repeat;
}
.profile-articles .block-title {
  font-size: 18px;
  line-height: 26px;
  margin: 0px;
  margin-bottom: 10px;
}
.user-entry {
  margin-bottom: 10px;
  margin-top: 10px;
}
.user-entry h2 {
  font-size: 18px;
}
.user-entry h2 a {
  font-weight: 400;
}
.user-entry .user-picture {
  margin-right: 15px;
}
/* End Profile --- */
/* --- Begin Registration and Login Form */
.quetzal-form {
  padding-right: 30px;
}
.quetzal-form:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.zend_form dt {
  float: left;
  margin-right: 3.8%;
  width: 39.45%;
}
.zend_form input[type="text"],
.zend_form input[type="password"],
.zend_form textarea {
  width: 100%;
}
.zend_form dd {
  margin-left: 0;
  width: 56.75%;
  float: left;
}
.zend_form #fieldset-newsletter dd {
  margin-left: 0;
  width: 8%;
  float: left;
}
.zend_form #fieldset-newsletter dt {
  float: right;
  margin-right: 3.8%;
  width: 86%;
  margin-bottom: 10px;
}
.zend_form #attributes-element {
  width: 100%;
}
.zend_form #attributes-element #attributes-gender-male {
  margin-right: 10px;
}
.zend_form #attributes-element #attributes-gender-female {
  margin-right: 10px;
}
.zend_form #attributes-element label[for="attributes-gender-female"] {
  margin-top: -15px;
  margin-bottom: 10px;
}
.zend_form #attributes-element #attributes-first_name_public-element,
.zend_form #attributes-element #attributes-last_name_public-element,
.zend_form #attributes-element #attributes-email_public-element {
  float: left;
  margin-top: -10px;
}
.zend_form #attributes-element #attributes-first_name_public-element input[type="radio"],
.zend_form #attributes-element #attributes-last_name_public-element input[type="radio"],
.zend_form #attributes-element #attributes-email_public-element input[type="radio"],
.zend_form #attributes-element #attributes-first_name_public-element input[type="checkbox"],
.zend_form #attributes-element #attributes-last_name_public-element input[type="checkbox"],
.zend_form #attributes-element #attributes-email_public-element input[type="checkbox"] {
  height: 40px;
}
.zend_form #submit-element {
  margin-bottom: 10px;
}
/* End Registration and Login Form --- */
/***************************** */
/******** End Layout ********* */
/***************************** *//***************************** */
/**** Begin Quetzal Skin ***** */
/***************************** */
/* --- Begin General Elements */
body {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-weight: normal;
  background: url("../_img/body-back.jpg") repeat;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Asap', sans-serif;
}
/* End General Elements --- */
/* --- Begin Skin Variables and Custom Style Classes */
.white-text {
  color: #fff;
}
.link-color {
  color: #d55436;
}
.gray-text {
  color: #777;
}
a.link-color {
  color: #d55436;
  font-weight: 600;
}
a.link-color:hover {
  color: #c52500;
}
hr {
  border-top: 1px dotted #b2b2b2;
  height: 1px;
}
.bold-weight {
  font-weight: 700;
}
.normal-weight {
  font-weight: 400;
}
.content-font {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
}
.web-font {
  font-family: 'Asap', sans-serif;
}
.web-font-italic {
  font-family: 'Asap', sans-serif;
  font-style: italic;
}
.btn-red,
.btn-gray,
.btn-orange {
  color: #fff !important;
  border: none;
}
.btn-red:hover,
.btn-gray:hover,
.btn-orange:hover,
.btn-red:focus,
.btn-gray:focus,
.btn-orange:focus {
  background: none;
  background-position: 0 0 !important;
}
.btn-red {
  text-shadow: 0px -1px 0px #901600;
  -moz-text-shadow: 0px -1px 0px #901600;
  -webkit-text-shadow: 0px -1px 0px #901600;
  background-color: #ca3500;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ca3500), color-stop(10%, #ca3500), to(#bb1c00));
  background-image: -webkit-linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
  background-image: -moz-linear-gradient(top, #ca3500, #ca3500 10%, #bb1c00);
  background-image: -ms-linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
  background-image: -o-linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
  background-image: linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
}
.btn-red:hover,
.btn-red:focus {
  background-color: #ca3500;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ca3500), color-stop(70%, #ca3500), to(#bb1c00));
  background-image: -webkit-linear-gradient(#ca3500, #ca3500 70%, #bb1c00);
  background-image: -moz-linear-gradient(top, #ca3500, #ca3500 70%, #bb1c00);
  background-image: -ms-linear-gradient(#ca3500, #ca3500 70%, #bb1c00);
  background-image: -o-linear-gradient(#ca3500, #ca3500 70%, #bb1c00);
  background-image: linear-gradient(#ca3500, #ca3500 70%, #bb1c00);
}
.btn-gray {
  text-shadow: 0px -1px 0px #40464d;
  -moz-text-shadow: 0px -1px 0px #40464d;
  -webkit-text-shadow: 0px -1px 0px #40464d;
  background-color: #636b75;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#636b75), color-stop(10%, #636b75), to(#444d57));
  background-image: -webkit-linear-gradient(#636b75, #636b75 10%, #444d57);
  background-image: -moz-linear-gradient(top, #636b75, #636b75 10%, #444d57);
  background-image: -ms-linear-gradient(#636b75, #636b75 10%, #444d57);
  background-image: -o-linear-gradient(#636b75, #636b75 10%, #444d57);
  background-image: linear-gradient(#636b75, #636b75 10%, #444d57);
}
.btn-gray:hover,
.btn-gray:focus {
  background-color: #636b75;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#636b75), color-stop(70%, #636b75), to(#444d57));
  background-image: -webkit-linear-gradient(#636b75, #636b75 70%, #444d57);
  background-image: -moz-linear-gradient(top, #636b75, #636b75 70%, #444d57);
  background-image: -ms-linear-gradient(#636b75, #636b75 70%, #444d57);
  background-image: -o-linear-gradient(#636b75, #636b75 70%, #444d57);
  background-image: linear-gradient(#636b75, #636b75 70%, #444d57);
}
.btn-orange {
  text-shadow: 0px -1px 0px #bb4c00;
  -moz-text-shadow: 0px -1px 0px #bb4c00;
  -webkit-text-shadow: 0px -1px 0px #bb4c00;
  background-color: #ff7300;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7300), color-stop(10%, #ff7300), to(#ff5500));
  background-image: -webkit-linear-gradient(#ff7300, #ff7300 10%, #ff5500);
  background-image: -moz-linear-gradient(top, #ff7300, #ff7300 10%, #ff5500);
  background-image: -ms-linear-gradient(#ff7300, #ff7300 10%, #ff5500);
  background-image: -o-linear-gradient(#ff7300, #ff7300 10%, #ff5500);
  background-image: linear-gradient(#ff7300, #ff7300 10%, #ff5500);
}
.btn-orange:hover,
.btn-orange:focus {
  background-color: #ff7300;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7300), color-stop(70%, #ff7300), to(#ff5500));
  background-image: -webkit-linear-gradient(#ff7300, #ff7300 70%, #ff5500);
  background-image: -moz-linear-gradient(top, #ff7300, #ff7300 70%, #ff5500);
  background-image: -ms-linear-gradient(#ff7300, #ff7300 70%, #ff5500);
  background-image: -o-linear-gradient(#ff7300, #ff7300 70%, #ff5500);
  background-image: linear-gradient(#ff7300, #ff7300 70%, #ff5500);
}
/* End Skin Variables and custom style classes --- */
/* --- Begin Header Styles */
#header {
  background: #171b20 url("../_img/header-back.png") top repeat-x;
}
#header .navbar {
  margin-bottom: 8px;
}
#header .main-header h1 {
  color: #c52500;
}
#header .main-header h1 a {
  color: #c52500;
}
#header #seachform input[type="search"] {
  border-right: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  font-style: italic;
  font-family: 'Asap', sans-serif;
}
#header #seachform .btn {
  background: #fff;
  border-left: none;
  border-top-color: #ccc;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
}
#header #topnav .navbar-inner {
  background-color: #1e2229;
  background: url("../_img/topnav-back.png") repeat-x;
  font-family: Tahoma, arial, sans-serif;
  min-height: 35px !important;
  line-height: 35px;
  height: 35px;
  color: #fff;
  font-size: 11px;
  border: 1px solid #000;
  border-top: none;
  -webkit-box-shadow: 0px 0px 3px 1px #20262c;
  -moz-box-shadow: 0px 0px 3px 1px #20262c;
  box-shadow: 0px 0px 3px 1px #20262c;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
}
#header #topnav .navbar-inner .welcome {
  font-size: 12px;
  font-family: Arial, sans-serif;
}
#header #topnav .navbar-inner .nav > li > a {
  color: #fff;
  padding: 6px 15px 10px;
  text-shadow: none;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: 0px 0px 2px #000000 0px 5px #929292;
  -moz-text-shadow: 0px 0px 2px #000000 0px 5px #929292;
  -webkit-text-shadow: 0px 0px 2px #000000 0px 5px #929292;
}
#header #topnav .user-top-lef-links a:hover {
  color: #ff8f59;
}
.social-buttons a {
  padding-left: 23px !important;
}
.social-buttons a:hover {
  color: #ff8f59 !important;
}
.social-buttons .fb {
  background: url("../_img/fb.png") no-repeat left center;
}
.social-buttons .tw {
  background: url("../_img/tw.png") no-repeat left center;
}
.social-buttons .rss {
  background: url("../_img/rss.png") no-repeat left center;
}
/* End Header Styles --- */
/* --- Begin Main Navigation */
nav[role="navigation"] .navbar-inner {
  padding: 0px;
  min-height: 30px !important;
  line-height: 30px;
  height: 30px;
  background: none;
  border: none;
  font-family: Tahoma, arial, sans-serif;
  font-size: 12px;
}
nav[role="navigation"] .navbar-inner .nav > li {
  height: 30px;
  line-height: 16px;
  background: url("../_img/menu-separator.png") no-repeat right bottom;
}
nav[role="navigation"] .navbar-inner .nav > li:hover a:hover {
  color: #f0532e;
}
nav[role="navigation"] .navbar-inner .nav > li:last-child {
  background: none !important;
}
nav[role="navigation"] .navbar-inner .nav > li > a {
  color: #fff;
  padding: 6px 10px 5px;
  text-shadow: none;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: 0px 0px 2px #000000 0px 5px #929292;
  -moz-text-shadow: 0px 0px 2px #000000 0px 5px #929292;
  -webkit-text-shadow: 0px 0px 2px #000000 0px 5px #929292;
  display: inline-block;
}
nav[role="navigation"] .navbar-inner .nav > li > a:focus {
  background: none important;
}
nav[role="navigation"] .navbar-inner .active,
nav[role="navigation"] .navbar-inner .dropdown-toggle {
  background: none !important;
  outline: none;
}
nav[role="navigation"] .navbar-inner .sections-menu li.active a,
nav[role="navigation"] .navbar-inner .sections-menu li.active a:focus {
  color: #d55436;
}
nav[role="navigation"] .caret {
  border: none;
  padding: 0px;
  background: url("../_img/arrow-down.png") no-repeat;
  width: 15px;
  height: 19px;
  display: inline-block;
  margin: 0px 0px 0px 2px !important;
}
nav[role="navigation"] .dropdown-menu {
  border: none;
  left: 9px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
}
nav[role="navigation"] .dropdown-menu:after,
nav[role="navigation"] .dropdown-menu:before {
  border: none !important;
}
nav[role="navigation"] .dropdown-menu:before {
  width: 100%;
  height: 5px;
  background: #0d1013;
  top: -5px !important;
  left: 0px !important;
}
nav[role="navigation"] .dropdown-menu > li:last-child a {
  border: none;
}
nav[role="navigation"] .dropdown-menu > li > a {
  padding: 3px 10px;
  border-bottom: 1px dotted #999999;
}
nav[role="navigation"] .dropdown-menu > li > a:hover {
  background: none;
}
nav[role="navigation"] .login-nav {
  color: #687282;
}
nav[role="navigation"] .login-nav .btn {
  padding: 2px 12px;
  font-size: 12px;
}
nav[role="navigation"] .login-nav .dropdown-menu {
  background: #1e232a;
}
nav[role="navigation"] .login-nav .dropdown-menu input[type="text"],
nav[role="navigation"] .login-nav .dropdown-menu input[type="password"] {
  width: 168px;
  font-size: 12px;
}
nav[role="navigation"] .login-nav .profile-dropdown {
  background: #fff;
}
/* End Main Navigation --- */
/* --- Begin Content Elements */
section[role="main"] .wrapper {
  -webkit-box-shadow: 0px 2px 7px 0px #f0e5da;
  -moz-box-shadow: 0px 2px 7px 0px #f0e5da;
  box-shadow: 0px 2px 7px 0px #f0e5da;
}
section[role="main"] .container:before {
  display: block !important;
}
/* End Content Elements --- */
/* --- Begin Index */
.home-featured-news .article-date {
  color: #777;
}
.quetzal-carousel h4 {
  font-size: 20px;
  font-weight: 400;
  color: #283039;
}
.quetzal-carousel .carousel-control {
  background: #fff;
  width: 20px;
  height: 160px;
  top: 46px;
  border-radius: 0px;
  -ms-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter: alpha(opacity=0.8);
}
.quetzal-carousel .carousel-control span {
  display: block;
  top: 46px;
}
.quetzal-carousel .carousel-control.left {
  left: 0px;
}
.quetzal-carousel .carousel-control.right {
  right: 0px;
}
.quetzal-carousel .carousel-control:hover {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=0.8);
}
.arrow-left {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #c52500;
  width: 0;
  height: 0;
  position: relative;
  left: 5px;
}
.arrow-right {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #c52500;
  width: 0;
  height: 0;
  position: relative;
  left: 6px;
}
.nav-tabs {
  background: #161a20 url("../_img/nav-tabs.png") repeat-x top;
  border-bottom: 1px solid #3A434C;
}
.nav-tabs > li > a {
  color: #fff;
  text-shadow: 0px 1px 3px #000000;
  -moz-text-shadow: 0px 1px 3px #000000;
  -webkit-text-shadow: 0px 1px 3px #000000;
  font-size: 12px;
}
.nav-tabs > li.active > a,
.nav-tabs > li:hover > a {
  border: none;
  background: #29313a url("../_img/tab-active.png") repeat-x top;
  border-top: 1px solid #29313a;
  border-left: 1px solid #29313a;
  border-right: 1px solid #29313a;
  border-bottom: 1px solid #29313a;
  color: #fff;
}
.nav-tabs > li.active > a:hover,
.nav-tabs > li:hover > a:hover {
  background: #29313a url("../_img/tab-active.png") repeat-x top;
  border-top: 1px solid #29313a;
  border-left: 1px solid #29313a;
  border-right: 1px solid #29313a;
  color: #fff;
}
.tab-content {
  background: #29313a url("../_img/tabcontent.png") repeat-x bottom;
}
.tab-content .comment-box {
  font-size: 12px;
  line-height: 15px;
}
.tab-content .comment-box a {
  color: #fff;
}
.tab-content .comment-box .comment-info {
  color: #889199;
  font-style: italic;
  font-size: 11px;
  font-family: 'Asap', sans-serif;
  text-shadow: 0px 1px 3px #000000;
  -moz-text-shadow: 0px 1px 3px #000000;
  -webkit-text-shadow: 0px 1px 3px #000000;
}
.tab-content .comment-box a.link-color,
.tab-content .comment-box a.comments-link {
  font-weight: 400;
}
.tab-content hr {
  border-bottom: none;
  border-top: 1px dotted #454f58;
}
.sidebar-widget-tabs {
  color: #fff;
}
.sidebar-widget-tabs .polls form {
  margin-bottom: 0px;
}
.sidebar-widget-tabs .polls .pollWrap {
  background: #171b21;
  padding: 10px 0px 0px 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}
.sidebar-widget-tabs .polls .pollWrap blockquote {
  color: #cdcdcd;
  border: 0;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.sidebar-widget-tabs .polls .pollWrap .poll-info {
  color: #fff;
  font-weight: bold;
}
.sidebar-widget-tabs .polls .label-important {
  margin-left: 5px;
  margin-bottom: 3px;
  font-size: 10px;
}
.sidebar-widget-tabs .polls input[type="submit"] {
  color: #fff;
  padding: 6px;
  color: #fff !important;
  border: none;
  text-shadow: 0px -1px 0px #901600;
  -moz-text-shadow: 0px -1px 0px #901600;
  -webkit-text-shadow: 0px -1px 0px #901600;
  background-color: #ca3500;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ca3500), color-stop(10%, #ca3500), to(#bb1c00));
  background-image: -webkit-linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
  background-image: -moz-linear-gradient(top, #ca3500, #ca3500 10%, #bb1c00);
  background-image: -ms-linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
  background-image: -o-linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
  background-image: linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
  border-radius: 3 x;
  -ms-border-radius: 3 x;
  -moz-border-radius: 3 x;
  -webkit-border-radius: 3 x;
  -khtml-border-radius: 3 x;
  width: 100%;
  margin-top: -15px;
}
.sidebar-widget-tabs .polls input[type="submit"]:hover,
.sidebar-widget-tabs .polls input[type="submit"]:focus {
  background: none;
  background-position: 0 0 !important;
}
.sidebar-widget-tabs .polls input[type="submit"]:hover,
.sidebar-widget-tabs .polls input[type="submit"]:focus {
  background-color: #ca3500;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ca3500), color-stop(70%, #ca3500), to(#bb1c00));
  background-image: -webkit-linear-gradient(#ca3500, #ca3500 70%, #bb1c00);
  background-image: -moz-linear-gradient(top, #ca3500, #ca3500 70%, #bb1c00);
  background-image: -ms-linear-gradient(#ca3500, #ca3500 70%, #bb1c00);
  background-image: -o-linear-gradient(#ca3500, #ca3500 70%, #bb1c00);
  background-image: linear-gradient(#ca3500, #ca3500 70%, #bb1c00);
}
.sidebar-widget-tabs .polls .total-votes {
  margin-left: 10px;
}
.sidebar-widget-tabs .polls .poll-option {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 0px 10px 10px 10px;
  border-bottom: 1px dotted #5f6d7d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sidebar-widget-tabs .polls .poll-option label {
  font-size: 12px;
}
.sidebar-widget-tabs .polls .poll-option input[type="radio"] {
  margin-right: 5px;
  position: relative;
  margin-right: 10px;
  float: left;
}
/* End Index --- */
/* --- Begin Sidebar */
.sidebar-widget-tabs li.active > a:focus,
.more-news-tabs li.active > a:focus {
  color: #fff;
  border: 1px solid #29313A;
  outline: none;
  background: url("../_img/tab-active.png") repeat-x center top #29313a;
}
.more-news-tabs h4 {
  font-weight: 400;
  margin: 0px;
  font-size: 20px;
  color: #fff;
  margin-bottom: 8px;
}
.more-news-tabs .nav-tabs {
  border-bottom: 1px solid #fff;
  padding-left: 10px;
}
.more-news-tabs .nav-tabs > li > a {
  font-size: 12px;
  text-shadow: none;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
}
.more-news-tabs .nav-tabs > li.active > a,
.more-news-tabs .nav-tabs > li:hover > a {
  color: #000;
  border: none;
  background: #fff;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.more-news-tabs .tabWrap {
  background: url("../_img/tabs-back.png") repeat-x 0px -15px;
  padding: 0px 1px;
  margin-top: -1px;
}
.more-news-tabs .tab-content {
  background: #fff;
  min-height: 100px;
  font-size: 12px;
}
.more-news-tabs .article-content {
  border-bottom: none;
}
.more-news-tabs .article-content .title {
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: #000;
}
.more-news-tabs .article-content .title:hover {
  text-decoration: underline;
  color: #000;
}
.more-news-tabs .article-content .article-image {
  width: 70px;
  margin-right: 10px;
}
.more-news-tabs .article-content .article-excerpt {
  line-height: 14px;
  width: 100px;
  width: 522px;
}
.more-news-tabs .article-links {
  margin-bottom: 10px;
}
i.icon-center {
  background: url("../_img/center-map.png") no-repeat center;
  height: 22px;
  width: 22px;
  display: inline-block;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-top-right-radius: 2px;
}
.widget-map {
  background: #191d23;
  padding: 10px 0px 20px 0px;
  border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}
.widget-map h4 {
  font-weight: 400;
  margin: 0px;
  font-size: 20px;
  color: #fff;
  margin-bottom: 8px;
}
.widget-map .map {
  margin: 0px 0px 10px 0px;
  width: 100%;
}
.widget-map .geomap_open_large_map a {
  color: #d55436;
  text-decoration: none;
  font-size: 12px;
}
.widget-map .map-badge {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  background: url("../_img/map-badges.png") repeat-x;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  padding-left: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  text-shadow: -1px 0px 1px #000000;
  -moz-text-shadow: -1px 0px 1px #000000;
  -webkit-text-shadow: -1px 0px 1px #000000;
  -webkit-box-shadow: 0px 1px 2px #000000 #929292;
  -moz-box-shadow: 0px 1px 2px #000000 #929292;
  box-shadow: 0px 1px 2px #000000 #929292;
}
.widget-map .map-badge i.icon-center {
  margin-top: -3px;
  margin-left: 2px;
}
.widget-map .widget-wrap {
  padding: 0px 10px;
}
.widget-map div.widget-footer {
  color: #889199;
  font-size: 11px;
  text-shadow: 0px 0px 1px #000000;
  -moz-text-shadow: 0px 0px 1px #000000;
  -webkit-text-shadow: 0px 0px 1px #000000;
}
.widget-map div.widget-footer i.icon-center {
  border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  margin-top: -2px;
}
.widget-map hr {
  border-top: 1px solid #282e36;
  border-bottom: none;
}
.widget-map .timeago {
  color: #888a85;
}
.modal-body {
  color: #333;
}
.modal-body .article-links a {
  color: #D55436;
}
.modal-header h3 {
  font-family: 'Asap', sans-serif;
  color: #333;
}
.popup_title {
  font-size: 13px !important;
  color: #333 !important;
  font-weight: bold;
  margin: 3px 0px !important;
  max-width: 190px !important;
}
.popup_text {
  color: #707070;
  font-size: 12px !important;
}
.article_backlinks ul li {
  line-height: 15px;
}
.article_backlinks a {
  color: #c52500 !important;
  font-size: 11px;
}
.olFramedCloudPopupContent {
  margin-left: 15px;
}
.widget-more-news,
.widget-debate {
  margin-bottom: 10px;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
}
.widget-more-news > header,
.widget-debate > header {
  background: #1a1e24;
  padding: 10px;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
}
.widget-more-news h4,
.widget-debate h4 {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  margin: 0px;
}
.widget-more-news .widget-wrap,
.widget-debate .widget-wrap {
  background: url("../_img/tabs-back.png") repeat-x 0px -15px;
  padding: 0px 1px;
  margin-top: -1px;
}
.widget-more-news .widget-content,
.widget-debate .widget-content {
  background: #fff;
  min-height: 100px;
  padding: 10px;
}
.widget-more-news .news-box,
.widget-debate .news-box {
  margin-bottom: 10px;
}
.widget-more-news .newtitle,
.widget-debate .newtitle {
  width: 198px;
  line-height: 15px;
}
.widget-more-news .newtitle a,
.widget-debate .newtitle a {
  color: #000;
}
.widget-more-news .newdata,
.widget-debate .newdata {
  font-size: 11px;
  color: #666;
}
.widget-more-news .newdata a,
.widget-debate .newdata a {
  font-weight: 700;
}
.widget-more-news .newdata .date,
.widget-debate .newdata .date {
  color: #777;
}
.widget-more-news .divider,
.widget-debate .divider {
  border: none;
  margin-bottom: 0px;
}
.widget-more-news .divider:after,
.widget-debate .divider:after {
  content: '';
  height: 5px;
  display: block;
  border-bottom: 1px dotted #B2B2B2;
}
/* End Sidebar --- */
/* --- Begin Footer */
footer[id="main-footer"] {
  background: #1e232a url("../_img/footer-back.jpg") bottom repeat-x;
  color: #bcc2cb;
}
footer[id="main-footer"] a {
  color: #bcc2cb;
}
footer[id="main-footer"] h4 {
  color: #ffffff;
}
footer[id="main-footer"] .footer-brand {
  color: #7d8288;
}
footer[id="main-footer"] .categories a:hover {
  text-decoration: none;
  color: #c52500;
}
footer[id="main-footer"] .right-separator {
  background: url("../_img/dot.png") repeat-y right;
}
/* End Footer --- */
/* --- Begin Internal Page */
article.main-article figcaption {
  font-family: 'Asap', sans-serif;
}
.article-content {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
}
.article-content h1 {
  font-family: 'Asap', sans-serif;
}
.article-content h1 a {
  color: #000;
}
.article-content .article-date {
  color: #777;
}
.article-content p a {
  color: #d55436;
}
.article-links {
  font-size: 11px;
}
.internal-page header.section-header {
  background: #171b21 url("../_img/internal-header.png") repeat-x top;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
}
.internal-page .breadcrumbs {
  color: #fff;
}
.internal-page .breadcrumbs h2,
.internal-page .breadcrumbs h3 {
  padding-right: 5px;
  text-shadow: 0px 1px 2px #000000;
  -moz-text-shadow: 0px 1px 2px #000000;
  -webkit-text-shadow: 0px 1px 2px #000000;
  font-weight: 400;
}
.internal-page .breadcrumbs h2 {
  font-size: 28px;
  color: #f0532e;
}
.internal-page .breadcrumbs h2 a {
  color: #fff;
  text-decoration: none;
}
.internal-page .breadcrumbs h3 {
  padding-left: 5px;
}
.internal-page .internal-nav ul > li {
  padding-right: 10px;
  padding-left: 5px;
  background: red;
  background: url("../_img/menu-separator.png") no-repeat right bottom;
}
.internal-page .main-article .article-info {
  font-size: 11px;
  color: #888;
}
.internal-page .main-article .article-info a {
  font-weight: 400;
}
.internal-page .main-article h1 {
  font-size: 28px;
  color: #000;
  line-height: 28px;
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 1px dotted #b2b2b2;
  margin-bottom: 10px;
}
.internal-page .main-article .article-content blockquote {
  color: #fff;
  background: #c52500;
  font-family: 'Asap', sans-serif;
  font-style: italic;
}
.internal-page .main-article .addthis_toolbox {
  border-bottom: 1px dotted #b2b2b2;
  border-top: 1px dotted #b2b2b2;
}
.internal-page .main-article .addthis_toolbox .addthis_button_tweet,
.internal-page .main-article .addthis_toolbox .addthis_button_google_plusone {
  text-align: right;
}
.pagination ul li a {
  color: #c52500;
}
.pagination ul li a:hover {
  background: #c52500;
  color: #fff;
}
.pagination ul > .active > a {
  background: #fff5ec;
}
.pagination ul > .active > a:hover {
  background: #fff5ec;
  color: #999;
}
/* End Internal Page --- */
/* --- Begin Section Page */
.more-news-tabs-section .section-label {
  font-size: 11px;
  color: #d55436;
}
.more-news-tabs-section .title {
  margin-bottom: 2px;
  display: block;
  line-height: 18px;
}
.more-news-tabs-section .article-date {
  font-size: 11px;
}
.more-news-tabs-section .featured-column {
  width: 202px;
  margin-right: 15px;
}
.more-news-tabs-section .featured-column .article-image,
.more-news-tabs-section .featured-column .article-excerpt {
  width: 100%;
}
.more-news-tabs-section .featured-column .article-excerpt {
  padding-top: 5px;
}
.more-news-tabs-section .featured-rows {
  width: 380px;
}
.more-news-tabs-section .featured-rows .article-content {
  margin-bottom: 10px;
}
.more-news-tabs-section .featured-rows .article-image {
  width: 132px;
}
.more-news-tabs-section .featured-rows .article-excerpt {
  width: 238px;
}
/* End Section Page --- */
/* --- Begin Debate */
.debate .teaser {
  font-size: 13px;
  margin-top: 8px;
  display: block;
  color: #707070;
}
.debate .well {
  background: #191D23;
  border: #000 1px solid;
  color: #888A85;
  font-size: 11px;
}
.debate .well h5 {
  color: #fff;
  font-weight: 400;
}
/* End Debate --- */
/* --- Begin Comments */
.comments-link {
  font-weight: 700;
  color: #666;
}
.comments-link:hover {
  color: #666666;
}
.avatar {
  border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}
.divider {
  border-bottom: 1px dotted #b2b2b2;
  margin-bottom: 10px;
}
#comments h2 {
  margin: 0px;
  font-size: 28px;
  font-weight: 400;
  font-family: 'Asap', sans-serif;
  line-height: 40px;
}
#comments .write-comment {
  text-align: right;
  font-family: 'Asap', sans-serif;
}
#comments .write-comment a {
  position: relative;
  font-size: 16px;
  font-weight: 400;
}
#comments .comment-box {
  margin-bottom: 20px;
  margin-top: 10px;
}
#comments .comment-content {
  border: 1px solid #c5cad0;
  padding: 10px;
  border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(35%, #ffffff), to(#f6f8fb));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 35%, #f6f8fb);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 35%, #f6f8fb);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 35%, #f6f8fb);
  background-image: -o-linear-gradient(#ffffff, #ffffff 35%, #f6f8fb);
  background-image: linear-gradient(#ffffff, #ffffff 35%, #f6f8fb);
  -webkit-box-shadow: 0px 1px 2px 0px #f3f3f3;
  -moz-box-shadow: 0px 1px 2px 0px #f3f3f3;
  box-shadow: 0px 1px 2px 0px #f3f3f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#comments .comment-content h4 {
  margin: 0px;
  font-size: 16px;
  font-family: 'Asap', sans-serif;
  font-weight: 400;
}
#comments .comment-date {
  color: #999;
  font-size: 11px;
  font-weight: 700;
}
.comment-box a.link-color,
.comment-box a.comments-link {
  font-weight: 400;
}
#comment-form input[type="text"],
#comment-form input[type="email"],
#comment-form input[type="url"],
#comment-form textarea {
  color: #525456;
  font-style: italic;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(35%, #ffffff), to(#f6f8fb));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 35%, #f6f8fb);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 35%, #f6f8fb);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 35%, #f6f8fb);
  background-image: -o-linear-gradient(#ffffff, #ffffff 35%, #f6f8fb);
  background-image: linear-gradient(#ffffff, #ffffff 35%, #f6f8fb);
  -webkit-box-shadow: 0px 0px 2px 1px #f3f3f3;
  -moz-box-shadow: 0px 0px 2px 1px #f3f3f3;
  box-shadow: 0px 0px 2px 1px #f3f3f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
}
#comment-form input[type="text"].error,
#comment-form input[type="email"].error,
#comment-form input[type="url"].error,
#comment-form textarea.error {
  border-color: #e75a39;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(35%, #ffffff), to(#ffe6e0));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 35%, #ffe6e0);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 35%, #ffe6e0);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 35%, #ffe6e0);
  background-image: -o-linear-gradient(#ffffff, #ffffff 35%, #ffe6e0);
  background-image: linear-gradient(#ffffff, #ffffff 35%, #ffe6e0);
}
#comment-form input[type="submit"] {
  color: #fff !important;
  border: none;
  text-shadow: 0px -1px 0px #901600;
  -moz-text-shadow: 0px -1px 0px #901600;
  -webkit-text-shadow: 0px -1px 0px #901600;
  background-color: #ca3500;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ca3500), color-stop(10%, #ca3500), to(#bb1c00));
  background-image: -webkit-linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
  background-image: -moz-linear-gradient(top, #ca3500, #ca3500 10%, #bb1c00);
  background-image: -ms-linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
  background-image: -o-linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
  background-image: linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
}
#comment-form input[type="submit"]:hover,
#comment-form input[type="submit"]:focus {
  background: none;
  background-position: 0 0 !important;
}
#comment-form input[type="submit"]:hover,
#comment-form input[type="submit"]:focus {
  background-color: #ca3500;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ca3500), color-stop(70%, #ca3500), to(#bb1c00));
  background-image: -webkit-linear-gradient(#ca3500, #ca3500 70%, #bb1c00);
  background-image: -moz-linear-gradient(top, #ca3500, #ca3500 70%, #bb1c00);
  background-image: -ms-linear-gradient(#ca3500, #ca3500 70%, #bb1c00);
  background-image: -o-linear-gradient(#ca3500, #ca3500 70%, #bb1c00);
  background-image: linear-gradient(#ca3500, #ca3500 70%, #bb1c00);
}
/* End Comments --- */
/* --- Begin Phone Navigation */
.phone-nav .btn-red {
  display: block;
  padding: 10px 20px;
  font-size: 18px;
  margin-right: 10px;
  margin-top: 15px;
  font-family: 'Asap', sans-serif;
}
.phone-nav .btn-red:hover,
.phone-nav .btn-red:focus {
  background-position: 0 0 !important;
  background-color: #ca3500;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ca3500), color-stop(10%, #ca3500), to(#bb1c00));
  background-image: -webkit-linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
  background-image: -moz-linear-gradient(top, #ca3500, #ca3500 10%, #bb1c00);
  background-image: -ms-linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
  background-image: -o-linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
  background-image: linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
}
.phone-nav .dropdown-menu {
  margin-top: -5px;
  background: #BB1E00;
  left: auto;
  margin-top: -7px;
  right: 10px;
  width: 362px;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  padding: 10px;
  padding-bottom: 0px;
  z-index: 10000;
}
.phone-nav .dropdown-menu li > a {
  color: #fff !important;
  border: none;
  text-shadow: 0px -1px 0px #bb4c00;
  -moz-text-shadow: 0px -1px 0px #bb4c00;
  -webkit-text-shadow: 0px -1px 0px #bb4c00;
  background-color: #ff7300;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7300), color-stop(10%, #ff7300), to(#ff5500));
  background-image: -webkit-linear-gradient(#ff7300, #ff7300 10%, #ff5500);
  background-image: -moz-linear-gradient(top, #ff7300, #ff7300 10%, #ff5500);
  background-image: -ms-linear-gradient(#ff7300, #ff7300 10%, #ff5500);
  background-image: -o-linear-gradient(#ff7300, #ff7300 10%, #ff5500);
  background-image: linear-gradient(#ff7300, #ff7300 10%, #ff5500);
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 1px 2px 0px #751200;
  -moz-box-shadow: 0px 1px 2px 0px #751200;
  box-shadow: 0px 1px 2px 0px #751200;
}
.phone-nav .dropdown-menu li > a:hover,
.phone-nav .dropdown-menu li > a:focus {
  background: none;
  background-position: 0 0 !important;
}
.phone-nav .dropdown-menu li > a:hover,
.phone-nav .dropdown-menu li > a:focus {
  background-color: #ff7300;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7300), color-stop(70%, #ff7300), to(#ff5500));
  background-image: -webkit-linear-gradient(#ff7300, #ff7300 70%, #ff5500);
  background-image: -moz-linear-gradient(top, #ff7300, #ff7300 70%, #ff5500);
  background-image: -ms-linear-gradient(#ff7300, #ff7300 70%, #ff5500);
  background-image: -o-linear-gradient(#ff7300, #ff7300 70%, #ff5500);
  background-image: linear-gradient(#ff7300, #ff7300 70%, #ff5500);
}
.phone-nav .dropdown-menu li.active > a {
  background: #971a12;
}
/* End Phone Navigation --- */
/* --- Begin Tablet Navigation (extends from phone nav) */
.tablet-nav {
  margin-bottom: 5px;
}
.tablet-nav .btn-red {
  margin-top: 5px;
  margin-left: 30px;
}
.tablet-nav .dropdown-menu {
  left: 30px;
  width: 535px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
}
.tablet-nav .profile-dropdown {
  background: #fff;
}
.login-nav-tablet {
  margin-bottom: 5px;
  margin-right: 3px;
}
.login-nav-tablet .btn-gray {
  margin-right: 30px;
  margin-top: 5px;
  display: block;
  padding: 10px 20px;
  font-size: 18px;
  font-family: 'Asap', sans-serif;
}
.login-nav-tablet .btn-gray i {
  position: relative;
  top: 2px;
  margin-right: 3px;
}
.login-nav-tablet .dropdown-menu {
  left: auto;
  right: 30px;
  margin-top: -3px;
  z-index: 99999;
  background: #1e232a;
  border-top: 3px solid #000;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
}
.login-nav-tablet .dropdown-menu input[type="text"],
.login-nav-tablet .dropdown-menu input[type="password"] {
  width: 168px;
  font-size: 12px;
}
.login-nav-tablet .dropdown-menu > li > a {
  padding: 3px 10px;
  border-bottom: 1px dotted #999999;
}
.login-nav-tablet .dropdown-menu > li > a:hover {
  background: none;
  color: #d55436;
}
.login-nav-tablet .profile-dropdown {
  background: #fff;
  margin-top: 45px;
  right: 163px;
}
.back-link {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-family: 'Asap', sans-serif;
}
.back-link:hover {
  color: #fff;
}
/* End Tablet Navigation  --- */
/* --- Registration and Login Form */
.zend_form input[type="submit"] {
  color: #fff !important;
  border: none;
  text-shadow: 0px -1px 0px #901600;
  -moz-text-shadow: 0px -1px 0px #901600;
  -webkit-text-shadow: 0px -1px 0px #901600;
  background-color: #ca3500;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ca3500), color-stop(10%, #ca3500), to(#bb1c00));
  background-image: -webkit-linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
  background-image: -moz-linear-gradient(top, #ca3500, #ca3500 10%, #bb1c00);
  background-image: -ms-linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
  background-image: -o-linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
  background-image: linear-gradient(#ca3500, #ca3500 10%, #bb1c00);
  padding: 8px 10px;
  border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}
.zend_form input[type="submit"]:hover,
.zend_form input[type="submit"]:focus {
  background: none;
  background-position: 0 0 !important;
}
.zend_form input[type="submit"]:hover,
.zend_form input[type="submit"]:focus {
  background-color: #ca3500;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ca3500), color-stop(70%, #ca3500), to(#bb1c00));
  background-image: -webkit-linear-gradient(#ca3500, #ca3500 70%, #bb1c00);
  background-image: -moz-linear-gradient(top, #ca3500, #ca3500 70%, #bb1c00);
  background-image: -ms-linear-gradient(#ca3500, #ca3500 70%, #bb1c00);
  background-image: -o-linear-gradient(#ca3500, #ca3500 70%, #bb1c00);
  background-image: linear-gradient(#ca3500, #ca3500 70%, #bb1c00);
}
/* End Registration and Login Form   --- */
/***************************** */
/***** End Quetzal Skin ****** */
/***************************** */