/* lte IE 9*/

#topnav .navbar-inner{
	filter:none;
}

.home-featured-news .other-featured article{
	margin-right: 4px;
}

.quetzal-carousel .video {
    filter: alpha(opacity = 80);
}

.quetzal-carousel .video:hover {
    filter: alpha(opacity = 100);
}

.quetzal-carousel .carousel-control {
	filter: alpha(opacity = 80);
}

.quetzal-carousel .carousel-control:hover {
	filter: alpha(opacity = 100);
}

/* lte IE 7*/

#header #seachform .btn {
    *height: 30px;
    *margin-top:1px;
}

.most-prominent,
.other-featured,
#sidebar,
.article-container,
.community,
.auth-page
{
	*margin-left:0px;
}

.archive-block{
	*padding-left: 20px;
}

.section-articles{
	*margin-left:-10px;
	*margin-right: 10px;
}

.home-featured-news .most-prominent{
	*max-height:157px;
}

.front-bottom-blocks{
	*margin-top:20px;
}

.arrow-left{
	*left:0px;
}

.arrow-right{
	*left:0px;
}

#comment-form input[type="text"], 
#comment-form input[type="email"], 
#comment-form input[type="url"], 
#comment-form textarea {
    *width: 85%;
}

article.main-article figure figcaption {
	*position: relative;
	*width: 280px;
}

.internal-page .internal-nav ul > li {
    *width:45px;
    *float: left;
    *text-align: center;
}

.debate .well {
	*width: 28%;
}

.community input.btn[type="submit"], .community button.btn {
	*height: 31px;
}