body{
margin: 0;
}
.subscribe{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
.login-text{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
        font-weight: bold;
	color: #006699;
	margin: 2px 0px 6px 4px;
	line-height: 120%;
	text-transform: uppercase;
}
#login form input{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	border: 1px solid #333;
	width: 100px; 
        margin: 2px 0 2px 0;
}
#login form p{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 2px 0 0 0;
}

#search{
margin: 0 0 0 0;
padding: 3px 0 3px 0;
}
#search form{
margin:0;
padding:0;
}
#search form .text{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
        color: #fff;
        margin-bottom:5px;
}
#search form .search input{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
        background-color:#fff;
	border: 1px solid #a4ceec;
	width: 115px; 
}
#search form input{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000;
        background-color:#fff;
	border: 1px solid #1a5082;
        height: 18px;
        margin-top:5px;
} 
.plus{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #006699;
	font-weight: bold;
}
.plus a{
	font-size: 10px;
	color: #006699;
	text-decoration: none;
}
.plus a:hover{
	font-size: 10px;
	color: #006699;
	text-decoration: underline;
}
p.main-index {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
        font-weight: bold;
	color: #005496;
	margin: 0px 6px 0px 6px;
}

a.main-index {
	color: #005496;
	text-decoration: none;
}

a.main-index:hover {
	color: #990000;
	text-decoration: none;	
}

p.pretrazivanje {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	margin: 0px 0px 0px 0px;
}

p.index-naslovi {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0px 0px 0px 6px;
	text-transform: uppercase;
}

a.index-naslovi {
	color: #FFFFFF;
	text-decoration: none;
}


a.index-naslovi:hover {
	color: #003F71;
	text-decoration: none;
}

p.index-naslovi2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0px 0px 0px 14px;
	text-transform: uppercase;
}

p.crtice {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #A6A6A6;
	margin: 0px 0px 0px 0px;
}

p.index {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;

	color: #003F71;
	margin: 3px 0px 0px 6px;
}

a.index {
	color: #003F71;
	text-decoration: none;
}

a.index:hover {
	color: #990000;
	text-decoration: none;
}

p.indexx {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #ffffff;
	margin: 3px 8px 0px 0px;
}

a.indexx {
	color: #ffffff;
	text-decoration: none;
}

a.indexx:hover {
	color: #990000;
	text-decoration: none;
}

p.podindex {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #005496;
	margin: 4px 2px 4px 24px;
}

a.podindex {
	color: #005496;
	text-decoration: none;
}

a.podindex:hover {
	color: #005496;
	text-decoration: underline;
}

p.index2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #ffffff;
	margin: 0px 0px 0px 0px;
}

a.index2:link {
	color: #ffffff;
	text-decoration: none;
}

a.index2:hover {
	color: #B3B3B3;
	text-decoration: none;
}

p.nadnaslov {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #990000;
	margin: 10px 0px 0px 4px;
	text-transform: uppercase;
}

div.front-slika {
	width: 245px;
	margin: 0px 3px 3px 2px;
	float: left;
}

p.main-naslov {
	font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	margin: 0px 0px 2px 4px;
}

a.main-naslov {
	color: #000000;
	text-decoration: none;
}

a.main-naslov:hover {
	color: #000000;
	text-decoration: underline;
}

p.naslov {
	font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	margin: 1px 0px 0px 4px;
}

a.naslov {
	color: #000000;
	text-decoration: none;
}

a.naslov:hover {
	color: #000000;
	text-decoration: underline;
}

p.nadnaslov2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #990000;
	margin: 2px 0px 0px 4px;
	text-transform: uppercase;
}

p.nadnaslov3 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #990000;
	margin: 12px 0px 0px 4px;
	text-transform: uppercase;
}

p.naslov2 {
	font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	margin: 2px 0px 0px 4px;
}

a.naslov2 {
	color: #000000;
	text-decoration: none;
}

a.naslov2:hover {
	color: #000000;
	text-decoration: underline;
}

p.naslovi {
	font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	margin: 4px 6px 4px 6px;
}

a.naslovi {
	color: #333333;
	text-decoration: none;
}

a.naslovi:hover {
	color: #333333;
	text-decoration: underline;
}

p.tekst {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	margin: 2px 0px 6px 4px;
	line-height: 130%;
}
p.tekst a{
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
text-decoration:none;
}
p.tekst a:visited{
	color: #333333;
text-decoration:none;
}
p.tekst a:hover{
	color: #333333;
text-decoration:underline;
}

.caption {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999999;
	margin: 0px 0px 2px 0px;
}

.tizeri {

	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #006699;
	margin: 8px 2px 6px 6px;
}

.naslovna {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #A6A6A6;
	margin: 4px 4px 4px 6px;
}

p.footer {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #236EA9;
	margin: 0px 0px 0px 0px;
}

a.footer {
	color: #236EA9;
	text-decoration: none;
}

a.footer:hover {
	color: #236EA9;
	text-decoration: underline;
}

div.front-slika2 {
	width: 72px;
	margin: 5px 2px 0px 2px;
	float: left;
}

.form {
	margin: 0px 2px 0px 2px;
}

.field {
	border: 1px solid #ABCDE6;
	background-color: White;
	width: 110px;
	margin: 5px 0px 5px 0px;
}

td.menu {
	padding: 2px 0px 2px 0px;
}

.nadn {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #990000;
	margin: 12px 0px 0px 4px;
	text-transform: uppercase;
}

.nasl {
	font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	margin: 2px 0px 0px 4px;
}