body {
  background: #646464 url(bg-stripes-dark.png) left top repeat-x;
}
#wrapper {
  margin-top: 20px;
}
div#header {
/*   height: 160px; */
/*   background: url(header.jpg) center top no-repeat; */
}
/* white backgrounds */
div.colmask,
#footer {
  background: white;
}