div#footer {
  padding-top: 10px;
  margin-top: 0px;
  background: #646464 url(bg-stripes-dark.png) left top repeat-x;
  color: #fff;
}
div#block-title-mostpopular {
  display: none;
}
div#block-articles-mostpopular {
  clear: both;
}
div#block-articles-mostpopular-item {
  width: 20%;
  float: left;
}
div#block-articles-mostpopular-iteminner {
  padding: 0px;
  margin: 8px;
}
div#block-mostpopular-section {
  color: #000;
  padding: 1px;
  padding-left: 3px;
  margin-bottom: 3px;
  background: #fff;
  border-bottom: 1px solid #eee;
}
div#block-articles-mostpopular-item a {
  text-decoration: none;
  color: #fff;
}
div#block-mostpopular-title {
  color: #b33;
  font-weight: bold;
}
div#block-mostpopular-deck,
div#block-mostpopular-counter
{
  text-decoration: none;
}
/* footerlinks */
div#footerlinks {
  clear: both;
  padding-top: 6px;
  padding-bottom: 6px;
}
div#footerlinksinner {
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 6px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
div#footerlinks a {
  color: #aaa;
  text-decoration: none;
  margin-right: 12px;
}