div#yui-connection-container {display:none;}
div#yui-connection-message {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.75em;
    font-size: 14pt;
    font-weight: bold;
    color: green;
}

div#authorAutoComplete {
    width:25em; /* set width here or else widget will expand to fit its container */
    padding-bottom:2em;
}
