@import url('reset.css');

@import url('bootstrap.css');

@import url(http://fonts.googleapis.com/css?family=Oswald&subset=latin,latin-ext);

@import url('content.css');
@import url('static.css');
@import url('elements.css');
@import url('responsive.css');

/* ---------------- */
/* General */
/* ---------------- */

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}


@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
a, input, textarea{
    outline: none;
}

h1,h2,h3 {
    color: #475f77;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

h1{
    font-size:2em;
}
h2{
    font-size:1.8em;
}
h3{
    font-size:1.5em;
}
.article_content a, .comment-content a{
    color: #d74b4b;
}

.article_content .info a, .article_content .topics a{
    color:inherit;
}

.article_content .topics a {
    font-weight: bold;
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe, .fb_like_box {
    width: 100% !important;
}



.geo_map_mapcanvas, .geomap_container{
    width:100% !important;

}

.geomap_open_large_map{
    display:none;
}


.float_left {
    float: left;
}

.float_right {
    float: right;
}

.align_center {
    text-align: center;
}

.clear {
    clear: both;
    display: block;
}

.hide_text {
    font-size: 0;
    line-height: 0;
    text-indent: -2000px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.overflow_hidden {
    overflow: hidden;
}

label,
input[type="submit"],
button
{
    cursor: pointer;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}


/* ---------------- */
/* Structure */
/* ---------------- */

body {
    border-top: 3px solid #d74b4b;
    font-family: Tahoma, Arial, sans-serif;
    background-color: #eeeeee;
}









.padding_top_60{
    padding-top:60px !important;
}




.cs_fl_left{
    float: left;
    position: relative;
    padding-right: 20px;
    padding-bottom: 10px;
}


.cs_fl_right{
    float: right;
    position: relative;
    padding-left: 20px;
    padding-bottom: 10px;
}

.cs_img_caption{
    font-style: italic;
    font-size: 0.725em !important;
    color: #606060;
}

#thumbs{
    clear:both;
}

#thumbs a{
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    border:none;
    text-decoration: none;
}

.no_bg{
    background:none !important;
    color:#606060 !important;
}

.no_bg.blue_box_posts .tabs_menu li a{
    color:#333;
}

.no_bg.blue_box_posts .tabs_menu li.current a, .no_bg.blue_box_posts .tabs_menu li a:hover{
    color:#fff;
}


.comment-content img {
float: left;
margin: 0 10px 10px 0;
border: #ccc solid 1px;
}

.comment-content h5, .comment-content time{
    font-size: 0.75em;
    color: #222;
}

.comment-content{
    padding-bottom:10px;
}

.comment-content p{
    margin-left: 45px;
    font-size:1em;
}

.margin_left_5{
    margin-left:5px;
}

.margin_bottom_10{
    margin-bottom: 10px;
}

.margin_top_10{
    margin-top: 10px;
}

.margin_top_20{
    margin-top: 20px;
}

.margin_top_30{
    margin-top: 30px;
}

.padding_bottom_10{
    padding-bottom:10px;
}

.social_buttons{
    padding-top:15px;
}

#content{
    min-height:400px;
}



.comment-content p{
    color:#606060;
}

input[type="radio"]{
    margin-right: 5px;
}

.subscription input[type="submit"]{
    margin-top:10px;
}

.register_form input[type="text"], .register_form input[type="email"], .register_form input[type="password"]{
    width:250px;
}





.columnist_thumbnail{
    float:left;
    margin-right: 5px;

}

.columnist_list{
    margin-top:20px;
    padding-top:20px;
    border-top:1px solid #333;
}

.columnist_list .row{
    margin-bottom:5px;
    padding-bottom:5px;
    border-bottom:1px solid #eee;
}



#attributes-email_public-label, #attributes-email_public-element, #newsletter-label, #newsletter-element{
    display:none;
}

.no_margin_left{
    margin-left:0 !important;
}


/* Progress JS. Used on section pages */

.progressjs-inner {
    width: 0;
}
.progressjs-progress {
    z-index: 9999999;
}

/* blue theme, like iOS 7 progress bar */
.progressjs-theme-blue .progressjs-inner {
    height: 3px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #d74b4b;
}
.progressjs-theme-blue.progressjs-end {
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
.progressjs-theme-blue .progressjs-percent {
    display: none;
}
