@charset "utf-8";
/* CSS Document */

.wobs-calendar {
	font-family:Arial, Helvetica, sans-serif;
}

.wobs-calendar-full {
	max-width:980px;
}

.wobs-calendar table {
	width:100%;
	padding:0;
	border-collapse:collapse;

	
}
.wobs-calendar table td {
	padding:0;
	width:14.285%;

}

.wobs-calendar table th {
	padding:0 0 6px 0;
	font-weight:normal;
	text-transform:uppercase;
	position:relative;
	height:25px;
	font-size:12px;
}

.wobs-calendar .wobs-date-content {
	position:relative;
	margin:5px;
	background:#ebebeb;
	border:1px solid #a9a9a9;
	min-height:85px;
    -mozilla-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.wobs-calendar .wobs-date-content a {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	overflow:hidden;
	z-index:1;
	text-decoration:none;
}
.wobs-calendar .wobs-other-month .wobs-date-content a img {
	opacity:0.6;
}

.wobs-calendar .wobs-other-month .wobs-date-content a:hover img {
	opacity:1;
}

.wobs-calendar .wobs-date-container {
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin: 0;
	z-index:11;
	border:none;
}
.wobs-calendar .wobs-date-label {
	position:relative;
	margin: 25px auto 0 auto;
	font-size:18px;
	text-align:center;
	width:33px;
	line-height:33px;
	height:33px;
	color:#1a1a1a;
	z-index:12;
	background:#fff;
	border:1px solid #a5a5a5;
}
.wobs-calendar .wobs-date-label.wobs-today {
    border: 1px solid #14d878;
    color: #14d878;
}
.wobs-calendar .wobs-date-content a:hover .wobs-date-label {
	opacity:0.7;
	margin: 28px auto 0 auto;
	font-size:15px;
	width:29px;
	line-height:29px;
	height:29px;
}
.wobs-calendar .wobs-other-month .wobs-date-content {
	background:#f2f2f2;
}

.wobs-calendar .wobs-other-month .wobs-date-label{
	color:#acacac;
}

.wobs-calendar-nav {
	list-style-type:none;
	margin:5px 0 0 0;
	padding:0;
	height:18px;
	width:100%;

}
.wobs-calendar-nav li {
	padding:0;
	float:right;
	margin: 0 0 0 6px;
}
.wobs-calendar-nav li:first-child {
	margin-right: 5px;
}
.wobs-calendar-nav li.wobs-calendar-month {
	text-align:center;
}
.wobs-calendar-nav li.wobs-calendar-month p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
	line-height:18px;
    margin: 0;
    color: #A5A5A5;
    padding: 0 0 0 0;
    text-align: right;
}
.wobs-calendar-nav li.wobs-button-prev, .wobs-calendar-nav li.wobs-button-next {
    height: 18px;
	width: 24px;
}
.wobs-calendar-nav li.wobs-button-prev a, .wobs-calendar-nav li.wobs-button-next a {
    background: url(img/calendar-arrows.png) no-repeat 0 0;
    display: block;
    height: 18px;
    width: 24px;
    text-indent: -9999px;

}

.wobs-calendar-nav li.wobs-button-prev a {
    background-position: 0 -56px;
}

.wobs-calendar-nav li.wobs-button-prev.disabled a, .wobs-calendar-nav li.wobs-button-next.disabled a {
    background-position: 0 -28px;
	cursor: default;
}
