/*** Core html setup stuff ***/

body {
	font-size: 62.5%;
	font-family:Arial, Helvetica, sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
}
h1 {
	font-size: 2.4em;
	color:#015476;
}
h2 {
	font-size: 1.8em;
	color:#5d99b1;
}
h3 {
	font-size: 1.4em;
}
a {
	color:#1a8cbb;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
table.global {
    width: 70%;
    padding: 8px;
    /*border: 1px solid #dfdfdf;*/
}
th {
    padding: 5px 0 10px 0;
}
table.header {
    width: 100%;
    border: 1px solid #5d99b1;
    margin: 0;
}
table.inside {
    width: 100%;
    border: 1px solid #5d99b1;
    margin: 0;
    padding: 0px;
}

table.header, table.right_header {
    background-color: #efefef;
}

table.header, table.right_header {
    background-color: #c4e1ed;
}

table.right_header, table.right {
    width: 200px;
    margin: 0px 0px 0px 8px;
    border: 1px solid #5d99b1;
}
table.right {
    background-color: #edf7fc;
}
table.right_header td, table.right td {
    padding: 8px 16px 8px 16px;
}
table.right td {
    padding: 18px 16px 14px 16px;
}
table.header, table.right_header {
	height: 37px;
}
table.header td, table.right_header td {
    padding: 7px 16px 0 16px;
	vertical-align:top;
}
table.view_list {
    margin-top: 6px;
    padding: 0;
	width:95%;
}
table.view_list td {
    margin: 0;
    padding: 4px;
    font-size: 1.2em;
    border-bottom: 1px dotted #dfdfdf;
	text-align:right;
}
table.view_list td.first {
	text-align:left;
}
table td.template-container {
	/*background:#edf7fc;*/
	text-align:left;
	padding-bottom:30px;
}

div.title {
    color: #015476;
    font-size: 1.6em;
    font-weight: bold;
}

div.navigate {
    text-align: right;
}

div.subtitle {
	padding:0 0 0 16px;
}

div.help {
    margin-top: 10px;
	text-align:left;
}
p {
    font-size: 1.2em;
	line-height:150%;
}
ul, ol {
    font-size: 1.2em;
	line-height:150%;
}
div.help p {
    color: #6a6a6a;
	line-height:150%;
	padding:0 0 0 16px;
	text-align:left;
}
div.table_spacer {
	height:7px;
}

div.form_field {
    margin: 8px 16px 16px 0;
    padding: 0;
}

div.form_field label {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 200%;
}

div.message {
    margin-top: 10px;
    padding: 0;
    color: red;
}

div.icon {
    text-align: center;
    margin: 8px 5px 5px 0;
    float: left;
}
div.icon a {
    display: block;
    float: left;
    border: 1px solid #f0f0f0;
    height: 97px;
    width: 108px;
    color: #666666;
    vertical-align: middle;
    text-decoration: none;
}
div.icon a:hover {
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f9f9f9;
    color: #0b55c4;
}
div.icon img {
    border: 0;
    padding: 10px 0;
    margin: 0 auto;
}
div.icon span {
    display: block;
    text-align: center;
}
div.demo_img {
    margin-bottom: 15px;
    width: 430px;
    height: 152px;
    border: 1px solid #b7b7b7;
	padding:6px;
	background-color:#fafafa;
}

div.demo_img img {
    border: 1px solid #5d99b1;
	padding:2px;
	float:left;
	margin:0 10px 10px 0;
}
div.demo_img p {
    color:#6a6a6a;
	margin:0;
	padding:0 0 12px 0;
}

div.nonwritable {
    margin-left: 30px;
    color: #404040;
}

input.inputbox {
    font-size: 1.2em;
    margin: 0px;
    padding: 2px;
    border: 1px solid #dfdfdf;
}

ul#steps_list {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul#steps_list li {
    padding-bottom: 5px;
}
ul#steps_list a {
    color: #0000cc;
    text-decoration: none;
}
ul#steps_list a:hover {
    text-decoration: underline;
}
ul#steps_list li.stepdone {
    color: #7b7b7b;
}

input.control_button {
    font-size: 90%;
    border: 1px solid #afafaf;
}
input.nav_button {
    font-size: 10px;
    border: 1px solid #015476;
	text-transform:uppercase;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	line-height:150%;
	padding:2px 10px 2px 10px;
	background-color:#1a8cbb;
}
input.nav_button:hover {
	background-color:#015476;
}


input.nav_button_disabled {
    font-size: 10px;
    color: #66a9c3;
    border: 1px solid #66a9c3;
	background-color:#c4e1ed;
}

iframe.license {
    padding: 0px;
    width: 100%;
    height: 400px;
}

span.success {
    color: green;
}
span.error {
    color: red;
}
span.warning {
    color: #e1b60a;
}
span.other {
    color: orange;
}
span.optional {
    color: grey;
}

th.innerHead {
	padding: 10px 0 10px 0;
	font-size:1.3em;
	color:#5d99b1;
	border-bottom:1px solid #b7b7b7;
	background-color:#f4fafd;
}
td.space {
	border-left: 1px solid #cacaca;
	background:#ffffff url(space_bg.png) repeat-y 0 0;
	padding:0;
}
td.info {
	padding:0 15px 0 0;
	background-color:#fafafa;
}
div.template-header {
	height:28px;
}
div.template-header input, div.template-header label {
	float:left;
}
div.template-header label {
	font-size:1.3em;
	line-height:160%;
	margin:0 0 0 6px;
	color:#315476;
	font-weight:bold;
}
.footer {
	background:url("footer_bg.png") repeat-x scroll 0 0 transparent;
	border-top:1px solid #B5D5E2;
	clear:both;
	color:#666666;
	display:block;
	font-size:11px;
	height:45px;
	line-height:140%;
	margin-top:20px;
	padding:10px 0 0;
	text-align:center;
}
p.footer_text {
    text-align: center;
	font-size:11px;
	padding:0;
	margin:0;
	line-height:120%;
}
