/* Reset / Default styles */

/* General */

html, body {font-family: georgia;	font-size: 12px;border: 0;color: #111111; background: #FFFFFF;}
body, img, p, h1, h2, h3, h4, h5, ul, ol, li, form, blockquote { margin: 0;	padding: 0;}
p {line-height: 20px;padding: 10px 0;}
h1, h2, h3, h4, h5 {font-family: Georgia;}
ul, ol {list-style: none;padding: 10px 0;}
small {	font-size: 11px;}
code {background: #FFFFC1;}
a {color: #111111;	text-decoration: none;}
a:hover {text-decoration: underline;}
a img {border: none;}
blockquote p {padding: 5px 0;}

/* Align */

.aligncenter {margin: 10px auto 20px auto;display: block;}
.alignleft {margin: 10px 20px 8px 0;float: left;}
.alignright {margin: 10px 0px 8px 20px;float: right;}
.col-left {float: left;}
.col-right {float: right;}

/* PageNavi */
.more_entries {font-size:11px;}
.more_entries .wp-pagenavi {clear:both;float: right;}
.more_entries .wp-pagenavi a {text-decoration: none !important;}

.more_entries .wp-pagenavi .current, 
.more_entries .wp-pagenavi .on,
.more_entries .wp-pagenavi a:hover {background: #9f9f9f !important;}

.more_entries .wp-pagenavi a,
.more_entries .wp-pagenavi a:link,
.more_entries .wp-pagenavi a:visited, 
.more_entries .wp-pagenavi .current, 
.more_entries .wp-pagenavi .on,
.more_entries .wp-pagenavi span.pages { background: #EEEEEE;color: #666; padding: 4px !important; margin-left: 4px; border:1px solid #DDDDDD; line-height:24px; }

.more_entries .wp-pagenavi .extend { background:none; border:none; }

/* Misc */

.wrap:after{content: "."; display: block;height: 0;clear: both; visibility: hidden;}
.fix{clear: both;height: 1px;margin: -1px 0 0;overflow: hidden}
.fl{float: left}
.fr{float: right}
.ac{text-align: center}
.ar{text-align: right}
img.centered{display: block;margin-left: auto;margin-right: auto;}
.wp-caption {background-color:#EEEEEE;border:1px solid #DDDDDD;padding:4px 0 5px;text-align:center;}
.wp-caption-text {padding:3px 0 0;font-size:11px;}



