BODY, TH, TD, FORM, BLOCKQUOTE, UL, LI { 
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	color: #00008b;
}

SMALL, ADDRESS { 
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
}

A { 
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	text-decoration: none;
	color: darkblue; 
}

hr {
	color: #00008b;	
}

.button {
	/*font-family: Arial, Helvetica, sans-serif; */
	/*font-family: Courier New, Courier, mono; */
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	/*font-family: Geneva, Arial, Helvetica, sans-serif; */
	/*font-family: Times New Roman, Times, serif; */
	font-size: 10pt;
	/*border: 1px solid #00008b; */
	border: 1px solid #ffffff; 
	background-color: #00008b; 
	color: white; 
	font-weight: bold;	
}

.input_text {
	border: 1px solid #00008b; 
	background-color: #f0f0ff; 
	text-indent: 3px;
}

.input_checkbox { }

.input_radio { }

.input_select {
	border: 1px solid #00008b; 
}

.input_file {
	border: 1px solid #00008b; 
	background-color: #f0f0ff; 
}

/** 
 * This is for fValidate to color input boxes that failed validation.
 */
.errHilite {
	background-color: #FFD4E4;
}