/* Overlib Style */
div.domTTOverlib {
	border: 1px solid #333366;
	background-color: #333366;
}
div.domTTOverlib .caption {
	font-family: Helvetica;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}
div.domTTOverlib .contents {
	font-family: Helvetica;
	font-size: 10px;
	padding: 2px;
	background-color: #F1F1FF;
}
