/* dashboard */
.context > .widget, .widget-placeholder {
    margin-top: 13px;
    background-color: #fff;
    border: 3px solid #fff; /* same width as placeholder, color as bg */
}

.widget-placeholder {
    border: 3px dashed #ccc;
}

.widget > .header {
    padding: 3px 5px;
    position: relative;
    cursor: move;
}

.widget > .content {
    max-height: 400px; overflow: hidden;
    padding: 5px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.widget .close {
    position: absolute;
    right: 5px;
    top: 3px;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
}

.widget .header h3 {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}

#dashboard {
    height: 1%;
    overflow: hidden;
}

#dashboard > .column {
    float: left;
    width: 400px;
    min-height: 400px;
}

#dashboard > .column > .context {
    margin: 0 21px;
    padding: 0;
}

/* widget manager */
#widgets {
    height: 1%;
    max-width: 1000px;
    overflow: hidden;
}

#widgets li {
    float: left;
    min-width: 300px;
    margin: 13px 13px 0 0;
    padding: 0;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#widgets h3 {
    margin: 0 0 8px;
    padding: 5px;
}

#widgets p {
    margin: 0 5px 8px;
}

#widgets dl.meta {
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    margin: 8px 0 0;
    padding: 2px 5px 5px;
    font-size: 0.9em;
}

#widgets dl.meta > * {
    margin: 0;
}

#widgets dl.meta dt {
    margin-top: 3px;
}

#widgets dl.meta dd {
}
