.widget {
    margin: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 3px;
}

.widget-placeholder {
    margin: 10px;
    border: 3px dashed #ccc;
}

.widget .header h3 {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}

#dashboard {
    height: 1%;
    overflow: hidden;
}

#dashboard > .column {
    float: left;
    width: 300px;
    min-height: 400px;
}

ul#preview {
    height: 1%;
    overflow: hidden;
}

ul#preview li {
    width: 200px;
    height: 80px;
    float: left;
}
