/* dashboard */
.context > .widget, .widget-placeholder {
    position: relative;
    margin-top: 13px;
    background-color: #fff;
    border: 3px solid #fff; /* same width as placeholder, color as bg */
}

.widget-placeholder {
    border: 3px dashed #ccc;
}

.widget > .header {
    padding: 3px 5px;
    position: relative;
    cursor: move;
}

.widget > .content {
    max-height: 400px; overflow: hidden;
    padding: 5px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.widget .header h3 {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}

.widget .header a {
    float: right;
    margin-left: 1px; 
    padding: 0 5px;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    border-right: 1px solid #ccc;
}

.widget .header a:first-child {
    border-right: none;
}

#dashboard {
    height: 1%;
    overflow: hidden;
}

#dashboard > .column {
    float: left;
    width: 400px;
    min-height: 400px;
}

#dashboard > .column > .context {
    margin: 0 21px;
    padding: 0;
}

/* widget manager */
#widgets {
    height: 1%;
    max-width: 1000px;
    overflow: hidden;
}

#widgets li {
    float: left;
    min-width: 300px;
    margin: 13px 13px 0 0;
    padding: 0;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#widgets h3 {
    margin: 0 0 8px;
    padding: 5px;
}

#widgets p {
    margin: 0 5px 8px;
}

dl.meta {
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    margin: 8px 0 0;
    padding: 5px;
    font-size: 0.9em;
}

dl.meta > * {
    margin: 0;
}

dl.meta dt {
    margin-top: 3px;
}

dl.meta dt:first-child {
    margin-top: 0;
}

.widget dl.meta {
    position: absolute;
    top: 11px;
    right: 0;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
    opacity: 0.9;
    z-index: 1000;
}
