.context > .widget, .widget-placeholder {
    margin-top: 13px;
    background-color: #fff;
    border: 3px solid #fff; /* same width as placeholder, color as bg */
}

.widget-placeholder {
    border: 3px dashed #ccc;
}

.widget > .header {
    padding: 3px 5px;
    position: relative;
    cursor: move;
}

.widget > .content {
    max-height: 400px; overflow: hidden;
    padding: 5px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.widget .close {
    position: absolute;
    right: 5px;
    top: 3px;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
}

.widget .header h3 {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}

#dashboard {
    height: 1%;
    overflow: hidden;
}

#dashboard > .column {
    float: left;
    width: 400px;
    min-height: 400px;
}

#dashboard > .column > .context {
    margin: 0 21px;
    padding: 0;
}

#preview {
    height: 1%;
    overflow: hidden;
}

#preview > * {
    float: left;
    width: 200px;
    margin-right: 13px;
}
