/* CSS crunched with Crunch - http://crunchapp.net/ */
@import "reset.css";
@import "http://fonts.googleapis.com/css?family=PT+Sans:700,400,400italic|PT+Sans+Narrow:700|Droid+Serif:400,400italic,700,700italic";
.text-indent{text-indent:-9999px;}
.list-reset{margin:0;list-style-type:none;}
p{font-family:'Droid Serif',Arial,Helvetica,serif;color:#444444;line-height:20px;}
.title{position:relative;margin-bottom:15px;}.title p{position:absolute;right:0;top:0;font-size:12px;font-style:italic;line-height:35px;}.title p a{font-family:'PT Sans',Arial,Helvetica,sans-serif;color:#222222;font-size:13px;font-style:normal;text-decoration:none;font-weight:bold;text-transform:uppercase;}.title p a:hover{text-decoration:underline;}
h2{font-family:'PT Sans Narrow',Arial,Helvetica,sans-serif;font-size:35px;color:#222222;line-height:35px;text-transform:uppercase;}h2 span{color:#e3004f;}
h2 a{color:#222222;text-decoration:none;}h2 a:hover{text-decoration:underline;}
h3,h4{font-family:'PT Sans',Arial,Helvetica,sans-serif;text-transform:uppercase;}
h3{font-size:20px;line-height:20px;color:#1a171b;}h3 a{color:#1a171b;text-decoration:none;}h3 a:hover{text-decoration:underline;}
h4{font-size:13px;color:#222222;}h4 a{color:#222222;text-decoration:none;}h4 a:hover{text-decoration:underline;}
.paging{margin-left:5px;font-family:'PT Sans',Arial,Helvetica,sans-serif;font-size:13px;color:#222222;font-weight:bold;}.paging a{margin:0 3px;color:#222222;text-decoration:none;}.paging a.active{color:#e3004f;}
.paging a:last-child{margin-right:0;}
.paging-holder{position:relative;padding:0 0 25px 0;margin-bottom:30px;border-bottom:#dddddd 1px solid;}.paging-holder .paging{display:block;margin:0;text-align:center;line-height:14px;}
.paging-holder .prev,.paging-holder .next{position:absolute;top:0;line-height:14px;font-size:12px;font-style:italic;color:#444444;text-decoration:none;}.paging-holder .prev span,.paging-holder .next span{font-family:'PT Sans',Arial,Helvetica,sans-serif;font-size:13px;font-weight:bold;color:#222222;font-style:normal;}
.paging-holder .prev:hover,.paging-holder .next:hover{text-decoration:underline;}
.paging-holder .prev{left:0;}
.paging-holder .next{right:0;}
body{font-family:'Droid Serif',Arial,Helvetica,serif;background:url("../img/top-background.png") 0 0 repeat-x #ffffff;}
#wrapper{max-width:930px;margin:0 auto;padding:0 10px;}
audio{width:100%;}
section{padding-bottom:30px;margin-bottom:30px;border-bottom:#dddddd solid 1px;}
.cs_fl_right{float:right;margin-left:20px;}
.cs_fl_left{float:left;margin-right:20px;}
article{float:left;position:relative;}article img{display:block;}
article .date,article .time{display:block;margin-bottom:16px;font-style:italic;color:#444444;font-size:12px;}article .date a,article .time a{font-weight:bold;font-style:italic;text-decoration:none;color:#222222;font-size:10px;}article .date a:hover,article .time a:hover{text-decoration:underline;}
article .more{display:block;color:#444444;font-size:10px;font-weight:bold;font-style:italic;}article .more a{font-family:'PT Sans',Arial,Helvetica,sans-serif;font-size:13px;color:#444444;text-decoration:none;text-transform:uppercase;font-style:normal;}article .more a:hover{text-decoration:underline;}
article small{display:block;margin-bottom:7px;font-size:10px;}article small a{font-family:'PT Sans',Arial,Helvetica,sans-serif;font-size:14px;font-weight:bold;text-transform:uppercase;color:#e3004f;text-decoration:none;}article small a:hover{text-decoration:underline;}
article small em{font-weight:bold;}
article p{font-size:13px;margin-bottom:5px;}
article h1 {font-family: 'PT Sans Narrow',Arial,Helvetica,sans-serif; font-size: 35px; color: #222222; line-height: 35px; text-transform: uppercase;}
article h2{margin-bottom:20px;}
article h3{margin-bottom:10px;}
article h4{margin-bottom:7px;}
article .info{display:none;margin:0;list-style-type:none;position:absolute;left:0;top:0;width:100%;background:#222222;}article .info li{padding:2px 5px;font-family:'PT Sans',Arial,Helvetica,sans-serif;font-size:12px;color:#fff;font-weight:bold;line-height:20px;font-style:italic;}article .info li:last-child{padding:0 5px;}
article .info li span,article .info li a{font-style:normal;}
article .info li a{display:block;margin:5px -5px 0;padding:2px 5px;color:#fff;text-decoration:none;background:#e3004f;}
.form-content{position:relative;padding-bottom:30px;margin-bottom:30px;border-bottom:#dddddd solid 1px;}.form-content dl{overflow:hidden;margin-bottom:10px;}
.form-content dt{display:none;}
.form-content #terms_of_use-label,.form-content #terms_of_use-element,.form-content #attributes-gender-label,.form-content #attributes-gender-element,.form-content #image-label,.form-content #attributes-first_name_public-label,.form-content #attributes-last_name_public-label,.form-content #attributes-email_public-label{display:block;float:left;font-family:'Droid Serif',Arial,Helvetica,serif;line-height:25px;font-style:italic;color:#444444;}
.form-content #terms_of_use-element{margin:5px 0 0 10px;}.form-content #terms_of_use-element input{width:auto;}
.form-content #attributes-gender-element br{display:none;}
.form-content #attributes-gender-element label{float:left;color:#222222;font-family:'PT Sans',Arial,Helvetica,sans-serif;font-style:normal;}.form-content #attributes-gender-element label input{margin:6px 5px 0 0;float:left;}
.form-content #attributes-bio-element,.form-content #attributes-element{clear:both;padding-top:10px;}
.form-content #image-label+dd{clear:both;}
.form-content #attributes-gender-label,.form-content #attributes-gender-element label{margin-right:10px;}
.form-content #attributes-first_name_public-label,.form-content #attributes-last_name_public-label,.form-content #attributes-email_public-label{clear:left;width:150px;margin-right:5px;}
.form-content #attributes-first_name_public-element,.form-content #attributes-last_name_public-element,.form-content #attributes-email_public-element{float:left;}
.form-content input[type=text],.form-content input[type=password],.form-content textarea{height:23px;width:222px;padding:0 10px;margin-bottom:18px;font-family:'Droid Serif',Arial,Helvetica,serif;font-size:12px;font-style:italic;color:#444444;border:#666 solid 1px;}
.form-content textarea{height:55px;padding:10px;resize:vertical;}
.form-content input[type=submit]{height:25px;width:244px;font-family:'PT Sans',Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;color:#fff;text-align:center;background:#e3004f;border:0;}
.form-content .input-info{position:absolute;top:5px;right:0;width:230px;}.form-content .input-info a{display:inline-block;padding-left:20px;margin-left:14px;font-family:'PT Sans',Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;color:#e3004f;text-transform:uppercase;text-decoration:none;background:url(../img/bullet-3.png) 0 50% no-repeat;}.form-content .input-info a:hover{text-decoration:underline;}
.form-content .input-info a:first-child{background:none;}
.horizontal-form{overflow:hidden;}.horizontal-form input{float:left;width:188px;margin-right:30px;margin-bottom:0;}
.horizontal-form input[type=submit]{width:160px;}
.grid-1 article{float:none;overflow:hidden;}.grid-1 article small{padding-top:16px;}
.grid-1 article img{float:left;margin-right:30px;}
.grid-1 article .more{padding-top:10px;}
.grid-2 article{float:left;width:450px;margin-right:30px;}.grid-2 article:nth-child(2n){margin-right:0;}
.grid-2 article img{display:block;margin-bottom:16px;}
.grid-2 article h3{overflow:hidden;height:40px;}
.grid-2 article h4{height:30px;overflow:hidden;}
.grid-2 article .more{padding-top:10px;}
.grid-3{padding-bottom:0;}.grid-3 article{float:left;width:290px;margin-right:30px;}.grid-3 article:nth-child(3n){margin-right:0;}
.grid-3 article h4{height:30px;overflow:hidden;}
.grid-3 article .more{padding-top:10px;margin-bottom:30px;}
.grid-3 img{margin-bottom:15px;}
.grid-3-top article{float:left;width:200px;margin-right:30px;}.grid-3-top article small a{font-size:12px;}
.grid-3-top article:nth-child(3){width:130px;margin-right:0;}
.grid-3-top article h4,.grid-3-top article:nth-child(3) .date{overflow:hidden;height:47px;margin:0;line-height:15px;}
.grid-6 article{float:left;width:130px;margin-right:30px;}.grid-6 article:nth-child(6n){margin-right:0;}
.grid-6 article .article{margin-bottom:15px;border-bottom:#dddddd solid 1px;}.grid-6 article .article:last-child{border-bottom:0;}
.grid-6 article .article .time{min-height:35px;}
.grid-6 article .article h4{overflow:hidden;height:78px;}.grid-6 article .article h4 em{font-family:'Droid Serif',Arial,Helvetica,serif;font-style:italic;font-size:10px;text-transform:none;}
.grid-6 img{margin-bottom:10px;}
.grid-6.extended article{margin-bottom:30px;border-bottom:#dddddd solid 1px;}
.grid-6.extended-small article{padding-bottom:15px;margin-bottom:20px;border-bottom:#dddddd solid 1px;max-height:220px;min-height:220px;}.grid-6.extended-small article img{margin-bottom:20px;height:auto;overflow:hidden;max-width:130px;}
.divider{clear:both;margin-bottom:30px;border-bottom:#dddddd solid 1px;}
.main{float:left;width:610px;}
.entry article{float:none;padding-bottom:20px;margin-bottom:30px;border-bottom:#dddddd solid 1px;}.entry article p{margin-bottom:10px;}.entry article p a{color:#e3004f;text-decoration:none;}.entry article p a:hover{text-decoration:underline;}
.entry article blockquote{padding:5px 15px 7px;margin-bottom:10px;color:#222222;font-style:italic;background:#dddddd;}.entry article blockquote p{margin:0;color:#222222;}
.entry article figure{margin-bottom:20px;}.entry article figure img{margin-bottom:10px;}
.entry article figure p{font-style:italic;}.entry article figure p em{font-size:10px;font-weight:bold;color:#222222;}
.entry article ul{margin:0;list-style-type:none;margin-bottom:10px;}.entry article ul li{padding-left:26px;font-family:'Droid Serif',Arial,Helvetica,serif;font-size:13px;line-height:20px;background:url(../img/bullet-3.png) 10px 7px no-repeat;}
.page{border-bottom:0;margin:0;}.page article{border-bottom:0;margin:0;padding:0;}
.author-info{position:relative;overflow:hidden;clear:both;margin-bottom:20px;border-bottom:#dddddd solid 1px;}.author-info p,.author-info h3{margin-bottom:5px;}
.author-info p em{font-size:12px;}.author-info p em b{font-size:10px;color:#222222;}
.author-info img{float:left;margin:0 30px 30px 0;}
.author-info .more{position:absolute;top:0;right:0;}.author-info .more a{font-family:'PT Sans',Arial,Helvetica,sans-serif;font-size:13px;color:#222222;text-decoration:none;font-weight:bold;}.author-info .more a:hover{text-decoration:underline;}
.comments ol{margin:0;list-style-type:none;margin-bottom:30px;border-top:#dddddd solid 1px;}.comments ol li{position:relative;min-height:60px;padding:20px 0 20px 80px;border-bottom:#dddddd solid 1px;}.comments ol li img{position:absolute;top:20px;left:0;}
.comments ol li h5{margin-bottom:5px;font-size:12px;color:#222222;}.comments ol li h5 a{font-family:'PT Sans',Arial,Helvetica,sans-serif;color:#e3004f;text-decoration:none;text-transform:uppercase;}.comments ol li h5 a:hover{text-decoration:underline;}
.comments ol li h5 em{font-family:'Droid Serif',Arial,Helvetica,serif;font-size:10px;color:#222222;font-weight:bold;}
.comments ol li p{margin-bottom:5px;}
.comments ol li .date{font-size:12px;font-style:italic;}
.comments fieldset ul{margin:0;list-style-type:none;}.comments fieldset ul li.left{width:370px;}
.comments fieldset ul li.right{width:225px;}
.comments fieldset ul input[type=text],.comments fieldset ul textarea{font-family:'Droid Serif',Arial,Helvetica,serif;font-size:12px;font-style:italic;color:#444444;border:#dddddd solid 1px;}
.comments fieldset ul input[type=text]{position:relative;width:199px;height:38px;padding:0 13px;margin-bottom:15px;}
.comments fieldset ul textarea{width:344px;height:193px;resize:none;padding:10px 13px;}
.comments fieldset ul input.button{width:225px;height:50px;font-family:'PT Sans',Arial,Helvetica,sans-serif;font-size:20px;font-weight:bold;text-transform:uppercase;color:#fff;background:#222222;border:0;}.comments fieldset ul input.button:hover{background:#444444;}
aside{float:right;width:290px;}aside h2{margin-bottom:20px;}
aside section,aside .aside-box{padding-bottom:20px;margin-bottom:20px;border-bottom:#dddddd solid 1px;}aside section:last-child,aside .aside-box:last-child{border-bottom:0;}
aside .aside-box p,aside .aside-box h3{margin-bottom:10px;padding-top:5px;}
aside .aside-box p a{color:#e3004f;text-decoration:none;}aside .aside-box p a:hover{text-decoration:underline;}
.list-large{margin:0;list-style-type:none;margin-top:20px;border-top:#dddddd solid 1px;}.list-large li{padding:20px 0 0 0;border-bottom:#dddddd solid 1px;}
.geo_map_mapcanvas{width:100% !important;}
#top{position:relative;height:35px;margin-bottom:30px;}#top h3{float:left;font-family:'PT Sans',Arial,Helvetica,sans-serif;color:#fff;font-size:13px;text-transform:none;line-height:35px;}
#top .top-menu{position:absolute;right:0;top:0;}#top .top-menu ul{float:left;margin:0;list-style-type:none;}#top .top-menu ul li{float:left;position:relative;}#top .top-menu ul li a{display:block;padding:0 10px 0 27px;margin-right:20px;font-family:'PT Sans',Arial,Helvetica,sans-serif;color:#fff;font-size:13px;line-height:35px;text-decoration:none;background-image:url("../img/icons-top.png");background-repeat:no-repeat;}
#top .top-menu ul li .sub{display:none;position:absolute;top:35px;left:-10px;z-index:100;width:150px;background:#222222;}#top .top-menu ul li .sub li{float:none;border-top:#666 solid 1px;}#top .top-menu ul li .sub li a{padding:0 0 0 35px;font-size:12px;color:#fff;font-style:italic;background:url(../img/bullet-2.png) 14px 50% no-repeat;}#top .top-menu ul li .sub li a:hover{background-position:14px 50%;color:#e3004f;}
#top .top-menu ul li .login-box{overflow:hidden;width:290px;padding:10px;border-top:#666 solid 1px;}#top .top-menu ul li .login-box fieldset{width:130px;}#top .top-menu ul li .login-box fieldset.right{width:145px;}
#top .top-menu ul li .login-box fieldset p,#top .top-menu ul li .login-box fieldset input[type=text],#top .top-menu ul li .login-box fieldset input.button{font-family:'PT Sans',Arial,Helvetica,sans-serif;font-size:12px;color:#fff;font-style:italic;}
#top .top-menu ul li .login-box fieldset input[type=text],#top .top-menu ul li .login-box fieldset input.button{width:118px;height:23px;padding:0 5px;text-align:center;}
#top .top-menu ul li .login-box fieldset input[type=text]{margin-bottom:5px;background:transparent;border:#666 solid 1px;}
#top .top-menu ul li .login-box fieldset input.button{width:130px;font-style:normal;font-weight:bold;background:#e3004f;border:0;}
#top .top-menu ul li .login-box p{margin-bottom:5px;line-height:15px;}#top .top-menu ul li .login-box p a{display:inline;padding:0;margin:0;color:#e3004f;line-height:15px;font-size:12px;background:none;}#top .top-menu ul li .login-box p a:hover{text-decoration:underline;}
#top .top-menu ul li.login a{background-position:0 9px;}#top .top-menu ul li.login a:hover,#top .top-menu ul li.login a.active{background-position:0 -141px;}
#top .top-menu ul li.follow a{background-position:0 -21px;}#top .top-menu ul li.follow a:hover,#top .top-menu ul li.follow a.active{background-position:0 -171px;}
#top .top-menu ul li.share a{background-position:0 -51px;}#top .top-menu ul li.share a:hover,#top .top-menu ul li.share a.active{background-position:0 -201px;}
#top .top-menu ul li.language a{background-position:0 -81px;}#top .top-menu ul li.language a:hover,#top .top-menu ul li.language a.active{background-position:0 -231px;}
#top .top-menu .search-box{float:left;position:relative;width:128px;height:23px;margin-top:5px;border:#666 solid 1px;}#top .top-menu .search-box input[type=text]{width:88px;height:23px;padding:0 30px 0 10px;font-family:'PT Sans',Arial,Helvetica,sans-serif;font-size:12px;color:#fff;font-style:italic;background:none;border:0;}
#top .top-menu .search-box input.button,#top .top-menu .search-box a.search-trigger{position:absolute;top:50%;right:8px;width:16px;height:16px;margin-top:-8px;text-indent:-9999px;background:url("../img/icons-top.png") 0 -121px no-repeat;border:0;}#top .top-menu .search-box input.button:hover,#top .top-menu .search-box a.search-trigger:hover,#top .top-menu .search-box input.button.active,#top .top-menu .search-box a.search-trigger.active{background-position:0 -271px;}
#top .top-menu .search-box a.search-trigger{display:none;}
#header{position:relative;min-height:95px;margin-bottom:30px;}#header a{text-decoration:none;}
#header h1{max-width:283px;height:64px;margin-bottom:15px;text-indent:-9999px;background:url("../img/logo.png") 0 0 no-repeat;background-size:100% auto;}
#header h4{max-width:283px;}
#header .grid-3-top{position:absolute;top:6px;right:0;padding:0;margin:0;border-bottom:0;}
#nav-bar{position:relative;margin-bottom:30px;border-top:#dddddd 1px solid;border-bottom:#dddddd 1px solid;}#nav-bar a.cat-trigger{display:none;font-family:'PT Sans',Arial,Helvetica,sans-serif;font-size:13px;color:#fff;text-transform:uppercase;line-height:35px;font-weight:bold;text-decoration:none;}
#nav-bar ul{overflow:hidden;margin:0;}#nav-bar ul li{float:left;margin-right:30px;padding-left:5px;}#nav-bar ul li:first-child{padding-left:0;}
#nav-bar ul li a{display:block;font-family:'PT Sans',Arial,Helvetica,sans-serif;color:#222222;line-height:49px;text-transform:uppercase;font-size:16px;font-weight:bold;text-decoration:none;}#nav-bar ul li a.active,#nav-bar ul li a:hover{color:#e3004f;}
#nav-bar .right{position:absolute;top:0;right:0;float:none;font-family:'PT Sans',Arial,Helvetica,sans-serif;color:#222222;line-height:49px;text-transform:uppercase;font-size:16px;font-weight:bold;}#nav-bar .right a{color:#222222;text-decoration:none;}#nav-bar .right a:hover{color:#e3004f;}
#bottom ul{margin:0;list-style-type:none;padding-bottom:30px;}#bottom ul li{float:left;margin-right:75px;}#bottom ul li p,#bottom ul li li{float:none;margin:0;font-family:'PT Sans',Arial,Helvetica,sans-serif;color:#1a171b;font-size:12px;line-height:15px;}#bottom ul li p a,#bottom ul li li a{color:#1a171b;text-decoration:none;font-weight:bold;}#bottom ul li p a:hover,#bottom ul li li a:hover{text-decoration:underline;}
#bottom ul li li{padding-left:10px;background:url(../img/bullet-1.png) 0 5px no-repeat;}
#bottom ul li p{margin-bottom:5px;}
.event-map{overflow:hidden;padding-bottom:20px;margin-bottom:20px;border-bottom:#dddddd solid 1px;}.event-map #map-canvas{height:275px;margin-bottom:7px;}
.event-map p{font-style:italic;font-size:12px;}.event-map p.right,.event-map p.left a{font-family:'PT Sans',Arial,Helvetica,sans-serif;color:#222222;font-size:13px;font-weight:bold;font-style:normal;}
.event-map p a{text-decoration:none;color:#222222;}.event-map p a:hover{text-decoration:underline;}
.article-list,.comments-list{margin:0;list-style-type:none;}.article-list li,.comments-list li{padding-bottom:5px;margin-bottom:5px;border-bottom:#dddddd solid 1px;}.article-list li:first-child,.comments-list li:first-child{padding-top:0;}
.article-list li:last-child,.comments-list li:last-child{border-bottom:0;}
.article-list li h4,.comments-list li h4{margin:0;}
.comments-list li{font-style:italic;}.comments-list li p,.comments-list li .time{margin:0;line-height:15px;}
.page-title h2{padding-bottom:20px;margin-bottom:30px;border-bottom:#dddddd solid 1px;}
.section-search{overflow:hidden;padding-bottom:20px;margin-bottom:30px;border-bottom:#dddddd solid 1px;}.section-search fieldset{float:left;position:relative;border:#666 solid 1px;}.section-search fieldset input[type=text]{width:255px;height:23px;padding:0 5px 0 10px;font-family:'Droid Serif',Arial,Helvetica,serif;font-size:12px;font-style:italic;color:#444444;border:0;}
.section-search fieldset input.button{width:23px;height:23px;text-indent:-9999px;background:url(../img/icon-search.png) 50% 50% no-repeat;border:0;}
.section-search ul{float:right;margin:0;list-style-type:none;}.section-search ul li{float:left;padding-left:20px;margin-right:14px;font-family:'PT Sans',Arial,Helvetica,sans-serif;line-height:25px;background:url(../img/bullet-3.png) 0 50% no-repeat;}.section-search ul li:last-child{margin-right:0;}
.section-search ul li:first-child{padding-left:0;background:none;}
.section-search ul li a{color:#e3004f;text-transform:uppercase;font-size:13px;font-weight:bold;text-decoration:none;}.section-search ul li a:hover{text-decoration:underline;}
.user-slider{margin:0;list-style-type:none;overflow:hidden;margin-bottom:40px;}.user-slider li{overflow:hidden;float:left;background:#222222;}.user-slider li article{overflow:hidden;padding:30px;}.user-slider li article h3,.user-slider li article p{font-family:'PT Sans',Arial,Helvetica,sans-serif;color:#fff;font-weight:bold;text-transform:none;}
.user-slider li article p{margin-bottom:0;}.user-slider li article p a{color:#e3004f;text-decoration:none;}.user-slider li article p a:hover{text-decoration:underline;}
.user-slider li article figure{float:left;width:290px;margin-right:30px;}.user-slider li article figure img{display:block;margin-bottom:20px;}
.user-slider li article .details ul li{margin-right:20px;}
.single-slider li{overflow:hidden;border-bottom:0 !important;}
.community-feed{margin:0;list-style-type:none;float:left;width:290px;margin-right:30px;padding-bottom:30px;}.community-feed:nth-child(3n){margin-right:0;}
.community-feed li{padding:5px 0 5px 20px;background-image:url(../img/feed-icons.png);background-repeat:no-repeat;border-bottom:#dddddd solid 1px;}.community-feed li:last-child{border-bottom:0;}
.community-feed li.registered{background-position:0 7px;}
.community-feed li.commented{background-position:0 -63px;}
.community-feed li p{font-size:12px;line-height:15px;font-style:italic;}.community-feed li p small{font-size:10px;color:#222222;font-weight:bold;}
.community-feed li p a{color:#444444;text-decoration:none;}.community-feed li p a:hover{text-decoration:underline;}
@media (max-width:950px){aside{float:none;clear:left;} #header section article:last-child{display:none;} .grid-2 article{float:left;width:48%;margin-right:4%;}.grid-2 article:nth-child(2n){margin-right:0;} .grid-2 article img{display:block;margin-bottom:16px;height:auto;} .grid-2 article h3{overflow:hidden;height:40px;} .grid-2 article h4{height:30px;overflow:hidden;} .grid-2 article .more{padding-top:10px;} .grid-3 article:nth-child(3n){margin-right:30px;}}@media (max-width:768px){.user-slider li article figure{width:100%;} .form-content dt { width: 100%; } .user-slider li article figure img{width:auto;} #wrapper{width:100%;padding:0;} #content,#header,#footer{padding:0 10px;} #nav-bar ul li:first-child{padding-left:10px;} #top h3,#header section article:last-child,#nav-bar .right,.main .title p,.section-search fieldset{display:none;}
#top{margin-bottom:20px;width:100%;} #top .top-menu .search-box{margin-right:10px;} article img,aside img{float:none;display:block;width:100%;height:auto;} .event-map #map-canvas,.event-map #map-canvas img{width:100%;height:auto;} .grid-1 article img{margin-bottom:20px;} .grid-2 article{width:100%;} .grid-2 article .more{margin-bottom:20px;} .grid-3 article{width:48%;margin-right:4%;}.grid-3 article:nth-child(2n){margin-right:0;} .grid-3 article:nth-child(3n){clear:left;margin-right:4%;} .grid-3-top article{width:150px;margin-right:10px;} .grid-3-top article h4{height:45px;} .textual-block article{float:none;width:100%;margin-right:0;margin-bottom:20px;} .grid-6 article{width:22%;margin-right:4%;}.grid-6 article:nth-child(4n){margin-right:0;} .grid-6 article h3{font-size:85%;} .section-search
ul{float:none;} .main{width:100%;} aside{width:100%;} aside .gallery{display:inline-block;}aside .gallery img{width:48%;margin-right:4%;float:left;margin-bottom:4%;} aside .gallery a:nth-child(2n) img{margin-right:0;} aside section.grid-3 article{float:none;width:100%;} .comments fieldset ul li{float:none;width:100%;}.comments fieldset ul li textarea{margin-bottom:15px;} #bottom ul li{width:23%;margin-right:2%;}#bottom ul li li{width:100%;} .form-content .form-buttons{float:left;} .form-content .input-info{position:relative;top:auto;right:auto;}.form-content .input-info a{width:100%;} .form-content #terms_of_use-label{clear:left;}}@media (max-width:660px){.title p{display:none;} #top .top-menu{position:static;float:right;margin-right:10px;}#top .top-menu ul li{position:static;} #top .top-menu
ul li a{width:16px;height:35px;padding:0;text-indent:-9999px;} #top .top-menu .sub,#top .top-menu .login-box{left:0 !important;width:100% !important;}#top .top-menu .sub .right,#top .top-menu .login-box .right{float:left !important;padding-left:10px;width:auto !important;} #top .top-menu .sub ul,#top .top-menu .login-box ul{width:100% !important;} #top .top-menu .sub li a,#top .top-menu .login-box li a{display:block;width:auto;text-indent:0;} #top .top-menu .search-box{position:relative;width:16px;height:35px;padding:0;margin:0;border:0;}#top .top-menu .search-box .hiden{position:absolute;right:-10px;top:35px;display:none;z-index:10;width:300px;padding:10px;background:#222222;}#top .top-menu .search-box .hiden input{width:255px;border:#666 solid 1px;} #top .top-menu .search-box input.button{display:none;}
#top .top-menu .search-box a.search-trigger{display:block;top:18px;right:0;} #header{height:auto;} #header .grid-3-top{position:relative;left:auto;right:auto;clear:both;padding-top:20px;margin-top:15px;border-top:#dddddd solid 1px;border-bottom:#dddddd solid 1px;}#header .grid-3-top article{width:45%;margin-right:5%;} #nav-bar{position:absolute;left:0;top:35px;width:100%;border:0;}#nav-bar a.cat-trigger{padding-left:10px;display:block;position:absolute;top:-35px;} #nav-bar ul.show{display:none;position:absolute;top:0;left:0;z-index:100;width:100%;background:#222222;}#nav-bar ul.show li{float:none;padding:0;margin:0;border-top:#666 solid 1px;}#nav-bar ul.show li a{display:block;padding:9px 0 9px 35px;font-size:12px;color:#fff;font-style:italic;font-weight:normal;text-transform:none;line-height:normal;background:url(../img/bullet-2.png)
14px 50% no-repeat;}#nav-bar ul.show li a:hover{background-position:14px 50%;color:#e3004f;}}@media (max-width:400px){.comments fieldset ul li.left{width:100%;} .comments fieldset ul li textarea{width:90%;}}@media (max-width:340px){.grid-6 article,.grid-3 article{width:48%;}.grid-6 article:nth-child(6n),.grid-3 article:nth-child(6n){margin-right:2%;} .textual-block article{float:none;width:100%;margin-right:0;margin-bottom:20px;} #bottom ul li:first-child ul,#bottom ul li:nth-child(3) ul{display:none;} #bottom ul li{float:none;width:100%;margin-right:0%;margin-bottom:20px;}#bottom ul li li{width:100%;margin-bottom:0;} .grid-3 article:nth-child(2n){margin-right:0;} .grid-6 article{margin-right:4%;}.grid-6 article:nth-child(2n){margin-right:0;} .grid-6 article h3{font-size:90%;} .article-list,.comments-list{margin-right:10px;}
#top .top-menu .search-box{position:static;}#top .top-menu .search-box a.search-trigger{right:10px;} #top .top-menu .search-box .hiden{width:100%;right:0px;}#top .top-menu .search-box .hiden input{width:90%;padding:0px;margin-left:20px;} .user-slider li article figure img{width:100%;}}

/* =============================================================================
   Article rating
   ========================================================================== */
.rating {
	clear: both; 
	margin-bottom: 15px;
	width: 100%;
	min-height: 75px;
}

.rate_widget {
    border: none;
    overflow: visible;
    position: relative;
}
.ratings_stars {
    background: url('../img/rating/star_empty.png') no-repeat;
    float:      left;
    height:     28px;
    padding:    2px;
    width:      28px;
}
.ratings_vote {
    background: url('../img/rating/star_full.png') no-repeat;
}
.ratings_over {
    background: url('../img/rating/star_highlight.png') no-repeat;
}
 
.total_votes {
    margin-top: 2px;
    float: left;
    display: inline-block;
    color: #464646;
    font-size: 14px;
}
.article_rating {
    font: 21px Arial, Helvetica, sans-serif;
    width: 100%;
    float: left;
    padding: 12px 0px;
}
  .article_rating h3 {
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: none;
    font-size: 21px;
  }

.rating_error {
    margin-top: 2px;
    float: left;
    display: inline-block;
    color: #464646;
    font-size: 14px;
}

.stars {
padding: 0;
margin: 0 4px 0 0;
list-style-type: none;
display: inline-block;
float: left;
}

#twitter {
	display: inline-block;
	float: left;
}


	/* Debatte */

	aside #debate { 
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: #dddddd solid 1px;
	}

	ul.debatte-score {
		overflow:hidden;
		margin: 0!important;
		list-style-type:none;
		padding: 0;
		padding-bottom: 6px;
		}
		ul.debatte-score li {
			float:left; position:relative;
			width:50%; height:35px;
			}
			ul.debatte-score li.yes {background:#EE6695;}
			ul.debatte-score li.no {background:#31827d;}
				ul.debatte-score li.no:before {
					content:"";
					position:absolute; left:-1px; top:0;
					width:1px; height:100%;
					background:#fff;
					}
			ul.debatte-score li span {
				position:absolute; left:5px; top:0;
				font-size:13px; color:#fff; line-height:35px; white-space:nowrap;
				font-family: 'PT Sans',Arial,Helvetica,sans-serif;
				}
				ul.debatte-score li.no span {left:auto; right:5px;}

		/* Debatte single */
		
		.headline {padding:14px 10px; font-size:14px;}
		
		.debatte-single header {padding:10px 0;}
			.debatte-single header h6,
			.debatte-single header h3 {text-align:center; font-size:24px;}
				.debatte-single header h6 a {color:#B40032; text-decoration:none;}
				.debatte-single header h3 a {color:#000; text-decoration:none;}
		.debatte-single.debatte-detail header {padding:30px 0 20px 0;}			
				
		.debatte-single ul.debatte-score li {height:57px;}
		.debatte-single ul.debatte-score li span {line-height:57px; font-size:14px;}
		.debatte-single .score-box {position:relative; padding-top: 0;}
	/*
			.debatte-single .score-box:after {content:""; position:absolute; left:0; bottom:-20px; height:25px; width:100%; background:#fff;}
    */
			.debatte-single .score-box small {text-align: center; color: #666666; font-size: 13px;}
		
		.debatte-list article {margin-bottom:25px;}
		.debatte-list article h3 {color:#B40032;}


	.debatte-single.debatte-detail header {padding:10px 0;}	
		.debatte-single .score-box small {padding-top: 5px}
	ul.debatte-score {width:auto; margin:0 10px;}
	.vote-box {padding:10px 10px 0;}
	.debatte-list.left-thumb article figure,
		.debatte-list.left-thumb article figure img {width:auto;}
	.debatte-list.left-thumb article p {display:block;}

			.vote-box {padding:4% 4% 0 4%;}
				.button-group {overflow:hidden; margin-bottom:10px;}
					.button-group a {width:49%; float:left; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border-left: 2px solid #fff; border-right: 2px solid #fff;}
						.button-group a:last-child {float:right;}
				.vote-box p {font-size:14px; line-height:18px; text-align:left; margin:0;}
					
	.button.debbut {
		color:#fff;
		background: #e3004f;
		text-align: center;
		padding: 5px;
		font-family: 'PT Sans',Arial,Helvetica,sans-serif;
		text-decoration: none;
		}
		.button.debbut:hover,
		.button.debbut.active  {
			background: #C60045;
		}		
		
		.inner-highlight {
			width:330px;
			padding:15px;
			background:#e5e5e5;
			}
			.inner-highlight.right {margin-left:15px;}
			.inner-highlight.left {margin-right:15px;}
			.inner-highlight h3 {margin-bottom:0; color:#B40032;}
			.inner-highlight p {font-size:13px; line-height:21px;}
			.inner-highlight figure {float:left; margin-right:15px; max-width: 97px;}
			.inner-highlight figure {margin-bottom: 0px}
			.inner-highlight figure img {height: auto;}

.form-content dt {
	display: inline-block !important;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
	min-width: 80px;
}

#recaptcha_response_field {
height: auto;
}
