/**************************************** */
/**** Begin Responsive Media Queries **** */
/**************************************** */
/* --- Begin responsive mixings */
.responsive-navbar-inner {
  font-size: 12px !important;
  width: 100% !important;
  margin: 0px !important;
  padding-left: 30px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}
.responsive-tablet-slideshow .quetzal-slide {
  background-position: center center;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  display: none;
}
.responsive-tablet-slideshow .quetzal-slide.first {
  display: block;
}
.responsive-tablet-slideshow .quetzal-slide.first .slide-title {
  margin-top: 15px;
}
.responsive-tablet-slideshow .slide-title {
  position: relative;
  top: 20px;
  padding-left: 30px;
}
.responsive-tablet-slideshow .slide-description {
  margin-top: 30px;
  padding-left: 30px;
}
.responsive-tablet-slideshow .quetzal-slideshow-pager {
  width: 72px;
  right: 30px;
  left: auto;
  top: 25px;
}
.responsive-tablet-slideshow .quetzal-slideshow-pager a {
  margin-bottom: 15px;
}
/* End responsive mixings --- */
/* --- Begin 768px to 979px screen resolution */
@media (min-width: 768px) and (max-width: 979px) {
  .row,
  .container,
  .home-featured-news,
  .home-featured-news .span8,
  .more-news-tabs,
  .article-container,
  .article-container h1,
  .internal-sidebar,
  .quetzal-carousel,
  .quetzal-carousel .item img,
  .quetzal-carousel .sub-item img,
  .footer-brand .span12,
  .community-feed {
    width: 100%;
  }
  .tablet-map {
    width: 97%;
  }
  .container,
  .row {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .navbar-inner {
    font-size: 12px !important;
    width: 100% !important;
    margin: 0px !important;
    padding-left: 30px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
  }
  section[role="main"] .wrapper {
    width: 100% !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  section#content {
    padding: 10px 30px;
  }
  .homepage {
    margin-top: -15px;
  }
  .main-header {
    padding-left: 10px;
    padding-right: 30px;
    margin-left: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main-header .span7 {
    width: 53%;
  }
  .main-header .span5 {
    width: 41%;
  }
  #quetzal-slideshow .quetzal-slide {
    background-position: center center;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    display: none;
  }
  #quetzal-slideshow .quetzal-slide.first {
    display: block;
  }
  #quetzal-slideshow .quetzal-slide.first .slide-title {
    margin-top: 15px;
  }
  #quetzal-slideshow .slide-title {
    position: relative;
    top: 20px;
    padding-left: 30px;
  }
  #quetzal-slideshow .slide-description {
    margin-top: 30px;
    padding-left: 30px;
  }
  #quetzal-slideshow .quetzal-slideshow-pager {
    width: 72px;
    right: 30px;
    left: auto;
    top: 25px;
  }
  #quetzal-slideshow .quetzal-slideshow-pager a {
    margin-bottom: 15px;
  }
  .home-featured-news .article-image {
    width: 225px !important;
  }
  .home-featured-news .other-featured article {
    margin-right: 9px;
    width: 32.3%;
  }
  .archive-entry .article-image {
    width: 130px !important;
  }
  .quetzal-carousel .sub-item {
    width: 33.3%;
  }
  .quetzal-carousel .photo img {
    height: 220px;
  }
  .quetzal-carousel .video img {
    background-size: cover !important;
    height: 220px;
  }
  .profile .profile-info {
    width: 53%;
  }
  .footer-brand {
    text-align: center;
  }
  .footer-info .widget-map {
    margin-left: 30px;
  }
  .article-container .article-content figure > img {
    width: 100%;
  }
  .internal-page header.section-header {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
  }
  .internal-page header.section-header .container {
    padding: 0px 30px;
  }
  #comments .row:first-child,
  #comments .comment-box {
    width: 100%;
  }
  #comments .row:first-child {
    margin-left: 0px;
  }
  #comments .row:first-child .span6 {
    margin-left: 0px;
  }
  #comments .row:first-child .span2 {
    text-align: right;
  }
  #comments .row:first-child .span2,
  #comments .row:first-child .span6 {
    width: 48%;
  }
  #comments .row:first-child .write-comment a {
    right: 0px;
    left: auto;
  }
  #comments .comment-box {
    margin-left: 0px;
  }
  #comments .comment-box .span1 {
    width: 9%;
    margin-left: 0px;
  }
  #comments .comment-box .span7 {
    width: 88.1%;
  }
  #comments #comment-form form > .row .span4:first-child {
    margin-left: 0px;
  }
  #comments #comment-form form > .row .span4 {
    width: 48.5%;
  }
  .section-featured .article-image {
    width: 300px !important;
  }
  .user-entry,
  .profile .span6 {
    width: 47%;
  }
  .community .span8 {
    width: 100%;
  }
}
/* --- End 768px to 979px screen resolution*/
/* --- Begin 481px to 767px screen resolution */
/* --- Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
  .row,
  .container,
  section[role="main"] .wrapper,
  .main-header .span7,
  .article-container,
  .article-container h1,
  .article-container .single figure > img,
  .other-featured article {
    width: 100% !important;
  }
  .container,
  .row {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .navbar-inner {
    font-size: 12px !important;
    width: 100% !important;
    margin: 0px !important;
    padding-left: 30px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
  }
  section#content {
    padding: 10px 30px;
  }
  .homepage {
    margin-top: -15px;
  }
  .wrapper {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  .main-header {
    padding-left: 10px;
    padding-right: 30px;
    margin-left: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #quetzal-slideshow .quetzal-slide {
    background-position: center center;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    display: none;
  }
  #quetzal-slideshow .quetzal-slide.first {
    display: block;
  }
  #quetzal-slideshow .quetzal-slide.first .slide-title {
    margin-top: 15px;
  }
  #quetzal-slideshow .slide-title {
    position: relative;
    top: 20px;
    padding-left: 30px;
  }
  #quetzal-slideshow .slide-description {
    margin-top: 30px;
    padding-left: 30px;
  }
  #quetzal-slideshow .quetzal-slideshow-pager {
    width: 72px;
    right: 30px;
    left: auto;
    top: 25px;
  }
  #quetzal-slideshow .quetzal-slideshow-pager a {
    margin-bottom: 15px;
  }
  .footer-brand {
    text-align: center;
  }
  #seachform {
    margin-bottom: 3px;
    margin-top: 13px;
  }
  #seachform .input-append {
    margin-bottom: 0px;
  }
  #seachform .input-append input {
    width: 200px;
  }
  .home-featured-news .article-excerpt.hidden-phone {
    display: block !important;
  }
  .home-featured-news article {
    max-height: none !important;
  }
  .home-featured-news .other-featured figure.article-image {
    margin-right: 7px;
  }
  .home-featured-news .other-featured article {
    min-height: 1px !important;
    height: auto !important;
    padding-bottom: 3px;
  }
  .home-featured-news .other-featured .article-content {
    width: 100%;
  }
  .internal-page header.section-header {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
  }
  .internal-page header.section-header .container {
    padding: 0px 30px;
  }
  .single figure.aside-figure {
    width: 50%;
  }
  #comments .row:first-child,
  #comments .comment-box {
    width: 100%;
  }
  #comments .row:first-child {
    margin-left: 0px;
  }
  #comments .row:first-child .span6 {
    width: 60%;
    margin-left: 0px;
    float: left;
  }
  #comments .row:first-child .span2 {
    width: 40%;
    text-align: right;
    float: left;
  }
  #comments .row:first-child .write-comment a {
    right: 0px;
    left: auto;
  }
  #comments .row:first-child:after {
    content: '';
    display: block;
    clear: both;
    margin-bottom: 10px;
  }
  #comments .comment-box {
    margin-left: 0px;
  }
  #comments .comment-box .span1 {
    width: 10%;
    margin-left: 0px;
    margin-right: 1%;
    float: left;
  }
  #comments .comment-box .span7 {
    width: 89%;
    float: left;
  }
  #comments #comment-form form > .row .span4:first-child {
    margin-left: 0px;
    margin-right: 1%;
  }
  #comments #comment-form form > .row .span4 {
    width: 100%;
    float: left;
  }
  .footer-info .widget-map {
    margin-left: 30px;
  }
  .more-like-this-phone article {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #b2b2b2;
  }
  .more-like-this-phone article figure {
    float: left;
    width: 130px;
    margin-right: 5px;
  }
  .more-like-this-phone article h2 {
    font-size: 16px;
    margin: 0px;
    line-height: 18px;
    font-weight: 400;
  }
  .more-like-this-phone article h2 a {
    color: #000;
  }
  .more-like-this-phone article h2 a:hover {
    color: #000000;
  }
  .more-like-this-phone article .article-date {
    font-size: 11px;
  }
  .action-buttons {
    text-align: center;
  }
  .action-buttons .btn {
    margin-right: 20px;
  }
  .user-entry {
    width: 50%;
    float: left;
  }
}
/* --- End 481px to 767px screen resolution */
/* --- Begin screen resolution less than 480px */
/* --- Landscape phones and down */
@media (max-width: 480px) {
  body {
    padding: 0px;
  }
  .container,
  .row {
    width: 100%;
  }
  section#content {
    padding-bottom: 0px;
  }
  .navbar-inner {
    font-size: 12px !important;
    width: 100% !important;
    margin: 0px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
  }
  section[role="main"] .wrapper {
    width: 100% !important;
  }
  .homepage {
    margin-top: -15px;
  }
  .login-link:hover {
    color: #fff;
  }
  .phone-nav .dropdown-menu {
    width: 262px !important;
  }
  #seachform input[type="search"] {
    margin-left: 15px;
  }
  .internal-page .wrapper {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  .internal-page header.section-header {
    border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
  }
  .internal-page .container {
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .internal-page .main-article .article-info {
    display: inline-block;
    line-height: 15px;
  }
  .internal-page .main-article h1 {
    font-size: 24px;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  .single figure.aside-figure {
    width: 100%;
    margin-bottom: 10px;
  }
  .single figure.aside-figure img {
    width: 100%;
  }
  .article-container .article-content .cs_img {
    width: 100%;
  }
  .main-header .span7 {
    margin-bottom: 5px;
  }
  .main-header .span5 {
    background-color: #1A1E24;
  }
  .main-header .span5 #seachform,
  .main-header .span5 .input-append {
    margin: 0px;
    width: 100%;
  }
  .main-header .span5 .input-append {
    margin-top: 3px;
    padding-bottom: 2px;
  }
  .main-header .span5 input[name="search"] {
    width: 85%;
    margin-left: 1.5%;
  }
  .internal-page .breadcrumbs h2,
  .internal-page .breadcrumbs h3 {
    font-size: 20px !important;
  }
  #quetzal-slideshow {
    height: 260px;
    margin-bottom: 30px;
  }
  #quetzal-slideshow .quetzal-slide {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    height: 260px;
    background-position: center center;
  }
  #quetzal-slideshow .slide-title {
    position: relative;
    top: 100px;
  }
  #quetzal-slideshow .quetzal-slideshow-pager {
    bottom: -22px;
  }
  .home-featured-news article,
  .section-articles article {
    width: 100%;
    min-height: 100px !important;
    margin-bottom: 10px;
    padding-bottom: 0px !important;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .home-featured-news .article-image,
  .section-articles .article-image {
    width: 130px !important;
    float: left;
    margin-bottom: 0px !important;
    margin-right: 7px;
  }
  .home-featured-news .article-content,
  .section-articles .article-content {
    width: 268px !important;
    float: left;
  }
  #comments .write-comment {
    text-align: left;
    margin-bottom: 5px;
  }
  #comments .write-comment a {
    top: 0px;
  }
  #comments input[type="submit"] {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    float: inherit;
  }
  .login-textarea textarea {
    margin-bottom: 15px;
  }
  .comment-box .span1 {
    float: left;
    width: 60px;
    margin-right: 5px;
  }
  .comment-box .comment-content {
    float: left;
  }
  .logo {
    margin-left: 10px;
  }
  .section-articles article {
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer-brand {
    text-align: center;
  }
  .action-buttons {
    text-align: center;
  }
  .action-buttons .btn {
    margin-right: 20px;
  }
  .social-buttons {
    margin-right: -30px !important;
  }
  .single h1 {
    width: 100%;
  }
  .addthis_button_facebook_like {
    width: auto !important;
  }
  .more-like-this-phone article {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #b2b2b2;
  }
  .more-like-this-phone article figure {
    float: left;
    width: 130px;
    margin-right: 5px;
  }
  .more-like-this-phone article h2 {
    font-size: 16px;
    margin: 0px;
    line-height: 18px;
    font-weight: 400;
  }
  .more-like-this-phone article h2 a {
    color: #000;
  }
  .more-like-this-phone article h2 a:hover {
    color: #000000;
  }
  .more-like-this-phone article .article-date {
    font-size: 11px;
  }
  .profile .profile-info {
    width: 100%;
  }
  .debate .well {
    width: 90%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .zend_form dt {
    float: left;
    margin-right: 3.8%;
    width: 100%;
  }
  .zend_form dd {
    margin-left: 0;
    width: 100%;
    float: left;
  }
}
/* --- End screen resolution less than 480px */
/* --- Begin screen resolution less than 380px */
@media (max-width: 380px) {
  body {
    padding: 0px;
  }
  .logo {
    width: 135px;
  }
  .social-buttons {
    margin-right: -20px !important;
  }
  #seachform input[name="search"] {
    width: 82%;
  }
  .action-buttons .btn {
    margin-right: 0px;
  }
  .phone-nav .dropdown-menu {
    width: 342px;
  }
}
/* End screen resolution less than 380px --- */
/* --- Begin screen resolution less than 360px */
@media (max-width: 360px) {
  .phone-nav .dropdown-menu {
    width: 322px;
  }
  .debate .well {
    width: 85%;
  }
}
/* End screen resolution less than 360px --- */
/* --- Begin screen resolution less than 320px */
@media (max-width: 320px) {
  #seachform input[name="search"] {
    width: 80%;
  }
  .footer-brand .span12 {
    line-height: 20px;
    padding: 6px 10px;
  }
  .phone-nav .dropdown-menu {
    width: 284px;
  }
  .debate .well {
    width: 80%;
  }
}
/* End screen resolution less than 320px --- */
/**************************************** */
/****** End Responsive Media Queries **** */
/**************************************** */