/***************************** */
/******** Begin Layout ******* */
/***************************** */
/* --- Begin General Elements */
body {
  background: #eee;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #000;
}
hr {
  margin: 5px 0px;
}
.label-important {
  background: #ca2600;
}
.label {
  padding: 0px 4px 2px 4px;
}
.bold-weight {
  font-weight: 700;
}
.normal-weight {
  font-weight: 400;
}
.full-width {
  width: 100% !important;
}
.nav-tabs {
  padding-top: 10px;
  padding-left: 5px;
  margin-bottom: 0px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
}
.nav-tabs > li > a {
  padding: 4px 6px;
}
.tab-content {
  padding: 12px 8px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
}
.navbar .login-nav > li > a {
  float: left;
}
/* End General Elements --- */
/* --- Begin Header */
#header {
  background: #c0c0c0;
}
#header .main-header {
  margin-bottom: 2px;
}
#header .main-header h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
#header #topnav .navbar-inner {
  width: 920px;
  margin-left: -10px;
}
#header nav[role="navigation"] .navbar-inner {
  width: 960px;
  margin-left: -10px;
  padding: 0px 0px;
}
#header #seachform {
  margin-top: 20px;
}
#header .welcome {
  line-height: 35px;
}
/* End Header --- */
/* --- Begin Index Slider  */
#quetzal-slideshow {
  position: relative;
  height: 300px;
}
#quetzal-slideshow .quetzal-slide {
  width: 100%;
  height: 300px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  display: none;
  transition: display 0.3s;
  -moz-transition: display 0.3s;
  -webkit-transition: display 0.3s;
  -o-transition: display 0.3s;
}
#quetzal-slideshow .quetzal-slide.first {
  display: block;
}
#quetzal-slideshow .quetzal-slide.first .slide-title {
  margin-top: 15px;
}
#quetzal-slideshow .slide-title {
  padding: 10px 10px 15px 10px;
  max-width: 320px;
  background: url('../_img/black-dot.png') repeat;
  margin-top: 15px;
}
#quetzal-slideshow .slide-title h3 {
  font-size: 24px;
  line-height: 25px;
  color: #fff;
  margin: 0px;
  font-weight: 400;
}
#quetzal-slideshow .slide-title h3 a {
  color: #fff;
  font-weight: 400;
}
#quetzal-slideshow .slide-title span {
  display: block;
  font-size: 11px;
}
#quetzal-slideshow .slide-time,
#quetzal-slideshow .read-more {
  display: block;
  padding: 0px 5px;
  font-size: 12px;
}
#quetzal-slideshow .slide-time {
  background: #f2f7fa;
  padding: 0px 5px;
}
#quetzal-slideshow .read-more {
  background: #000;
  color: red;
}
#quetzal-slideshow .slide-description {
  background: #f2f7fa;
  margin-top: 10px;
  max-width: 280px;
  padding: 10px;
  font-size: 12px;
  position: relative;
}
#quetzal-slideshow .slide-description .slide-time,
#quetzal-slideshow .slide-description .read-more {
  position: absolute;
  bottom: -20px;
}
#quetzal-slideshow .slide-description .slide-time {
  right: 100px;
}
#quetzal-slideshow .slide-description .read-more {
  right: 10px;
}
#quetzal-slideshow .pager-default {
  bottom: 15px;
  left: 12px;
}
#quetzal-slideshow .pager-section {
  right: 10px;
  top: 10px;
  width: 70px;
}
#quetzal-slideshow .pager-section a {
  display: block;
  margin-bottom: 10px;
}
#quetzal-slideshow .quetzal-slideshow-pager {
  z-index: 9999;
  position: absolute;
}
#quetzal-slideshow .quetzal-slideshow-pager a {
  display: inline-block;
  margin-right: 5px;
  -webkit-box-shadow: 0px 0px 1px 2px #000000;
  -moz-box-shadow: 0px 0px 1px 2px #000000;
  box-shadow: 0px 0px 1px 2px #000000;
  border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
}
#quetzal-slideshow .quetzal-slideshow-pager a img {
  border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
}
#quetzal-slideshow .quetzal-slideshow-pager .cycle-pager-active {
  -webkit-box-shadow: 0px 0px 1px 2px #ffffff;
  -moz-box-shadow: 0px 0px 1px 2px #ffffff;
  box-shadow: 0px 0px 1px 2px #ffffff;
}
#quetzal-slideshow .quetzal-popular-news {
  background: url('../_img/popular_news_background.png') repeat-y right top;
  position: absolute;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  z-index: 999;
  right: 0px;
  top: 0px;
  height: 290px;
  padding-top: 10px;
}
#quetzal-slideshow .quetzal-popular-news h3 {
  font-size: 18px;
  font-weight: normal;
  text-align: right;
  margin: 0px;
  padding: 0px 10px;
  color: #000;
}
#quetzal-slideshow .quetzal-popular-news .mgzn-news-box {
  margin-bottom: 10px;
  background: #fff;
  padding: 3px;
  width: 270px;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  font-family: "Tahoma", Arial, sans-serif;
}
#quetzal-slideshow .quetzal-popular-news .mgzn-news-box .mgzn-news-info {
  margin-left: 3px;
  width: 195px;
}
#quetzal-slideshow .quetzal-popular-news .mgzn-news-box .mgzn-news-info a {
  color: #333333;
}
/* End Index Slider --- */
/* --- Begin Content Elements */
section[role="main"] .wrapper {
  background: #fff;
  width: 960px;
  margin: 0 auto;
  border-radius: 6px;
  -ms-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
}
section#content {
  padding: 10px 0px 20px 0px;
}
figure.article-image {
  margin: 0px;
  padding: 0px;
}
article {
  font-size: 12px;
}
article h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 0px;
  line-height: 20px;
}
article .article-date {
  font-size: 11px;
}
h1.block-title {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 0px;
}
.archive-block {
  margin-bottom: 20px;
}
.archive-block hr {
  margin-top: 2px;
  margin-bottom: 15px;
}
.archive-block article h1 {
  font-size: 18px;
}
.archive-entry header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.archive-entry .article-image {
  width: 130px !important;
}
/* End General Content Elements --- */
/* --- Begin Index */
.home-featured-news .most-prominent {
  max-height: 152px;
}
.home-featured-news .section-article,
.home-featured-news .most-prominent {
  margin-bottom: 10px;
}
.home-featured-news .section-article .article-image,
.home-featured-news .most-prominent .article-image {
  margin-right: 7px;
}
.home-featured-news .section-article figure.article-image,
.home-featured-news .most-prominent figure.article-image {
  margin: 0px;
  padding: 0px;
  margin-right: 7px;
}
.home-featured-news .other-featured article {
  margin-right: 7px;
  min-height: 340px;
  padding-bottom: 20px;
  position: relative;
}
.home-featured-news .other-featured article .article-links {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.home-featured-news .other-featured article:last-child {
  margin-right: 0px !important;
}
.home-featured-news .other-featured .article-image,
.home-featured-news .other-featured figure.article-image {
  margin-bottom: 7px;
}
.home-featured-news .other-featured .article-content {
  width: 202px;
}
.home-featured-news .issue-entry header {
  padding-top: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.home-featured-news .issue-entry .article-image {
  width: 80px !important;
}
.tab-content hr {
  margin: 5px 0px;
}
.quetzal-carousel {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  margin-top: 10px;
}
.quetzal-carousel .quetzal-carousel-content {
  height: 220px;
}
.quetzal-carousel .sub-item {
  width: 235px;
  display: block;
}
.quetzal-carousel .video {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=0.8);
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}
.quetzal-carousel .video:hover {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=0.8);
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
}
.quetzal-carousel .photo,
.quetzal-carousel .video {
  position: relative;
}
.quetzal-carousel .photo .photo-caption,
.quetzal-carousel .video .photo-caption {
  color: #fff;
  position: absolute;
  bottom: 0px;
  padding: 6px;
  text-align: center;
  background: url("../_img/black-dot.png") repeat;
}
/* End Index --- */
/* --- Begin Sidebar */
.advertisements {
  margin-bottom: 10px;
}
.sidebar-widget-tabs,
.more-news-tabs {
  font-size: 11px;
}
.more-news-tabs .article-content img {
  margin-right: 10px;
}
.sidebar-widget-tabs {
  font-size: 12px;
  line-height: 14px;
}
.modal-body .article-image {
  margin-right: 10px;
  margin-bottom: 10px;
}
.olFramedCloudPopupContent {
  margin-left: 15px;
}
.widget-community-feed h4 {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
}
.widget-community-feed .comm-entry {
  margin-top: 10px;
  border-bottom: #454545 1px dotted;
  padding-bottom: 10px;
}
.widget-community-feed .comm-entry p {
  color: #BCC2CB;
  background: url("../_img/comment-icon.png") left bottom no-repeat;
  display: block;
  margin: 0px;
  font-size: 11.5px;
  padding-left: 20px;
}
.widget-community-feed .comm-entry a {
  font-weight: 400;
}
.widget-community-feed .comm-entry span {
  color: #777;
}
.widget-community-feed .widget-wrap {
  padding: 0 20px !important;
}
/* End Sidebar --- */
/* --- Begin Footer */
footer[id="main-footer"] {
  margin-top: 25px;
  font-size: 12px;
  background: #c0c0c0;
}
footer[id="main-footer"] .footer-info {
  padding: 20px 0px;
}
footer[id="main-footer"] h4 {
  font-weight: normal;
}
footer[id="main-footer"] .categories ul {
  text-transform: uppercase;
}
footer[id="main-footer"] .categories ul,
footer[id="main-footer"] .more-links ul {
  list-style-type: none;
  margin: 0px;
  margin-left: 5px;
}
footer[id="main-footer"] .about-us p {
  padding-right: 18px;
}
footer[id="main-footer"] .contact-us {
  font-size: 11px;
}
footer[id="main-footer"] .contact-us .info {
  margin-bottom: 5px;
}
footer[id="main-footer"] .contact-us .info span {
  font-weight: bold;
  display: block;
}
footer[id="main-footer"] .footer-brand {
  height: 62px;
  line-height: 62px;
}
footer[id="main-footer"] .footer-brand .logo-footer {
  display: inline-block;
  margin-right: 10px;
}
/* End Footer --- */
/* --- Begin Internal Page */
.internal-page {
  font-size: 13px;
}
.internal-page header.section-header {
  background: #171b21;
  min-height: 50px;
}
.breadcrumbs {
  min-height: 50px;
}
.breadcrumbs h2,
.breadcrumbs h3 {
  color: #6b6b6b;
  margin: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline-block;
}
.breadcrumbs span {
  display: inline-block;
  position: relative;
  top: -5px;
}
.internal-nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  min-height: 31px;
  line-height: 31px;
}
.internal-nav ul li {
  display: inline-block;
  font-size: 12px;
  position: relative;
  top: 3px;
}
.internal-nav ul li a {
  color: #fff;
  display: block;
  padding: 0px 5px;
  padding-top: 2px;
  padding-bottom: 3px;
}
.internal-nav ul li a:hover {
  text-decoration: none;
}
.internal-nav ul li.active a,
.internal-nav ul li:hover a {
  color: #000;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  background: #fff;
}
/* End Internal Page --- */
/* --- Begin Single Page */
.single h1 {
  width: 300px;
}
.single figure.aside-figure {
  width: 300px;
  margin: 0px;
  padding: 0px;
  margin: 10px 0 0 15px;
}
#gallery {
  min-width: 250px;
  max-width: 100%;
  min-height: 300px;
  max-height: 400px;
  background: #000;
  margin-bottom: 15px;
}
#gallery .galleria-info,
#gallery .galleria-info-text {
  display: block !important;
}
#gallery .galleria-info {
  width: 100%;
  text-align: center;
  left: 0;
  top: 70%;
}
#gallery .galleria-info .galleria-info-text {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=0.8);
  padding: 10px 0px 5px 0px;
  border-top: 1px solid;
}
#gallery .galleria-info .galleria-info-text .galleria-info-title {
  font-size: 11px;
  font-weight: normal;
}
#gallery .galleria-info-link {
  display: none !important;
}
article.main-article figure {
  margin: 0px;
  padding: 0px;
  margin: 12px 0px;
  position: relative;
}
article.main-article figure figcaption {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30px;
  font-size: 11px;
  line-height: 30px;
  color: #fff;
  font-style: italic;
  background: url("../_img/black-dot.png") repeat;
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article.main-article .article-content blockquote {
  border: 0;
  padding: 12px;
  margin: 20px 0;
  border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}
article.main-article .addthis_toolbox {
  padding: 10px 0px 5px 0px;
  margin: 10px 0px;
}
#comments input[type="submit"] {
  margin-top: -100px;
}
.article-container .article-content .cs_img {
  width: 50%;
  margin-left: 10px;
}
.article-container .article-content .cs_img .cs_img_caption {
  background: url("../_img/black-dot.png") repeat;
  color: #fff;
  margin-top: -10px;
  padding: 3px 8px;
  font-size: 11px;
  font-style: italic;
}
#comment-form input[type="text"],
#comment-form input[type="email"],
#comment-form input[type="url"],
#comment-form textarea {
  width: 100%;
  font-size: 14px;
  height: 42px;
  font-style: italic;
}
#comment-form textarea {
  height: 146px;
}
.login-textarea textarea {
  margin-bottom: 100px;
}
#recaptcha_response_field {
  height: 32px !important;
}
.audiojs {
  width: 60%;
  font-size: 9px;
}
.audiojs .scrubber {
  width: 60%;
}
.rate_widget {
  border: none;
  overflow: visible;
  padding: 10px;
  position: relative;
  width: 180px;
  height: 25px;
}
.ratings_stars {
  background: url('../_img/rating/star_empty.png') no-repeat;
  float: left;
  height: 25px;
  padding: 2px;
  width: 28px;
}
.ratings_vote {
  background: url('../_img/rating/star_full.png') no-repeat;
}
.ratings_over {
  background: url('../_img/rating/star_highlight.png') no-repeat;
}
.total_votes {
  background: #eaeaea;
  top: 48px;
  left: 0;
  padding: 5px 10px;
  font-size: 10px;
  position: absolute;
}
.article_rating {
  font: 8px;
  margin: 0px 0px 50px 0px;
  width: 180px;
}
.rating_error {
  top: 75px;
  left: 0;
  padding: 5px;
  position: absolute;
  color: red;
  font-weight: bold;
  width: 200px;
}
.stars {
  padding: 0;
  margin: 0 4px 0 0;
  list-style-type: none;
  display: inline-block;
}
/* End Single Page --- */
/* --- Begin Debate */
.debate .debate-right h1 {
  float: left;
}
.debate .debate-right .well {
  margin-left: 10px;
  margin-right: 0px;
}
.debate .debate-left {
  margin-top: 10px;
}
.debate .debate-left h1 {
  float: right;
}
.debate .debate-left .well {
  margin-right: 15px;
  margin-left: 0px;
}
.debate h1 {
  width: 65%;
}
.debate .well {
  width: 25%;
  margin-left: 10px;
  font-size: 11px;
  margin-bottom: 10px;
}
.debate-bar {
  height: 5px;
  margin-bottom: 0px;
}
.debate-value {
  margin: 10px 0px 15px 0px;
}
/* End Debate --- */
/* --- Begin Profile */
.profile {
  margin-bottom: 20px;
}
.profile .span6 {
  padding-top: 15px;
}
.profile h1 {
  font-size: 24px;
  font-weight: 400;
  margin: 0px;
  line-height: 24px;
  margin-bottom: 10px;
}
.profile h3 {
  margin: 0px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.profile .profile-picture {
  margin-right: 10px;
  margin-bottom: 10px;
}
.profile .profile-info {
  width: 63%;
  float: left;
}
.profile .profile-info a {
  font-weight: 400;
}
.profile .profile-info b {
  display: inline-block;
  min-width: 100px;
  font-size: 11.5px;
}
.profile .member-since {
  color: #777;
  padding-left: 30px;
  background: url("../_img/calendar-icon.png") left center no-repeat;
  display: inline-block;
}
.profile .member-post {
  padding-left: 30px;
  display: inline-block;
  background: url("../_img/post-icon.png") left center no-repeat;
}
.profile-articles .block-title {
  font-size: 18px;
  line-height: 26px;
  margin: 0px;
  margin-bottom: 10px;
}
.user-entry {
  margin-bottom: 10px;
  margin-top: 10px;
}
.user-entry h2 {
  font-size: 18px;
}
.user-entry h2 a {
  font-weight: 400;
}
.user-entry .user-picture {
  margin-right: 15px;
}
/* End Profile --- */
/* --- Begin Registration and Login Form */
.quetzal-form {
  padding-right: 30px;
}
.quetzal-form:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.zend_form dt {
  float: left;
  margin-right: 3.8%;
  width: 39.45%;
}
.zend_form input[type="text"],
.zend_form input[type="password"],
.zend_form textarea {
  width: 100%;
}
.zend_form dd {
  margin-left: 0;
  width: 56.75%;
  float: left;
}
.zend_form #fieldset-newsletter dd {
  margin-left: 0;
  width: 8%;
  float: left;
}
.zend_form #fieldset-newsletter dt {
  float: right;
  margin-right: 3.8%;
  width: 86%;
  margin-bottom: 10px;
}
.zend_form #attributes-element {
  width: 100%;
}
.zend_form #attributes-element #attributes-gender-male {
  margin-right: 10px;
}
.zend_form #attributes-element #attributes-gender-female {
  margin-right: 10px;
}
.zend_form #attributes-element label[for="attributes-gender-female"] {
  margin-top: -15px;
  margin-bottom: 10px;
}
.zend_form #attributes-element #attributes-first_name_public-element,
.zend_form #attributes-element #attributes-last_name_public-element,
.zend_form #attributes-element #attributes-email_public-element {
  float: left;
  margin-top: -10px;
}
.zend_form #attributes-element #attributes-first_name_public-element input[type="radio"],
.zend_form #attributes-element #attributes-last_name_public-element input[type="radio"],
.zend_form #attributes-element #attributes-email_public-element input[type="radio"],
.zend_form #attributes-element #attributes-first_name_public-element input[type="checkbox"],
.zend_form #attributes-element #attributes-last_name_public-element input[type="checkbox"],
.zend_form #attributes-element #attributes-email_public-element input[type="checkbox"] {
  height: 40px;
}
.zend_form #submit-element {
  margin-bottom: 10px;
}
/* End Registration and Login Form --- */
/***************************** */
/******** End Layout ********* */
/***************************** */