body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    background-color: #FFFFFF
}

a {
    color: #787878;
}

a:visited {
    color: #787878;
}

a:hover {
    color: #787878;
}

.center {
    text-align: center;
}
.center table {
    margin: auto;
}

.notice {
    color: red;
    font-weight: bold;
}

.table1 {
    border: 0px;
}

.table1 td {
    background-color: #000066;
}

.table2 {
    background-color: #D3DCE3;
    border: 0px;
}

.table2 td {
    background-color: #D3DCE3;
}

#table3 {
    width: 700px;
    border: 1px solid #000;
}

#table4 {
    width: 700px;
    border: 0px;
}