/* Header styles */
#header {
  clear:both;
  float:left;
  width: 970px;
}
/* column container */
.colmask {
  position:relative;  /* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
  clear:both;
  float:left;
  width: 970px;
  overflow:hidden;  /* This chops off any overhanging divs */
}
	/* 2 column right menu settings */
.rightmenu {
}
.rightmenu .colleft {
  float:left;
  width:200%;
  margin-left:-325px;
  position:relative;
  right:100%;
}
.rightmenu .col1wrap {
  float:left;
  width:50%;
  position:relative;
  left:50%;
}
.rightmenu .col1 {
/* TEXT */
  margin:0 10px 0 520px;
  overflow:hidden;
}
.rightmenu .col2 {
/* TEXT */
  float:right;
  position:relative;
  width: 305px;
  left: 325px;
  background: #f9f9f9;
  padding: 10px;
}
/* Footer styles */
#footer {
  clear:both;
  float:left;
  width: 970px;
}