#app {
    font-size: 0.8em;
    padding: 13px;
}

#app table {
    margin: 8px 0;
}

#app input[type="number"] {
    border: 1px solid #ccc;
}

#ips-table {
    width: 99%;
}

#ips-table input {
    width: 55px;
}
