@charset "utf-8";
/* CSS Document */


button, input[type="submit"], button.prime, input[type="submit"].prime {
	margin:0 6px 0 0;
	background: -moz-linear-gradient(center top , #FAFAFA 0%, #F6F6F6 100%);
	background: linear-gradient(top, #FAFAFA 0%, #F6F6F6 100%);
	background: -webkit-linear-gradient(top, #FAFAFA 0%, #F6F6F6 100%);
	border: 1px solid #9D9D9D;
	color: #444444;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
	outline: medium none;
	padding: 3px 9px;
    z-index: 2000;
	}
	button:hover, input[type="submit"]:hover {
		background: -moz-linear-gradient(center top , #FAFAFA 0%, #eaeaea 100%);
		background: linear-gradient(top, #FAFAFA 0%, #eaeaea 100%);
		background: -webkit-linear-gradient(top, #FAFAFA 0%, #eaeaea 100%);
		border: 1px solid #818181;
		color: #000;
		box-shadow:0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 1) inset;
		}
	button:active, input[type="submit"]:active {
		background: -moz-linear-gradient(center top , #FAFAFA 0%, #F6F6F6 100%);
		background: linear-gradient(top, #FAFAFA 0%, #F6F6F6 100%);
		background: -webkit-linear-gradient(top, #FAFAFA 0%, #F6F6F6 100%);
		border: 1px solid #9D9D9D;
		color: #000;
		box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
		}
button.prime, input[type="submit"].prime {
	background: -moz-linear-gradient(center top , #2290bd 0%, #007fb3 100%);
	background: linear-gradient(top, #2290bd 0%, #007fb3 100%);
	background: -webkit-linear-gradient(top, #2290bd 0%, #007fb3 100%);
	border: 1px solid #007fb3;
	color: #FFF;
	}
	button.prime:hover, input[type="submit"].prime:hover {
		background: -moz-linear-gradient(center top , #409FC6 0%, #007fb3 100%);
		background: linear-gradient(top, #409FC6 0%, #007fb3 100%);
		background: -webkit-linear-gradient(top, #409FC6 0%, #007fb3 100%);
		border: 1px solid #005E85;
		box-shadow:0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 0px rgba(255, 255, 255, 0.3) inset;
		}
	button.prime:active, input[type="submit"].prime:active {
		background: -moz-linear-gradient(center top , #409FC6 0%, #007fb3 100%);
		background: linear-gradient(top, #409FC6 0%, #007fb3 100%);
		background: -webkit-linear-gradient(top, #409FC6 0%, #007fb3 100%);
		border: 1px solid #005E85;
		box-shadow:0 1px 2px rgba(0, 0, 0, 0.4) inset;
		}




/* Bootstrap Buttons //////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/
.btn {
	display: inline-block;
	padding: 3px 12px;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 17px;
	text-decoration:none;
	color: #444444;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #FAFAFA, #F6F6F6);
	background-image: -ms-linear-gradient(top, #FAFAFA, #F6F6F6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAFAFA), to(#F6F6F6));
	background-image: -webkit-linear-gradient(top, #FAFAFA, #F6F6F6);
	background-image: -o-linear-gradient(top, #FAFAFA, #F6F6F6);
	background-image: linear-gradient(top, #FAFAFA, #F6F6F6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#F6F6F6', GradientType=0);
	border: 1px solid #9d9d9d;
	cursor: pointer;
	*margin-left: .3em;
	}
	.btn:hover {
		background-color: #eaeaea;
		background: -moz-linear-gradient(center top , #FAFAFA 0%, #eaeaea 100%);
		background: linear-gradient(top, #FAFAFA 0%, #eaeaea 100%);
		background: -webkit-linear-gradient(top, #FAFAFA 0%, #eaeaea 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#eaeaea', GradientType=0);
		border: 1px solid #818181;
		color: #000;
		box-shadow:0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 1) inset;
		-webkit-transition: background-position 0.1s linear;
		-moz-transition: background-position 0.1s linear;
		-ms-transition: background-position 0.1s linear;
		-o-transition: background-position 0.1s linear;
		transition: background-position 0.1s linear;
		}
	.btn:active, .btn.active, .btn.active:hover  {
		background-color: #F6F6F6;
		background: -moz-linear-gradient(center top , #FAFAFA 0%, #F6F6F6 100%);
		background: linear-gradient(top, #898989 0%, #FAFAFA 100%);
		background: -webkit-linear-gradient(top, #898989 0%, #F6F6F6 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#F6F6F6', GradientType=0);
		border: 1px solid #9D9D9D;
		color: #000;
		box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
		-webkit-transition: background-position 0.1s linear;
		-moz-transition: background-position 0.1s linear;
		-ms-transition: background-position 0.1s linear;
		-o-transition: background-position 0.1s linear;
		transition: background-position 0.1s linear;
		}
		.btn.active:hover  {
			cursor:default;
			}

.btn-group {
	position: relative;
	*zoom: 1;
	*margin-left: .3em;
}
.btn-group:before, .btn-group:after {
	display: table;
	content: "";
}
.btn-group:after {
	clear: both;
}
.btn-group:first-child {
	*margin-left: 0;
}
.btn-group.pull-right {
	float:right;
	}

.btn-group .btn {
    border-radius: 0 0 0 0;
    float: left;
    margin-left: -1px;
    position: relative;
	}
	.btn-group .btn:active, .btn-group .btn.active, .btn-group .btn.active:hover  {
		background-color: #898989;
		background: -moz-linear-gradient(center top , #898989 0%, #9a9a9a 100%);
		background: linear-gradient(top, #898989 0%, #9a9a9a 100%);
		background: -webkit-linear-gradient(top, #898989 0%, #9a9a9a 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#898989', endColorstr='#9a9a9a', GradientType=0);
		border: 1px solid #626262;
		color: #f4f4f4;
		text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
		box-shadow:0 2px 2px rgba(0, 0, 0, 0.3) inset;
		-webkit-transition: background-position 0.1s linear;
		-moz-transition: background-position 0.1s linear;
		-ms-transition: background-position 0.1s linear;
		-o-transition: background-position 0.1s linear;
		transition: background-position 0.1s linear;
		}
		.btn-group .btn.active:hover  {
			cursor:default;
			}
	.btn-group .btn:first-child {
		margin-left: 0;
		-webkit-border-top-left-radius: 3px;
		-moz-border-radius-topleft: 3px;
		border-top-left-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-bottomleft: 3px;
		border-bottom-left-radius: 3px;
		}
	.btn-group .btn:last-child {
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topright: 3px;
		border-top-right-radius: 3px;
		-webkit-border-bottom-right-radius: 3px;
		-moz-border-radius-bottomright: 3px;
		border-bottom-right-radius: 3px;
		}

/* ICONS //////////////////////////////////////////////////////////////////////////*/	
		
[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url(images/glyphicons-halflings.png);
	background-position: 14px 14px;
	background-repeat: no-repeat;
	*margin-right: .3em;
}
[class^="icon-"]:last-child, [class*=" icon-"]:last-child {
	*margin-left: 0;
}
.icon-white {
	background-image: url(images/glyphicons-halflings-white.png);
}
.icon-glass {
  background-position: 0      0;
}
.icon-music {
  background-position: -24px 0;
}
.icon-search {
  background-position: -48px 0;
}
.icon-envelope {
  background-position: -72px 0;
}
.icon-heart {
  background-position: -96px 0;
}
.icon-star {
  background-position: -120px 0;
}
.icon-star-empty {
  background-position: -144px 0;
}
.icon-user {
  background-position: -168px 0;
}
.icon-film {
  background-position: -192px 0;
}
.icon-th-large {
  background-position: -216px 0;
}
.icon-th {
  background-position: -240px 0;
}
.icon-th-list {
  background-position: -264px 0;
}
.icon-ok {
  background-position: -288px 0;
}
.icon-remove {
  background-position: -312px 0;
}
.icon-zoom-in {
  background-position: -336px 0;
}
.icon-zoom-out {
  background-position: -360px 0;
}
.icon-off {
  background-position: -384px 0;
}
.icon-signal {
  background-position: -408px 0;
}
.icon-cog {
  background-position: -432px 0;
}
.icon-trash {
  background-position: -456px 0;
}
.icon-home {
  background-position: 0 -24px;
}
.icon-file {
  background-position: -24px -24px;
}
.icon-time {
  background-position: -48px -24px;
}
.icon-road {
  background-position: -72px -24px;
}
.icon-download-alt {
  background-position: -96px -24px;
}
.icon-download {
  background-position: -120px -24px;
}
.icon-upload {
  background-position: -144px -24px;
}
.icon-inbox {
  background-position: -168px -24px;
}
.icon-play-circle {
  background-position: -192px -24px;
}
.icon-repeat {
  background-position: -216px -24px;
}
.icon-refresh {
  background-position: -240px -24px;
}
.icon-list-alt {
  background-position: -264px -24px;
}
.icon-lock {
  background-position: -287px -24px;
}
.icon-flag {
  background-position: -312px -24px;
}
.icon-headphones {
  background-position: -336px -24px;
}
.icon-volume-off {
  background-position: -360px -24px;
}
.icon-volume-down {
  background-position: -384px -24px;
}
.icon-volume-up {
  background-position: -408px -24px;
}
.icon-qrcode {
  background-position: -432px -24px;
}
.icon-barcode {
  background-position: -456px -24px;
}
.icon-tag {
  background-position: 0 -48px;
}
.icon-tags {
  background-position: -25px -48px;
}
.icon-book {
  background-position: -48px -48px;
}
.icon-bookmark {
  background-position: -72px -48px;
}
.icon-print {
  background-position: -96px -48px;
}
.icon-camera {
  background-position: -120px -48px;
}
.icon-font {
  background-position: -144px -48px;
}
.icon-bold {
  background-position: -167px -48px;
}
.icon-italic {
  background-position: -192px -48px;
}
.icon-text-height {
  background-position: -216px -48px;
}
.icon-text-width {
  background-position: -240px -48px;
}
.icon-align-left {
  background-position: -264px -48px;
}
.icon-align-center {
  background-position: -288px -48px;
}
.icon-align-right {
  background-position: -312px -48px;
}
.icon-align-justify {
  background-position: -336px -48px;
}
.icon-list {
  background-position: -360px -48px;
}
.icon-indent-left {
  background-position: -384px -48px;
}
.icon-indent-right {
  background-position: -408px -48px;
}
.icon-facetime-video {
  background-position: -432px -48px;
}
.icon-picture {
  background-position: -456px -48px;
}
.icon-pencil {
  background-position: 0 -72px;
}
.icon-map-marker {
  background-position: -24px -72px;
}
.icon-adjust {
  background-position: -48px -72px;
}
.icon-tint {
  background-position: -72px -72px;
}
.icon-edit {
  background-position: -96px -72px;
}
.icon-share {
  background-position: -120px -72px;
}
.icon-check {
  background-position: -144px -72px;
}
.icon-move {
  background-position: -168px -72px;
}
.icon-step-backward {
  background-position: -192px -72px;
}
.icon-fast-backward {
  background-position: -216px -72px;
}
.icon-backward {
  background-position: -240px -72px;
}
.icon-play {
  background-position: -264px -72px;
}
.icon-pause {
  background-position: -288px -72px;
}
.icon-stop {
  background-position: -312px -72px;
}
.icon-forward {
  background-position: -336px -72px;
}
.icon-fast-forward {
  background-position: -360px -72px;
}
.icon-step-forward {
  background-position: -384px -72px;
}
.icon-eject {
  background-position: -408px -72px;
}
.icon-chevron-left {
  background-position: -432px -72px;
}
.icon-chevron-right {
  background-position: -456px -72px;
}
.icon-plus-sign {
  background-position: 0 -96px;
}
.icon-minus-sign {
  background-position: -24px -96px;
}
.icon-remove-sign {
  background-position: -48px -96px;
}
.icon-ok-sign {
  background-position: -72px -96px;
}
.icon-question-sign {
  background-position: -96px -96px;
}
.icon-info-sign {
  background-position: -120px -96px;
}
.icon-screenshot {
  background-position: -144px -96px;
}
.icon-remove-circle {
  background-position: -168px -96px;
}
.icon-ok-circle {
  background-position: -192px -96px;
}
.icon-ban-circle {
  background-position: -216px -96px;
}
.icon-arrow-left {
  background-position: -240px -96px;
}
.icon-arrow-right {
  background-position: -264px -96px;
}
.icon-arrow-up {
  background-position: -289px -96px;
}
.icon-arrow-down {
  background-position: -312px -96px;
}
.icon-share-alt {
  background-position: -336px -96px;
}
.icon-resize-full {
  background-position: -360px -96px;
}
.icon-resize-small {
  background-position: -384px -96px;
}
.icon-plus {
  background-position: -408px -96px;
}
.icon-minus {
  background-position: -433px -96px;
}
.icon-asterisk {
  background-position: -456px -96px;
}
.icon-exclamation-sign {
  background-position: 0 -120px;
}
.icon-gift {
  background-position: -24px -120px;
}
.icon-leaf {
  background-position: -48px -120px;
}
.icon-fire {
  background-position: -72px -120px;
}
.icon-eye-open {
  background-position: -96px -120px;
}
.icon-eye-close {
  background-position: -120px -120px;
}
.icon-warning-sign {
  background-position: -144px -120px;
}
.icon-plane {
  background-position: -168px -120px;
}
.icon-calendar {
  background-position: -192px -120px;
}
.icon-random {
  background-position: -216px -120px;
}
.icon-comment {
  background-position: -240px -120px;
}
.icon-magnet {
  background-position: -264px -120px;
}
.icon-chevron-up {
  background-position: -288px -120px;
}
.icon-chevron-down {
  background-position: -313px -119px;
}
.icon-retweet {
  background-position: -336px -120px;
}
.icon-shopping-cart {
  background-position: -360px -120px;
}
.icon-folder-close {
  background-position: -384px -120px;
}
.icon-folder-open {
  background-position: -408px -120px;
}
.icon-resize-vertical {
  background-position: -432px -119px;
}
.icon-resize-horizontal {
  background-position: -456px -118px;
}

/* CUSTOM ICONS //////////////////////////////////////////////////////////////////////////*/

[class^="viewmode-"], [class*=" viewmode-"] {
	display: inline-block;
	width: 26px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url(images/icons_view_mode.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	*margin-right: .3em;
	margin-top:1px;
}
.viewmode-list {
	background-position: 0 0;
	}
	.btn:active .viewmode-list, .btn.active .viewmode-list {
		background-position: -40px 0;
		}
.viewmode-grid {
	background-position: 0 -25px;
	}
	.btn:active .viewmode-grid, .btn.active .viewmode-grid {
		background-position: -40px -25px;
		}
