#ingest .items {
    height: 1%;
    overflow: hidden;
    min-width: 840px;
    max-width: 1680px;
    margin: 13px 0;
    padding: 0;
}

#ingest .clearfix {
    clear: both;
}

#ingest .items > li {
    float: left;
    margin: 0 8px 8px 0;
    padding: 0;
    background-color: #fff;
}

#ingest .items a {
    display: block;
    padding: 5px;
    color: #333;
    background-color: #fff;
    position: relative;
}

#ingest .items a:hover {
    color: #fff;
    background-color: #000;
}

#ingest .items .preview {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

#ingest .items .preview p {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-family: serif;
}

#ingest .items .preview p:first-line {
    margin-right: 40px;
}

#ingest .items time {
    float: right;
    padding: 3px;
    opacity: 0.8;
    color: #fff;
    background-color: #000;
}

#ingest .items .icls_picture time {
    float: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

#ingest .items .urgency {
    position: absolute;
    left: 5px;
    bottom: 5px;
    padding: 3px;
    color: #fff;
    background-color: #000;
    opacity: 0.8;
}

#ingest .items .urgency.level-1 {
    background-color: #f57900;
    opacity: 1;
}

#ingest .items .urgency.level-2,
#ingest .items .urgency.level-3 {
    background-color: #75507b;
}

#ingest .items .urgency.level-4,
#ingest .items .urgency.level-5 {
    background-color: #3465a4;
}

#ingest h1 {
    overflow: hidden;
}

#ingest .detail .publish:hover {
    background-color: #000;
}

#ingest .filters {
    margin: 13px 0;
    padding: 0 5px;
    font-size: 1.3em;
    color: #2e3436;
}

#ingest .inline-content {
    float: left;
    clear: left;
    margin: 0 0 13px;
    padding: 5px;
    background-color: #fff;
}

#ingest .inline-content p {
    float: left;
    clear: left;
    margin: 8px 0 0;
    padding: 0;
    font-family: serif;
    font-size: 1.5em;
    line-height: 1.3em;
}

#ingest .inline-content p:first-child {
    margin-top: 0;
}

#ingest .controls {
    float: right;
    font-size: 1.3em;
    color: #2e3436;
}

#ingest .detail .controls {
    float: none;
    clear: both;
    height: 1%;
    overflow: hidden;
}

#ingest .detail .publish {
    float: left;
    display: block;
    padding: 5px;
    margin: 0 8px 13px 0;
    color: #fff;
    background-color: #4e9a06;
}

#ingest .detail .thumbnail {
    clear: both;
    width: 150px;
    height: 150px;
    padding: 5px;
    background-color: #fff;
}

#ingest .detail .renditions {
    margin: 8px 0;
    padding: 5px;
    font-size: 1.3em;
    font-family: monospace;
}

#ingest .status {
    position: absolute;
    bottom: 5px;
    right: 5px ;
    padding: 5px;
    color: #fff;
    background-color: #4e9a06;
    opacity: 0.8;
    font-size: 1.3em;
}

#ingest h1 .settings {
    float: right;
    font-size: 0.75em;
}

#ingest .feeds {
    margin: 0 0 13px;
    padding: 0;
}

#ingest .feeds li {
    margin: 0 0 8px;
    padding: 5px;
    background-color: #fff;
    font-size: 1.3em;
}

#ingest .detail .thumbnail {
    display: inline-block;
    width: auto;
    height: auto;
}

#ingest .detail .item {
    float: left;
}

#ingest .detail .meta {
    float: left;
    width: 200px;
    margin: 0 13px;
    padding: 5px;
    background-color: #fff;
    border: none;
}

#ingest .detail .meta dt {
    margin-top: 8px;
}

#ingest .detail .meta dt:first-child {
    margin-top: 0;
}

#ingest .detail .meta dd {
    margin-top: 2px;
}

#ingest .detail {
    height: 1%;
    overflow: hidden;
}
