#next input[type=text] {
	border:#9d9d9d solid 1px;
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);
	height: 18px !important;
	margin: 0 5px 0 0;
	}

ul.renditions,
ul.slideshow {
	padding:5px 7px; margin:0;
	box-shadow:inset 0 2px 4px rgba(0,0,0,0.2), inset 0 -2px 2px rgba(0,0,0,0.1);
	}
	ul.renditions.editor {box-shadow:inset 0 2px 2px rgba(0,0,0,0.2);}
	ul.renditions li,
	ul.slideshow li,
	ul.thumbnails li {
		background:none;
		border:#b0b0b0 solid 1px;
		border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
		}
		ul.renditions li:hover,
		ul.slideshow li:hover,
		ul.thumbnails li:hover {
			border:#808080 solid 1px;
			box-shadow:0 1px 3px rgba(0,0,0,0.25);
			}
		ul.renditions li.state-active, ul.renditions li.state-active:hover,
		ul.renditions li.active, ul.renditions li.active:hover {
			background:#d9eaf9;
			border:#007fb3 solid 1px !important;
			box-shadow:0 1px 5px rgba(0,0,0,0.25);
			}
			ul.renditions li dl.rendition .preview,
			ul.renditions li.state-active dl.rendition .preview {border-color:#4e4e4e;}
			ul.renditions li dl dd.name {display:none;}
			ul.renditions li dl.rendition dd small {
				display:block;
				padding:5px 0;
				font-size:12px; color:#2e2e2e; text-shadow:0 1px 1px #fff; text-align:center;
				}
	ul.thumbnails li {background:#fff;}
	ul.renditions li {background:#dddddd;}
	
	ul.slideshow li {
		padding-top:18px;
		background:url(images/slideshow-item-top.png) 5px 4px no-repeat #ebebeb;
		box-shadow:0 1px 5px rgba(0,0,0,0.25);
		border:#929292 solid 1px;
		}
		ul.slideshow li:hover {
			border:#646464 solid 1px;
			box-shadow:0 1px 2px rgba(0,0,0,0.55);
			}
		ul.slideshow li.active, ul.slideshow li.active:hover {
			border:#007fb3 solid 1px !important;
			box-shadow:0 1px 5px rgba(0,0,0,0.25);
			}
		ul.slideshow li.placeholder, ul.slideshow li.placeholder:hover {
			height:84px;
			padding-top:65px;
			font-size:12px; font-weight:bold; color:#787878; text-align:center; text-shadow:0 1px 1px #fff;
			background-image:none;
			box-shadow:none;
			border: 2px dashed #B0B0B0;
			}
		.slideshow a figcaption {
			overflow:hidden;
			height:28px;
			}
		ul.slideshow li a.remove {
			right:1px;
			top:3px;
			width:14px; height:11px;
			text-indent:-9999px;
			background:none;
			padding:0 !important;
			background:#ebebeb url(images/slide_delete.png) no-repeat 2px 0;
			opacity:1;
			}
			ul.slideshow li a.remove:hover {
				background-position:2px -11px;
				}

.popup-tabs {
	padding-top:10px;
	background:#f5f5f5;
	border:#cccccc solid 1px !important;
	border-width:1px 0 0 0 !important;
	}
	.popup-tabs ul.ui-tabs-nav {
		padding:3px 0 0; margin: 0 6px 6px 8px;
		background:none;
		border:0; border-bottom:#9d9d9d solid 1px;
		}
		.popup-tabs ul.ui-tabs-nav li {margin-right:5px;}
		.popup-tabs ul.ui-tabs-nav li.ui-tabs-selected {background:#f5f5f5;}

	#next .button {
		padding: 3px 9px 2px 9px;
		color: #444444; font-family: Arial,Helvetica,sans-serif; font-size: 12px; font-weight: normal; line-height: 17px;
		margin: 0 6px 0 0;
		outline: medium none;
		background: -moz-linear-gradient(center top , #FAFAFA 0pt, #F6F6F6 100%) repeat scroll 0 0 transparent;
		border: 1px solid #9D9D9D;
		
		}
		#next .button:hover {
			background: -moz-linear-gradient(center top , #2390BD 0pt, #007FB3 100%) repeat scroll 0 0 transparent;
    		border: 1px solid #007FB3;
    		color: #FFFFFF;
			}

#next .editarea,
#next .top-shadow {box-shadow:inset 0 1px 4px rgba(0,0,0,0.1);}
	#next .top-shadow {margin:0; padding:10px;
	}
	#next .editarea > div {
		position:relative;
		}
	#next .editarea h2 {
		padding:0;
		font-size:13px; color:#444444;
		}
		#next .editarea h2 small {
			color:#7f7f7f; font-style:italic;
			}
	#next .editarea input[type="text"] {
    	width: 98.5%;
		margin:3px 0 3px 0;
		}
	#next .editarea div#editor {
		display:block;
		padding:6px 126px 6px 6px;
		background:#d9d9d9;
		border:1px solid #b0b0b0;
		box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);
		min-height:32px;
		}
		#next .editarea div#editor img{
			margin-right:120px;
			}

	#next .editarea > div .save-button {
		position:absolute; top:41px; right:7px;
		color:#fff;
		border:1px solid #007fb3;
		min-width:114px;
		}
		
#image-archive {
	padding-top:10px;
	}
	#image-archive .paginationControl {
        color: #f5f5f5;
		padding:3px 0 4px 8px;
		}
		#image-archive .paginationControl span,
		#image-archive .paginationControl a {
			display:inline-block;
			color:#3b3b3b; font-size:12px;
			padding:3px 12px;
			border:#9d9d9d solid 1px;
			}
			#image-archive .paginationControl span {
				color:#dbdbdb;
				border:#e5e5e5 solid 1px;
				}

#next .inline {
	padding: 0 10px;
}
#next .inline.top-shadow {
	padding: 10px;
}
#next #image-search {
	margin: 12px 8px 0 8px;
}
#next #image-search button {
	font-size:13px !important;
}
