.map_preview_info {
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 4px;
    height: 24px;
    font-size: 18px;
}

.geomap_locations {
    float: left;
    width: 150px;
    margin-left: 20px;
    font-size: 90%;
}
.geomap_mappart {}
.geomap_container {
    width: 800px;
    height: 500px;
}


