#next.iframe {
    background-color: #f8f8f8;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
#next.iframe h1 {
    padding: 5px 12px;
}
#next.iframe h1 span {
    margin-top: -3px;
}
#modal-top .toolbar {
    padding: 7px 20px 8px 0px;
    min-height: initial;
    background: #fff;
    z-index: 100000;
}
#next.iframe h2 {
    background: #424242;
    background-image: -webkit-linear-gradient(top, #1a1a1a 0%, #333333 100%);
    background-image: -o-linear-gradient(top, #1a1a1a 0%, #333333 100%);
    background-image: linear-gradient(to bottom, #1a1a1a 0%, #333333 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a1a1a', endColorstr='#ff333333', GradientType=0);
    color: white;
    font-size: 12px; 
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 11px 16px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #3e3e3e;
    box-shadow: inset 0 6px 20px rgba(0,0,0,.2), inset 0 1px 0 rgba(255,255,255,.4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 174px;
}
#next.iframe .content {
}
#next .inline {    
    margin: 0 0 0 10px;
    padding: 0px 26px;
    position: absolute;
    top: 8px;
    left: 140px;
    border-left: 1px solid #4d4d4d;
}
#next .inline button {
    background-image: -webkit-linear-gradient(top, #f6f5f6 0%, #e8e5e8 100%);
    background-image: -o-linear-gradient(top, #f6f5f6 0%, #e8e5e8 100%);
    background-image: linear-gradient(to bottom, #f6f5f6 0%, #e8e5e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f5f6', endColorstr='#ffe8e5e8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border: 1px solid #cecece;
    text-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    padding: 3px 8px;
    }
    #next .inline button:hover {
        background-color: #e8e5e8;
        background-position: 0 -25px;
    }
    #next .inline button:active {
        background-color: #d9d5d9;
        border-color: #d4cfd4;
        background-image: none;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

ul.thumbnails {
    background: #4d4d4d;
    padding: 4px 12px 0 12px;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 170px;
    overflow-y: auto;
}
ul.thumbnails li {
    padding: 10px 8px;
    border: 1px solid #000;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 2px 0 rgba(0,0,0,1);
    width: 122px;
    }
    ul.thumbnails li:hover {
        box-shadow: 0 2px 0 rgba(0,0,0,1), 0 0 16px rgba(0,0,0,1);
        border: 1px solid #000;
        background: #fafafa;
    }
    ul.thumbnails img {
        border: none;
    }
    ul.thumbnails figure div {
        min-height: 105px;
    }
    ul.thumbnails figure label {
        font-size: 12px;
    }

ul.renditions {
    background: #f8f8f8;
    padding: 5px 12px;
    box-shadow: none;
    position: absolute;
    top: 45px;
    bottom: 214px;
    left: 0;
    right: 0;
    overflow-y: auto;
    display: block;
    box-sizing: border-box;
    height: auto;
    border-top: 1px solid #ddd;
    }
    ul.renditions li {
        background: #fff;
        padding: 0;
        margin: 7px 6px;
        border: #d4d4d4 solid 1px;
        width: 168px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        box-shadow: 0 2px 0 rgba(212,212,212,1);
        }
        ul.renditions li:hover {
            border: 1px solid #707070;
            box-shadow: 0 2px 0 rgba(112,112,112,1);
        }
        ul.renditions li dl.rendition .preview, ul.renditions li.state-active dl.rendition .preview {
            border: none;
        }
        ul.renditions li.active {
            background: #d9eaf9;
        }
        ul.renditions li.active dl.rendition dd {
            background: #cfe1f1;
        }
        ul.renditions li.active dl.rendition dd.name {
            border-top: 1px solid #c7dbeb;
        }

        ul.renditions li dl.rendition dt {
            padding: 8px;
            }
            ul.renditions li dl.rendition dd {
                margin: 0;
                padding: 0;
                background: #fafafa;
                }
                ul.renditions li dl.rendition dd.name {
                    border-top: 1px solid #e6e6e6;
                    color: #808080 !important;
                    padding: 3px 0 0;
                    }
.renditions .reset {
    background: #007fb3;
    right: 10px;
    top: 8px;
    padding: 3px 5px;
    }

.save-button {
    padding: 4px 12px;
    margin-right: 40px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-image: -webkit-linear-gradient(top, #2591be 0%, #207da4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2591be), to(#207da4));
    background-image: linear-gradient(to bottom, #2591be 0%, #207da4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2591be', endColorstr='#ff207da4', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #1d7093;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 rgba(255, 255, 255, 0.3);
    }
    .save-button:hover,
    #next button:hover {
        background-color: #207da4;
        background-position: 0 -25px;
        background-image: none;
    }
    .save-button:active,
    #next button:active {
        background-color: #1b6a8b;
        border-color: #196382;
        background-image: none;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }


/* Editor classes */
.editor-wrapper {
    /*margin-top: 45px;*/
    position: absolute;
    top: 45px;
    bottom: 6px;
    left: 0;
    right: 0;
    border-top: 1px solid #ddd;
}
ul.renditions.editor {
    background: #f5f5f5;
    box-shadow: none;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 3px 0px 3px 6px;
    width: 475px;
    border: none;
    }
    ul.renditions.editor li {
        width: 136px;
    }
    ul.renditions.editor li dl.rendition dt {
        height: 122px;
    }
#next .editarea h2 {
    background: #f8f8f8;
    background-image: none;
    color: #333;
    box-shadow: none;
    border: none;
    text-transform: none;
    font-size: 13px;
    top: 0;
    bottom: auto;
    padding: 6px 10px;
}
#next .editarea {
    background: #f8f8f8;
    box-shadow: none;
    position: absolute;
    left: 475px;
    right: 0;
    top: 0px;
    bottom: 0;
    border-left: 1px solid #DDD;
    overflow: auto;
    padding: 0 10px;
}
#next .editarea > div .save-button {
    top: 42px;
}
#next .editarea div#editor {
    display: block;
    padding: 10px 126px 10px 10px;
    background: #f8f8f8;
    box-shadow: none;
    min-height: 32px;
    border: 2px dashed #ccc;
    margin: 30px 0 5px 0;
}

/* Media query */
@media only screen and (max-width: 1290px) {
    ul.renditions.editor {
        width: 325px;
    }
    #next .editarea {
        left: 325px;
    }
}
@media only screen and (max-width: 1160px) {
    ul.renditions.editor {
        width: 175px;
    }
    #next .editarea {
        left: 175px;
    }
}