/* dashboard */
.context > .widget, .widget-placeholder {
    position: relative;
    margin-top: 13px;
    display: block;
}

.ui-dialog.widget {
    width: auto;
    position: relative;
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.10);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.10);
    box-shadow: 0 2px 2px rgba(0,0,0,.10);
}

.widget-placeholder {
    border: 3px dashed #ccc;
}

.widget > .content > .scroll {
    margin-top: 3px;
    padding: 0 3px 3px 0;
    max-height: 400px;
    overflow: auto;
}

.widget .header h3 {
    margin: 0 0;
    padding: 0;
    font-size: 12px;

}

.widget .header a {
    float: right;
    margin: -2px 0 0 5px;
    border: none;
}

#dashboard {
    height: 1%;
    overflow: hidden;
    margin: 0 0 0 30px;
}

#dashboard .dataTables_wrapper {
    margin: 10px 10px;
}

#dashboard > .column {
    float: left;
    width: 50%;
    min-height: 400px;
    max-width: 800px;
}

#dashboard > .column > .context {
    margin: 0 14px 0 0;
    padding: 0;
}

/* widget manager */
#widgets {
    height: 1%;
    max-width: 1000px;
    overflow: hidden;
    margin: 0 0 0 30px;
    padding: 0;
}

#widgets li {
    float: left;
    min-width: 300px;
    margin: 13px 14px 0 0;
    padding: 0;
    border: 1px solid #ccc;
	background:#FFF;
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.10);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.10);
    box-shadow: 0 2px 2px rgba(0,0,0,.10);

}

#widgets h3 {
    margin: 0 0 2px;
    padding: 8px;
	font-size: 1.6em;
	color:#444;
}

#widgets p {
    margin: 0 5px 8px 8px;
	font-size:1.2em;
}
#widgets a:hover {
	text-decoration:underline;
}
#widgets a.add {
	padding: 0 0 0 12px;
	background:url(images/small_add.png) no-repeat 0 3px;
}

dl.meta {
    background-color: #f9f9f9;
    border-top: 1px solid #e1e1e1;
    margin: 10px 0 0;
    padding: 8px;
    font-size: 1.1em;
}

dl.meta > * {
    margin: 0;
}

dl.meta dt {
    margin-top: 7px;
}
dl.meta dd {
    color:#565656;
}
dl.meta dt:first-child {
    margin-top: 0;
}

.widget .extra {
    position: absolute;
    top: 19px;
    right: 0;
}

.widget .extra fieldset, .widget .extra dl.meta {
    float: right;
    clear: right;
    margin: 0 0 5px;
    padding: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.widget .extra dl.meta {
    margin-top: 0;
}

.widget .extra fieldset input[type=text] {
    width: 21em;
}

.widget .settings fieldset dt {
    float: none;
    width: 99%;
}

.widget iframe { border: 1px solid #fff; }
