/* --------------------------------------------------------------------------------------
+
+	= Resets and global styles
+
+   Thanks:
+   - Paul Irish - http://html5boilerplate.com
+
-------------------------------------------------------------------------------------- */

/*
+  GLOBAL RESETS
-------------------------------------------------------------------------------------- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
input, textarea{ outline: none;}

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea { color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover,
a:active { outline: none; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; }
textarea { overflow: auto; }
.ie6 legend,
.ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
label,
input[type=button],
input[type=submit],
button { cursor: pointer; }
button,
input,
select,
textarea { margin: 0; }
input:valid,
textarea:valid {  }
input:invalid,
textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* Hide out highlight color --
    ::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
    ::selection { background:#FF5E99; color:#fff; text-shadow: none; }
*/
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after, section:before, section:after {  content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after, section:after { clear: both; }
.clearfix, section { zoom: 1; }

/*
+  FANCY STYLES
-------------------------------------------------------------------------------------- */
.left { float: left; }
.right { float: right; }
.first { margin-left:0 !important; }
.last { margin-right:0 !important; }
.hide {display: none; }
.visible { display: block !important; }
.empty { visibility: hidden !important; }

/* Usage <div class="hr"><hr /></div> */
.hr { clear: both; margin: 18px 0; background: transparent; border: none; border-top: 1px solid #bbb; }
    hr { visibility: hidden; font-size: 0; line-height: 0; height: 0; border: none; }

.accent, strong.accent, span.accent, em.accent { background: #ffffbf !important; color: inherit; padding: .25em; font-weight: bold; }
div.accent, p.accent { padding: 1.5em; }
.amp { font: italic 1.1em/10% "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", serif; }

/* jQuery UI Helpers -*/
    .ui-helper-hidden { display: none; }
    .ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
    .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
    .ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
    .ui-helper-clearfix { display: inline-block; }
    /* required comment for clearfix to work in Opera \*/
    * html .ui-helper-clearfix { height:1%; }
    .ui-helper-clearfix { display:block; }
    /* end clearfix */
    .ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
    .ui-tabs-panel{ display: block !important; }
    .ui-tabs-hide { display: none !important; }