#doc {
  width: 963px;
  margin-left: 15px;
}
#hd, #bd {
  width: 963px;
}
.yui-skin-sam .yui-dt table {
  width: 100%;
}
.yui-skin-sam .yui-dt th.yui-dt-col-name {
  width: 301px;
}
.yui-skin-sam .yui-dt .yui-dt-col-state1,
.yui-skin-sam .yui-dt .yui-dt-col-state2,
.yui-skin-sam .yui-dt .yui-dt-col-state3 {
  width: 133px;
  text-align: right;
}
#breadcrumbContainer {
  width: 100%;
  height: 28px;
  padding: 8px 0;
}
#searchContainer {
  float: right;
  width: 350px;
  text-align:right;
  font-size: 85%;
}
#dt_input {
  position: static;
  width: 200px;
}
#contentSelectContainer {
  float: left;
  width: 600px;
  text-align:left;
}
#contentSelectContainer .yui-button button {
  /*width: 123px;
  *width: 121px;
  _width: 118px;
  font-size: 85%;;*/
  line-height: 1.5
}
#controlsContainer {
  width: 100%;
  height: 28px;
  padding: 8px 0;
  text-align: center;
  position:relative;
}
#filterSelectContainer {
  position:absolute;
  left:0;
  top:8px;
  width: 35%;
  text-align: left;
}
#dataPaginator1, #dataPaginator2 {
  font-size: 12px;
  width: 100%;
  margin-left: 290px;
  text-align:left;
  float:left;
  padding-top:3px;
}
#dataPaginator1 {
  margin-bottom:8px;
}
#dataPaginator2 {
  margin-top: 8px;
  margin-bottom: 5px;
}
#dataPaginator1 a, #dataPaginator2 a {
  font-size: 12px;
}
#actionSelectContainer {
  position:absolute;
  right:0;
  top:8px;
  width: 40%;
  text-align: right;
}
li.yui-button-selectedmenuitem {
  background: url(./assets/images/checkbox.png) left center no-repeat;
}
#dt-dlg {visibility:hidden;border:1px solid #808080;background-color:#E3E3E3;}
#dt-dlg .hd {text-align:left;font-weight:bold;padding:1em;background:none;background-color:#E3E3E3;border-bottom:0;}
#dt-dlg .ft {text-align:right;padding:.5em;background-color:#E3E3E3;}
#dt-dlg .bd {font-size:85%;height:10em;margin:0 1em;overflow:auto;border:1px solid black;background-color:white;}
#dt-dlg .dt-dlg-pickercol {clear:both;padding:.5em 1em 2.5em;border-bottom:1px solid gray;}
#dt-dlg .dt-dlg-pickerkey {float:left;padding-top:.3em;}
#dt-dlg .dt-dlg-pickerbtns {float:right;}
.yui-skin-sam .mask {
  -moz-opacity: 0.6;
  opacity:.60;
  filter: alpha(opacity=60);
  background-color:#272727;
}
/* Container workarounds for Mac Gecko scrollbar issues */
.yui-panel-container.hide-scrollbars #dt-dlg .bd {
  /* Hide scrollbars by default for Gecko on OS X */
  overflow: hidden;
}
.yui-panel-container.show-scrollbars #dt-dlg .bd {
  /* Show scrollbars for Gecko on OS X when the Panel is visible  */
  overflow: auto;
}
#dt-dlg_c .underlay {overflow:hidden;}
.inprogress {position:absolute;} /* transitional progressive enhancement state */
.yui-dt-liner {/*white-space:nowrap;*/}

/* Class for marked rows */
.yui-skin-sam .yui-dt tr.mark,
.yui-skin-sam .yui-dt tr.mark td.yui-dt-asc,
.yui-skin-sam .yui-dt tr.mark td.yui-dt-desc,
.yui-skin-sam .yui-dt tr.mark td.yui-dt-asc,
.yui-skin-sam .yui-dt tr.mark td.yui-dt-desc {
  background-color: #ffdfdf;
}

/* custom styles for this example */
.dnd-class {
  opacity: 0.6;
  filter:alpha(opacity=60);
  color:blue;
  border: 2px solid gray;
}
#articlesTable {
  float: left;
}
#articlesTable tr {
  cursor: pointer;
}

/* calendar */
#cal1Container {
  display:none;
  position:absolute;
  z-index:1;
}
#cal2Container {
  display:none;
  position:absolute;
  z-index:1;
}
#dates {
  display:none;
}
// Topic filtering
#myAutoComplete {
  display:none;
  width:15em; /* set width here or else widget will expand to fit its container */
  padding-bottom:2em;
}
#myInput {
  visibility:hidden;
}
.match {
  font-weight:bold;
}
input.publish-date-single, input.publish-date-range {
  visibility:hidden;
}
div.message {
  padding: 10px 0 0 15px;
  width:948px;
  color: red;
  height:20px;
  text-align: center;
  font-weight: bold;
}
#contentSelectContainer .yui-button, #filterSelectContainer .yui-button {
  margin: auto 6px auto 0;
}
#actionSelectContainer .yui-button {
  margin: auto 0 auto 6px;
  float:right;
}